Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Update uri version
  Gemfile.lock
Labels: none

Update uri version (#1454)
  Gemfile.lock
Labels: none

Update rack version
  Gemfile.lock
Labels: none

Update rack version (#1455)
  Gemfile.lock
Labels: none

Update rack to 3.1.12
  Gemfile.lock
Labels: none

Update registration journey options
  data/role-type.yml
  data/setting-type.yml
Labels: content

Update json version
  Gemfile.lock
Labels: none

Update json version (#1461)
  Gemfile.lock
Labels: none

Update dependency
  Gemfile.lock
Labels: none

Update dependency (#1468)
  Gemfile.lock
Labels: none

Update note model
  app/models/note.rb
  spec/models/note_spec.rb
Labels: none

Update note model
  app/models/note.rb
  spec/models/note_spec.rb
Labels: none

Update sections method in module_decorator
  app/decorators/module_overview_decorator.rb
Labels: none

Update sections method in module_decorator
  app/decorators/module_overview_decorator.rb
Labels: none

Update registration journey options
  data/role-type.yml
  data/setting-type.yml
Labels: content

Update registration journey options
  data/role-type.yml
  data/setting-type.yml
Labels: content

comment out unneeded options so that release rc1.1.1 can happen
  data/role-type.yml
Labels: content

Update terraform config
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

comment out unneeded options so that release rc1.1.1 can happen
  data/role-type.yml
Labels: content

Update terraform config (#1476)
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

Update focus order to false in notes _form so that screenreaders do not autofocus to the log when doing a module
  app/views/notes/_form.html.slim
Labels: frontend

Update focus order to false in notes _form so that screenreaders do not autofocus to the log when doing a module
  app/views/notes/_form.html.slim
Labels: frontend

Update net-imap dependency
  Gemfile.lock
Labels: none

Update net-imap dependency (#1485)
  Gemfile.lock
Labels: none

Update terraform config
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform

More terraform updates
  terraform-azure/terraform-azure-app/main.tf
  terraform-azure/terraform-azure-database/main.tf
  terraform-azure/terraform-azure-remote-state/main.tf
Labels: terraform

Update config
  terraform-azure/terraform-azure-app/main.tf
Labels: terraform

Use secure env vars as per https://docs.prismacloud.io/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/bc-azure-235 and reformat terraform
  terraform-azure/terraform-azure-app/main.tf
Labels: terraform

Update terraform (#1486)
  terraform-azure/local.tf
  terraform-azure/terraform-azure-app/main.tf
  terraform-azure/terraform-azure-database/main.tf
  terraform-azure/terraform-azure-remote-state/main.tf
  terraform-azure/variables.tf
Labels: terraform

Add logging for queries over 5 seconds
  terraform-azure/terraform-azure-database/main.tf
Labels: terraform

Add logging for queries over 5 seconds (#1487)
  terraform-azure/terraform-azure-database/main.tf
Labels: terraform

Update Rack to 3.1.14
  Gemfile.lock
Labels: none

Update Rack to 3.1.14 (#1491)
  Gemfile.lock
Labels: none

Update rack-session
  Gemfile.lock
Labels: none

Update rack-session (#1492)
  Gemfile.lock
Labels: none

BV-sentry-config
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  config/application.rb
  config/initializers/sentry.rb
Labels: pipeline

Make label the same as heading for wcag 2.2. compliance, make it visually hidden so that it isn't redundantly repeating for sighted users.
  app/views/notes/_form.html.slim
Labels: frontend

Update role type list
  data/role-type.yml
Labels: content

change "" to '' in the label
  app/views/notes/_form.html.slim
Labels: frontend

Add a github action to run custom terraform commands while we clean up the infra. This will be removed in a pr after we have performed the required actions
  .github/workflows/tf-azure-custom-command.yml
Labels: pipeline
