Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

Update dependencies
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

Update picomatch dependency
  yarn.lock
Labels: none

Update net-imap dependency
  Gemfile.lock
Labels: none

Update basic-ftp and flatted dependencies
  package.json
  yarn.lock
Labels: none

Temporary update
  .trivyignore
  Gemfile.lock
Labels: none

Sanitize input
  app/controllers/training/pages_controller.rb
  config/initializers/markdown.rb
Labels: none

Enhance error handling in PagesController to check for content and module presence before rendering the show action
  app/controllers/training/pages_controller.rb
Labels: none

Add test for sanitizing HTML headers with special characters
  spec/helpers/content_helper_spec.rb
Labels: none

Update dependencies (#1740)
  .trivyignore
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

Replace reg ex with rails function
  config/initializers/markdown.rb
Labels: none

Update colours for progress indicator (#1749)
  app/assets/stylesheets/section-bar.scss
Labels: frontend

Update Readme to include more detail about Podman scripts
  README.md
Labels: Documentation

Update Readme
  README.md
  cms/CONTENTFUL.md
  data/KPI.md
Labels: Documentation

Add comment to clarify show action redirection logic
  app/controllers/training/pages_controller.rb
Labels: none

EYCDTK-1154 Update Readme (#1745)
  README.md
  app/controllers/training/pages_controller.rb
  cms/CONTENTFUL.md
  data/KPI.md
Labels: Documentation

Eycdtk 1076/incomplete character sanitisation (#1748)
  config/initializers/markdown.rb
  spec/helpers/content_helper_spec.rb
Labels: none

Update basic-ftp and nokogiri dependencies
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

Update yard dependency
  Gemfile.lock
Labels: none

Add comment
  app/controllers/webhook_controller.rb
Labels: none

Add fine-grained exclusions for SQLi rule 942110 on note[body] and note[title]
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Add fine-grained exclusions for SQLi rule 942110 on note[body] and note[title] (#1750)
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

EYCDTK-1078 Webhook update (#1753)
  app/controllers/webhook_controller.rb
Labels: none

wip
  app/decorators/module_overview_decorator.rb
  spec/system/module_overview_progress_spec.rb
Labels: none

Enhance resume_page logic to handle skipped pages and update specs for edge cases
  app/services/module_progress.rb
  spec/services/module_progress_spec.rb
  spec/system/module_overview_progress_spec.rb
Labels: none

Update link behavior for completed and started topics in module overview
  app/decorators/module_overview_decorator.rb
  spec/system/module_overview_progress_spec.rb
Labels: none

wip
  app/decorators/module_overview_decorator.rb
  app/services/module_progress.rb
Labels: none

wip
  app/services/module_progress.rb
Labels: none

Update Contentful ADR
  adr/0011-contentful.md
Labels: ADR

Add space in Webhook controller file
  app/controllers/webhook_controller.rb
Labels: none

EYCDTK-1078 Update ADR (#1756)
  adr/0011-contentful.md
  app/controllers/webhook_controller.rb
Labels: ADR

Update Nokogiri, jwt and basic-ftp dependencies
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

Update yard dependency
  Gemfile.lock
Labels: none

DTK-1286 - precompile assets for production
  .gitignore
  adr/0026-asset-pipeline-static-paths.md
  adr/ADR.md
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/icons.scss
  app/assets/stylesheets/print.scss
  config/environments/production.rb
  package.json
  public/static-images/dfe-logo-alt.png
  public/static-images/icon-print@1x.png
Labels: ADR, frontend

Update completed link logic
  app/decorators/module_overview_decorator.rb
  spec/services/module_progress_spec.rb
  spec/system/module_overview_progress_spec.rb
Labels: none

Add exclusions and custom rules to WAF policy for learning log submissions
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Add exclusions and custom rules to WAF policy for learning log submissions
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

app-gateway-fix (#1760)
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

fix - update packages
  .trivyignore
  Gemfile.lock
  package.json
  trivy.yaml
  yarn.lock
Labels: none

fix - update packages (#1761)
  .trivyignore
  Gemfile.lock
  package.json
  trivy.yaml
  yarn.lock
Labels: none

DTK-1308 - gov simulator
  .env.example
  .trivyignore
  Dockerfile
  Gemfile.lock
  Procfile.dev
  README.md
  app/controllers/users/omniauth_callbacks_controller.rb
  app/services/gov_one_auth_service.rb
  bin/docker-dev
  bin/podman-dev
  config/application.rb
  config/environments/production.rb
  config/initializers/devise.rb
  docker-compose.dev.yml
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
  spec/requests/users/openid_connect_callback_spec.rb
  spec/services/gov_one_auth_service_spec.rb
Labels: Documentation

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
