Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

wip
  app/controllers/training/notes_controller.rb
Labels: none

EYCDTK-1072 - adds description field on radio buttons (#1676)
  app/models/response.rb
  app/models/training/question.rb
  app/views/training/questions/_radio_buttons.html.slim
  spec/models/training/question_spec.rb
Labels: frontend

Remove comment
  app/jobs/content_check_job.rb
Labels: none

EYCDTK-1082 - Adds hint(pre-confidence) for confidence score (#1674)
  app/helpers/application_helper.rb
  app/models/user.rb
  app/views/training/questions/_radio_buttons.html.slim
  spec/helpers/application_helper_spec.rb
  spec/models/user_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

DTK-1054 - Adds new table user_module_progresses (#1664)
  app/controllers/learning_controller.rb
  app/controllers/training/pages_controller.rb
  app/decorators/module_overview_decorator.rb
  app/helpers/application_helper.rb
  app/models/training/module.rb
  app/models/user.rb
  app/models/user_module_progress.rb
  app/services/calculate_module_state.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  db/migrate/20251223155510_create_user_module_progress.rb
  db/schema.rb
  docker-compose.dev.yml
  spec/controllers/training/pages_controller_spec.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/factories/user_module_progress.rb
  spec/helpers/content_helper_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
  spec/models/data_analysis/user_module_completion_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_module_progress_spec.rb
  spec/models/user_spec.rb
  spec/requests/notes_spec.rb
  spec/services/dashboard_spec.rb
  spec/services/module_progress_spec.rb
  spec/support/shared/with_events.rb
  spec/support/shared/with_progress.rb
  spec/system/event_log_spec.rb
Labels: none

DTK-1053 - registered at time update (#1658)
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

DTK-911 Adds last user interaction (#1640)
  app/models/data_analysis/user_last_interaction.rb
  app/models/user_module_progress.rb
  app/services/dashboard.rb
  spec/models/data_analysis/user_last_interaction_spec.rb
Labels: none

just a test
  README.md
  app/services/dashboard.rb
Labels: Documentation

EYCDTK-1121/learning-log-bug (#1681)
  app/controllers/training/notes_controller.rb
  app/views/notes/_form.html.slim
Labels: frontend

Implement JWKS caching and refresh logic in GovOneAuthService
  GOV_ONE.md
  app/services/gov_one_auth_service.rb
  spec/services/gov_one_auth_service_spec.rb
Labels: none

Add script to detect changes to govuk key rotation for integration testing
  .gitignore
  scripts/check_govuk_jwks_rotation.rb
Labels: none

EYCDT-1117/JWT-Token-Rotation-Work (#1675)
  .gitignore
  GOV_ONE.md
  app/services/gov_one_auth_service.rb
  scripts/check_govuk_jwks_rotation.rb
  spec/services/gov_one_auth_service_spec.rb
Labels: none

added missing ostruct
  app/models/trainee/setting.rb
Labels: none

added missing ostruct (#1683)
  app/models/trainee/setting.rb
Labels: none

DTK-1052 - Cookie compliance (#1679)
  app/controllers/learning_controller.rb
  app/controllers/training/pages_controller.rb
  app/decorators/module_overview_decorator.rb
  app/helpers/application_helper.rb
  app/models/data_analysis/user_last_interaction.rb
  app/models/training/module.rb
  app/models/user.rb
  app/models/user_module_progress.rb
  app/services/calculate_module_state.rb
  app/services/course_progress.rb
  app/services/dashboard.rb
  app/services/module_progress.rb
  db/migrate/20251223155510_create_user_module_progress.rb
  db/schema.rb
  docker-compose.dev.yml
  spec/controllers/training/pages_controller_spec.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/factories/user_module_progress.rb
  spec/helpers/content_helper_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
  spec/models/data_analysis/user_last_interaction_spec.rb
  spec/models/data_analysis/user_module_completion_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_module_progress_spec.rb
  spec/models/user_spec.rb
  spec/requests/notes_spec.rb
  spec/services/dashboard_spec.rb
  spec/services/module_progress_spec.rb
  spec/support/shared/with_events.rb
  spec/support/shared/with_progress.rb
  spec/system/event_log_spec.rb
Labels: none

enforce strict validation gainst early_years_experience on the user model
  app/models/user.rb
Labels: none

Feature/Confidence score (#1680)
  app/controllers/training/questions_controller.rb
  app/decorators/previous_page_decorator.rb
  app/helpers/application_helper.rb
  app/helpers/link_helper.rb
  app/models/concerns/content_types.rb
  app/models/response.rb
  app/models/training/module.rb
  app/models/training/question.rb
  app/models/user.rb
  app/views/training/pages/_content.html.slim
  app/views/training/questions/_radio_buttons.html.slim
  config/locales/en.yml
  spec/helpers/application_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/training/module_spec.rb
  spec/models/training/question_spec.rb
  spec/models/user_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

DTK-1189 - Adds utm links
  app/mailers/notify_mailer.rb
  config/application.rb
  config/utm.yml
Labels: none

Remove Javascript from formsave and validate from before saving
  app/models/note.rb
  app/views/notes/_form.html.slim
Labels: frontend

wip
  app/models/note.rb
Labels: none

Enable stricter validation of notes
  app/models/note.rb
Labels: none

wip
  app/models/note.rb
Labels: none

Revert "wip"
  app/models/note.rb
Labels: none

Revert "Enable stricter validation of notes"
  app/models/note.rb
Labels: none

wip
  app/controllers/training/notes_controller.rb
  app/models/note.rb
Labels: none

Revert "Enable stricter validation of notes"
  app/models/note.rb
Labels: none

wip
  app/models/note.rb
Labels: none

Revert "wip"
  app/models/note.rb
Labels: none

Update skip link
  app/helpers/link_helper.rb
Labels: none

wip
  app/services/content_integrity.rb
Labels: none

wip
  app/services/content_integrity.rb
Labels: none

wip: update next page logic for interruption page
  app/decorators/next_page_decorator.rb
  app/models/training/module.rb
Labels: none

Create new confidence score export
  app/models/data_analysis/pre_confidence_check_answers.rb
  app/models/response.rb
  app/services/dashboard.rb
  spec/models/data_analysis/pre_confidence_check_answers_spec.rb
Labels: none

Update to pre_confidence and pre_confidence_position methods
  app/services/content_integrity.rb
Labels: none

Update previous button logic
  app/decorators/previous_page_decorator.rb
Labels: none

EYCDTK-1018 Confidence score updates (#1686)
  app/decorators/next_page_decorator.rb
  app/decorators/previous_page_decorator.rb
  app/helpers/link_helper.rb
  app/models/training/module.rb
  app/services/content_integrity.rb
Labels: none

Fix - docker buildx version pinned to 0.31.1
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Labels: pipeline

Fix - docker buildx version pinned to 0.31.1 (#1689)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Labels: pipeline

Create new confidence score export (#1687)
  app/models/data_analysis/pre_confidence_check_answers.rb
  app/models/response.rb
  app/services/dashboard.rb
  spec/models/data_analysis/pre_confidence_check_answers_spec.rb
Labels: none

Hide pre_confidence_questions section
  app/decorators/module_overview_decorator.rb
  app/decorators/pagination_decorator.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/decorators/pagination_decorator_spec.rb
Labels: none
