Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

change "" to '' in the label
  app/views/notes/_form.html.slim
Labels: frontend

Make label the same as heading for wcag 2.2. compliance, make it visually hidden so that it isn't redundantly repeating for sighted users.
  app/views/notes/_form.html.slim
Labels: frontend

update logic for getting modules so we preload it
  app/controllers/learning_controller.rb
  app/services/module_progress.rb
Labels: none

Update tests to use new logic, added new tests to prove the logic
  app/services/module_progress.rb
  spec/system/module_overview_progress_spec.rb
Labels: none

spike to show events passed down the tree
  app/controllers/learning_controller.rb
  app/helpers/content_helper.rb
  app/services/assessment_progress.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  app/views/learning/_available_modules.html.slim
  app/views/learning/_completed_modules.html.slim
  app/views/learning/_debug.html.slim
  app/views/learning/_in_progress_modules.html.slim
  app/views/learning/_upcoming_modules.html.slim
  app/views/learning/show.html.slim
Labels: frontend

remove vestge
  app/services/course_progress.rb
Labels: none

missed a progress step
  app/services/module_progress.rb
Labels: none

Update net-imap and rack dependencies
  Gemfile.lock
Labels: none

EYCDTK-327 Role type update (#1500)
  data/role-type.yml
Labels: content

Revert "Bump aquasecurity/trivy-action from 0.30.0 to 0.31.0 (#1506)"
  .github/workflows/trivy.yml
Labels: pipeline

Revert "Bump aquasecurity/trivy-action from 0.30.0 to 0.31.0 (#1506)" (#1513)
  .github/workflows/trivy.yml
Labels: pipeline

update logic for getting modules so we preload it
  app/controllers/learning_controller.rb
  app/helpers/application_helper.rb
  app/models/user.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/services/course_progress_spec.rb
  spec/services/module_progress_spec.rb
  spec/system/module_overview_progress_spec.rb
Labels: none

upgrade azurecli version in azuredeployteardown script
  .github/workflows/azure-deploy-review-teardown.yml
Labels: pipeline

update deploy script buildx version to 0.13.1
  .github/workflows/azure-deploy-dev.yml
Labels: pipeline

upgrade azurecli version in azuredeployteardown script (#1514)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-review-teardown.yml
Labels: pipeline

Revert "Bump tar-fs from 3.0.8 to 3.0.9 in the npm_and_yarn group (#1505)"
  yarn.lock
Labels: none

Update net-imap and rack dependencies (#1511)
  Gemfile.lock
Labels: none

Upgrade azurecliversion to 2.74 in dev deployscript
  .github/workflows/azure-deploy-review.yml
Labels: pipeline

Upgrade azcliversion in staging and prod review scripts
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Add 2.74 to dev file
  .github/workflows/azure-deploy-dev.yml
Labels: pipeline

update logic for getting modules so we preload it
  app/controllers/learning_controller.rb
  app/helpers/application_helper.rb
  app/models/user.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/services/course_progress_spec.rb
  spec/services/module_progress_spec.rb
  spec/system/module_overview_progress_spec.rb
Labels: none

update logic for getting modules so we preload it (#1507)
  app/controllers/learning_controller.rb
  app/helpers/application_helper.rb
  app/models/user.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/services/course_progress_spec.rb
  spec/services/module_progress_spec.rb
  spec/system/module_overview_progress_spec.rb
Labels: none

Upgrade azurecliversion to 2.74 in dev deployscript
  .github/workflows/azure-deploy-review.yml
Labels: pipeline

Upgrade azcliversion in staging and prod review scripts
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Add 2.74 to dev file
  .github/workflows/azure-deploy-dev.yml
Labels: pipeline

Azure deploy teardown repairs (#1518)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Update review teardown azure cli version
  .github/workflows/azure-deploy-review-teardown.yml
Labels: pipeline

EYCDTK-463 Review teardown version update (#1519)
  .github/workflows/azure-deploy-review-teardown.yml
Labels: pipeline

Fix prod and stage deploy scripts so that they match dev
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Change staging and prod scripts so that they match dev script
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

add env var to dockerfile as per gotcha on recovery https://github.com/DFE-Digital/early-years-foundation-reform/commit/c5871da21f6ad33a990539e5b4761f675ab84a5b
  Dockerfile
Labels: none

BV-sentry-config
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  config/application.rb
  config/initializers/sentry.rb
Labels: pipeline

Update role model so it accepts an optional hint text
  app/models/trainee/role.rb
  app/views/registration/role_types/edit.html.slim
  data/role-type.yml
Labels: frontend, content

Update role model so it accepts an optional hint text (#1521)
  app/models/trainee/role.rb
  app/views/registration/role_types/edit.html.slim
  data/role-type.yml
Labels: frontend, content

Updates visual list on modules page
  .gitignore
  app/assets/stylesheets/module-overview.scss
  app/views/learning/_completed_modules.html.slim
  app/views/training/modules/_section.html.slim
  app/views/training/modules/_subsection.html.slim
  app/views/training/modules/show.html.slim
  spec/system/module_overview_progress_spec.rb
Labels: frontend

Update setting type yml with new settings
  data/setting-type.yml
Labels: content

Update net-imap version
  Gemfile.lock
Labels: none

Accessibility Audit - Incorrect use of ARIA
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/registration/local_authorities/edit.html.slim
  app/views/registration/role_type_others/edit.html.slim
  app/views/registration/role_types/edit.html.slim
  app/views/registration/setting_types/edit.html.slim
Labels: frontend

Update login success banner to disable autofocus
  app/views/layouts/_flash.html.slim
Labels: frontend

DRK-470 - Resize Text fix
  app/assets/stylesheets/prompt.scss
Labels: frontend
