Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

lint
  app/jobs/application_job.rb
  config/initializers/govuk_notify_rails.rb
Labels: none

Job scopes and auto expiration (#1184)
  app/jobs/application_job.rb
  app/jobs/content_check_job.rb
  app/jobs/fill_page_views_job.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/models/job.rb
  config/application.rb
  config/initializers/govuk_notify_rails.rb
  config/initializers/que.rb
Labels: none

Post test teaks
  .github/workflows/notify-callback.yml
  app/controllers/hook_controller.rb
  app/jobs/application_job.rb
  app/jobs/content_check_job.rb
  app/jobs/dashboard_job.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
Labels: pipeline

Post test teaks (#1186)
  .github/workflows/notify-callback.yml
  app/controllers/hook_controller.rb
  app/jobs/application_job.rb
  app/jobs/content_check_job.rb
  app/jobs/dashboard_job.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
Labels: pipeline

ER-988: Remove timeout modal functionality (#1151)
  .env.example
  README.md
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/modal.scss
  app/controllers/application_controller.rb
  app/controllers/timeout_controller.rb
  app/helpers/timeout_helper.rb
  app/javascript/application.js
  app/javascript/controllers/application.js
  app/javascript/controllers/autocomplete_controller.js
  app/javascript/controllers/index.js
  app/javascript/timeout-warning.js
  app/views/layouts/_flash.html.slim
  app/views/layouts/_timeout.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  app/views/timeout/timeout_user.html.slim
  config/application.rb
  config/initializers/devise.rb
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  docker-compose.qa.yml
  spec/config_spec.rb
  spec/controllers/training/modules_controller_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/static_spec.rb
  spec/requests/timeout_warning_spec.rb
  spec/system/page_title_spec.rb
  spec/system/timeout_modal_spec.rb
Labels: Documentation, frontend

Rework shared content strategy and move next/skip logic out of controllers
  app/controllers/application_controller.rb
  app/controllers/feedback_controller.rb
  app/controllers/training/responses_controller.rb
  app/decorators/next_page_decorator.rb
  app/helpers/link_helper.rb
  app/models/concerns/pagination.rb
  app/models/guest.rb
  app/models/training/content.rb
  app/models/training/module.rb
  config/initializers/types.rb
  spec/models/concerns/pagination_spec.rb
Labels: none

Type check for user and guest in pagination service
  app/decorators/next_page_decorator.rb
  config/initializers/types.rb
Labels: none

- Convert feedback thank-you to a page - Adjust UR preference editing journey
  app/controllers/application_controller.rb
  app/controllers/feedback_controller.rb
  app/decorators/next_page_decorator.rb
  app/models/course.rb
  app/models/training/module.rb
  app/views/feedback/thank_you.html.slim
  app/views/user/_debug.html.slim
  app/views/user/show.html.slim
  config/initializers/types.rb
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/models/concerns/pagination_spec.rb
  spec/models/course_spec.rb
  spec/services/course_progress_spec.rb
  spec/system/account_page_spec.rb
Labels: frontend

Refactor hook controllers and change Notify header
  .github/workflows/azure-deploy-stage.yml
  app/controllers/notify_controller.rb
  app/controllers/release_controller.rb
  app/controllers/webhook_controller.rb
  config/routes.rb
  spec/requests/webhooks_spec.rb
Labels: pipeline

Refactor hook controllers and change Notify header (#1195)
  .github/workflows/azure-deploy-stage.yml
  app/controllers/notify_controller.rb
  app/controllers/release_controller.rb
  app/controllers/webhook_controller.rb
  config/routes.rb
  spec/requests/webhooks_spec.rb
Labels: pipeline

Extend session timeout to 24hrs
  config/application.rb
  spec/config_spec.rb
Labels: none

Extend session timeout to 24hrs (#1196)
  config/application.rb
  spec/config_spec.rb
Labels: none

- draft test mail job with own template - export overview of mail recipients and recent deliveries - export delivery status with user records
  app/jobs/test_bulk_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/data_analysis/user_overview.rb
  app/models/user.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_spec.rb
Labels: none

Ensure dev deployment worker is using the test CMS env
  .github/workflows/azure-deploy-dev.yml
  app/models/user.rb
Labels: pipeline

Mail metrics (#1199)
  .github/workflows/azure-deploy-dev.yml
  app/jobs/test_bulk_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/data_analysis/user_overview.rb
  app/models/user.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_spec.rb
Labels: pipeline

Refactor (#1176)
  app/forms/form_builder.rb
  app/forms/registration/early_years_experiences_form.rb
  app/views/registration/early_years_experiences/edit.html.slim
Labels: frontend

Expire jobs on failure
  app/jobs/application_job.rb
  app/jobs/test_bulk_mail_job.rb
  app/models/user.rb
Labels: none

Expire jobs on failure (#1200)
  app/jobs/application_job.rb
  app/jobs/test_bulk_mail_job.rb
  app/models/user.rb
Labels: none

Job and AppplicationJob coverage
  app/controllers/user_controller.rb
  app/jobs/application_job.rb
  app/jobs/test_bulk_mail_job.rb
  spec/factories/job.rb
  spec/jobs/application_job_spec.rb
  spec/jobs/test_bulk_mail_job_spec.rb
  spec/models/event_spec.rb
  spec/models/job_spec.rb
  spec/models/visit_spec.rb
Labels: none

Update spacing to be 30px for success banner on my account page
  app/assets/stylesheets/application.scss
Labels: frontend

Rework mailer jobs for postponed delivery with a mail event log
  .env.example
  .rubocop_todo.yml
  app/controllers/close_accounts_controller.rb
  app/controllers/notify_controller.rb
  app/jobs/complete_registration_mail_job.rb
  app/jobs/continue_training_mail_job.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/jobs/start_training_mail_job.rb
  app/jobs/test_bulk_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/mail_event.rb
  app/models/user.rb
  db/migrate/20240525053022_create_mail_event.rb
  db/schema.rb
  spec/factories/users.rb
  spec/jobs/application_job_spec.rb
  spec/jobs/complete_registration_mail_job_spec.rb
  spec/jobs/continue_training_mail_job_spec.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
  spec/jobs/test_bulk_mail_job_spec.rb
  spec/models/job_spec.rb
  spec/requests/webhooks_spec.rb
  spec/support/shared/email_prompt.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: none

Update to use id for styling
  app/assets/stylesheets/application.scss
  app/views/layouts/_flash.html.slim
Labels: frontend

Defend against callback error and report failure
  app/controllers/notify_controller.rb
Labels: none

retest mail event callback update
  app/controllers/notify_controller.rb
Labels: none

Update notification banner styling to be inside default layout
  app/assets/stylesheets/application.scss
  app/views/layouts/_flash.html.slim
Labels: frontend

Notification banner spacing update (#1209)
  app/assets/stylesheets/application.scss
Labels: frontend

New Module recipient exclusion for sent and pending mail Coverage 92.55%
  app/jobs/complete_registration_mail_job.rb
  app/jobs/continue_training_mail_job.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/jobs/start_training_mail_job.rb
  app/jobs/test_bulk_mail_job.rb
  app/models/job.rb
  app/models/mail_event.rb
  app/models/user.rb
  spec/factories/mail_events.rb
  spec/models/job_spec.rb
  spec/models/mail_event_spec.rb
  spec/models/user_spec.rb
Labels: none

Fix yard doc
  app/mailers/notify_mailer.rb
Labels: none

Fix logging to Sentry upon delivery Ensure only mail events only receive callbacks once Document mail job scopes that require remedial work
  app/controllers/notify_controller.rb
  app/models/user.rb
  config/initializers/govuk_notify_rails.rb
Labels: none

Silence failed delivery alerts in prod Serialise Contentful module entries for background mail jobs
  app/jobs/mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/training/module.rb
  config/initializers/contentful_rails.rb
  config/initializers/govuk_notify_rails.rb
Labels: none

Parent mailer job coverage
  app/models/user.rb
  spec/jobs/mail_job_spec.rb
Labels: none

Mail event log, metrics and scopes (#1208)
  .env.example
  .rubocop_todo.yml
  app/controllers/close_accounts_controller.rb
  app/controllers/notify_controller.rb
  app/controllers/user_controller.rb
  app/jobs/application_job.rb
  app/jobs/complete_registration_mail_job.rb
  app/jobs/continue_training_mail_job.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/jobs/start_training_mail_job.rb
  app/jobs/test_bulk_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/job.rb
  app/models/mail_event.rb
  app/models/training/module.rb
  app/models/user.rb
  config/initializers/contentful_rails.rb
  config/initializers/govuk_notify_rails.rb
  db/migrate/20240525053022_create_mail_event.rb
  db/schema.rb
  spec/factories/job.rb
  spec/factories/mail_events.rb
  spec/factories/users.rb
  spec/jobs/application_job_spec.rb
  spec/jobs/complete_registration_mail_job_spec.rb
  spec/jobs/continue_training_mail_job_spec.rb
  spec/jobs/mail_job_spec.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
  spec/jobs/test_bulk_mail_job_spec.rb
  spec/models/event_spec.rb
  spec/models/job_spec.rb
  spec/models/mail_event_spec.rb
  spec/models/user_spec.rb
  spec/models/visit_spec.rb
  spec/requests/webhooks_spec.rb
  spec/support/shared/email_prompt.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: none

Default to staging and update header and payload
  .github/workflows/notify-callback.yml
Labels: pipeline

Default to staging and update header and payload (#1214)
  .github/workflows/notify-callback.yml
Labels: pipeline

Aria landmark update
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

Redact free text feedback on account closure
  app/models/user.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: none

Encrypt text input for feedback questions
  app/models/response.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: none

Update to keep styling but remove main for specific line
  app/views/layouts/hero.html.slim
Labels: frontend

Update chrome-path variable for Pa11y workflow
  .github/workflows/pa11y.yml
Labels: pipeline

Styling update
  app/views/layouts/hero.html.slim
Labels: frontend
