Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Update styling for feedback questions and update failing specs to use yml file
  app/decorators/feedback_pagination_decorator.rb
  app/forms/form_builder.rb
  app/services/content_integrity.rb
  app/views/feedback/_check_boxes.html.slim
  app/views/feedback/_radio_buttons.html.slim
  app/views/feedback/index.html.slim
  app/views/feedback/show.html.slim
  cms/migrate/02-create-question.js
  spec/decorators/feedback_pagination_decorator_spec.rb
  spec/lib/content_test_schema_spec.rb
  spec/models/response_spec.rb
  spec/support/ast/alpha-fail-feedback-form-response.yml
  spec/support/ast/alpha-pass-feedback-form-response.yml
  spec/system/summative_assessment_spec.rb
Labels: frontend, content

wip: add versions to module releases
  app/controllers/hook_controller.rb
  app/jobs/new_module_mail_job.rb
  app/models/module_release.rb
  app/models/training/module.rb
  app/services/content_changes.rb
  db/migrate/20240318132255_add_versions_to_module_releases.rb
  db/schema.rb
  spec/factories/module_releases.rb
  spec/services/content_changes_spec.rb
Labels: none

wip: use individual content versions to increment module release version
  app/controllers/hook_controller.rb
Labels: none

delete empty devise security file
  config/initializers/devise_security.rb
Labels: none

Update spelling and small update for content integrity check
  app/services/content_integrity.rb
  app/views/feedback/index.html.slim
  config/locales/en.yml
  spec/system/feedback_internal_spec.rb
Labels: frontend

add fallback value in case of no custom reason
  app/controllers/close_accounts_controller.rb
Labels: none

lint
  app/controllers/close_accounts_controller.rb
Labels: none

update close account system spec
  spec/system/registered_user/closing_account_spec.rb
Labels: none

update timeout minutes
  config/application.rb
Labels: none

update timeout specs
  spec/config_spec.rb
  spec/requests/timeout_warning_spec.rb
Labels: none

ER-954 Timeout post SSO (#1126)
  config/application.rb
  spec/config_spec.rb
  spec/requests/timeout_warning_spec.rb
Labels: none

update test schema and prev page decorator spec
  lib/content_test_schema.rb
  spec/decorators/previous_page_decorator_spec.rb
  spec/support/ast/alpha-fail-feedback-form-response.yml
Labels: none

update opinion spec, add tests for skippable questions pagination
  app/decorators/pagination_decorator.rb
  spec/system/opinion_spec.rb
Labels: none

Update banner and footer links and refactor some specs
  .rubocop.yml
  Gemfile
  app/controllers/errors_controller.rb
  app/models/user.rb
  app/services/content_integrity.rb
  app/views/errors/service_unavailable.html.slim
  app/views/errors/unprocessable_entity.html.slim
  app/views/layouts/_banner.html.slim
  app/views/layouts/_footer.html.slim
  config/application.rb
  config/routes.rb
  docker-compose.test.yml
  spec/controllers/feedback_controller_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/system/feedback_internal_spec.rb
  spec/system/feedback_spec.rb
Labels: frontend

add system spec for site-wide feedback forms
  app/controllers/feedback_controller.rb
  app/views/feedback/thank_you.html.slim
  config/locales/en.yml
  spec/controllers/feedback_controller_spec.rb
  spec/support/ast/site-wide-feedback-form-response-guest.yml
  spec/support/ast/site-wide-feedback-form-response-user.yml
  spec/system/site_wide_feedback_spec.rb
Labels: frontend

- Improve module progress service query performance and docs - Add DB profiling in dev env - Fix docker-compose timeout test env
  Gemfile
  Gemfile.lock
  app/services/module_progress.rb
  docker-compose.test.yml
Labels: none

Refactor layouts and remove unused assets to silence warnings
  app/views/layouts/_head.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

update site wide feedback system spec
  app/controllers/feedback_controller.rb
  app/models/user.rb
  lib/content_test_schema.rb
  spec/support/ast/alpha-fail-feedback-form-response.yml
  spec/support/ast/alpha-fail-response.yml
  spec/support/ast/alpha-fail.yml
  spec/support/ast/alpha-pass-feedback-form-response.yml
  spec/support/ast/alpha-pass-response.yml
  spec/support/ast/alpha-pass.yml
  spec/support/ast/schema.rb
  spec/support/ast/site-feedback-form-response-guest.yml
  spec/support/ast/site-feedback-form-response-user-update.yml
  spec/support/ast/site-feedback-form-response-user.yml
  spec/system/site_wide_feedback_spec.rb
  ui/e2e_spec.rb
  ui/support/ast/child-development-and-the-eyfs.yml
Labels: none

- Improve module progress service query performance and docs (#1133)
  Gemfile
  Gemfile.lock
  app/services/module_progress.rb
  docker-compose.test.yml
Labels: none

Refactor layouts and remove unused assets to silence warnings (#1134)
  app/views/layouts/_head.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

Update caching and docs
  app/controllers/feedback_controller.rb
  app/models/course.rb
  app/models/guest.rb
  app/views/feedback/index.html.slim
  cms/CONTENTFUL.md
  spec/controllers/feedback_controller_spec.rb
Labels: Documentation, frontend

Add extra integrity check
  app/decorators/pagination_decorator.rb
  app/services/content_integrity.rb
  cms/migrate/02-create-question.js
Labels: content

Fix spec errors following deletion of privacy policy
  spec/models/page_spec.rb
  spec/requests/static_spec.rb
  spec/system/page_title_spec.rb
Labels: none

ER-603 Account deletion error (#1125)
  app/controllers/close_accounts_controller.rb
  spec/models/page_spec.rb
  spec/requests/static_spec.rb
  spec/system/page_title_spec.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: none

Training migration improvements (#1111)
  lib/migrate_training.rb
  spec/lib/migrate_training_spec.rb
Labels: none

ER-927 Learning Check styling update (#1100)
  app/assets/stylesheets/application.scss
  app/views/training/questions/show.html.slim
Labels: frontend

Simplify guest journey and use single cookie
  app/controllers/application_controller.rb
  app/controllers/feedback_controller.rb
  app/services/content_integrity.rb
  cms/CONTENTFUL.md
  spec/controllers/application_controller_spec.rb
  spec/controllers/feedback_controller_spec.rb
Labels: Documentation

Remove timeout modal functionality
  .env.example
  README.md
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/modal.scss
  app/controllers/application_controller.rb
  app/controllers/timeout_controller.rb
  app/helpers/timeout_helper.rb
  app/javascript/application.js
  app/javascript/controllers/application.js
  app/javascript/controllers/autocomplete_controller.js
  app/javascript/controllers/index.js
  app/javascript/timeout-warning.js
  app/views/layouts/_timeout.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  app/views/timeout/timeout_user.html.slim
  config/application.rb
  config/initializers/devise.rb
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  docker-compose.qa.yml
  spec/config_spec.rb
  spec/controllers/training/modules_controller_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/static_spec.rb
  spec/requests/timeout_warning_spec.rb
  spec/system/page_title_spec.rb
  spec/system/timeout_modal_spec.rb
Labels: Documentation, frontend

Remove remaining account views, routes and locales for local accounts
  app/views/user/check_email_confirmation.html.slim
  app/views/user/check_email_password_reset.html.slim
  config/locales/en.yml
  config/routes.rb
  spec/helpers/content_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
Labels: frontend

NewModuleMailJob.enqueue(134)
  app/jobs/new_module_mail_job.rb
  app/models/user.rb
Labels: none

Recalculate cache key
  app/controllers/hook_controller.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  config/puma.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/concerns/caching_spec.rb
Labels: none

tweak cache specs and logging
  app/models/user.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/concerns/caching_spec.rb
  spec/support/shared/email_prompt.rb
Labels: none

Harden caching specs
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/concerns/caching_spec.rb
  spec/models/training/module_spec.rb
Labels: none

Reset both caching specs ;p
  spec/models/concerns/caching_spec.rb
Labels: none

ER-891 new module mailer fix (#1158)
  app/controllers/hook_controller.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/models/user.rb
  config/puma.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/concerns/caching_spec.rb
  spec/models/training/module_spec.rb
  spec/support/shared/email_prompt.rb
Labels: none

Export redacted closed account details
  app/models/data_analysis/closed_accounts.rb
  app/services/dashboard.rb
  spec/factories/users.rb
  spec/models/data_analysis/closed_accounts_spec.rb
  spec/services/dashboard_spec.rb
Labels: none

Mailer jobs which use root_url helpers require DOMAIN to function
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Mailer jobs which use root_url helpers require DOMAIN to function (#1161)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Validate potential firewall rule issue with `Between X and Y years`
  spec/system/account_page_spec.rb
Labels: none

Validate potential firewall rule issue with `Between X and Y years` (#1162)
  spec/system/account_page_spec.rb
Labels: none
