Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

remove yauzl form deps and use it in resolutions
  package.json
  yarn.lock
Labels: none

Update nodejs
  .tool-versions
Labels: none

update yarn.lock
  package.json
  yarn.lock
Labels: none

pinned versions
  package.json
  yarn.lock
Labels: none

Frontend dependencies (#1872)
  .tool-versions
  package.json
  yarn.lock
Labels: none

Ruby updates (#1873)
  Gemfile.lock
Labels: none

wip
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Update .github/workflows/azure-deploy-stage.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Update .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-prod.yml
Labels: pipeline

Add OTLP exporter endpoint for Splunk integration in Azure workflows and Terraform configuration
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  terraform-azure/local.tf
Labels: terraform, pipeline

Update Rails dependency to latest 7.2 version
  Gemfile.lock
Labels: none

force queue for new module emails
  app/jobs/new_module_mail_job.rb
Labels: none

add cms migration with a new field
  cms/migrate/08-add-release-email-to-training-module.js
Labels: content

change user_overview count
  app/models/data_analysis/user_overview.rb
Labels: none

fix tests
  spec/jobs/new_module_mail_job_spec.rb
  spec/support/shared/email_prompt.rb
Labels: none

Update Rails dependency to latest 7.2 version (#1881)
  Gemfile.lock
Labels: none

update test
  spec/jobs/new_module_mail_job_spec.rb
Labels: none

Revert "fix tests"
  spec/jobs/new_module_mail_job_spec.rb
  spec/support/shared/email_prompt.rb
Labels: none

revert forcing of queue
  app/jobs/new_module_mail_job.rb
Labels: none

Upgrade govuk-components to 6.5.0 and migrate the custom header
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
Labels: frontend

Update .github/workflows/azure-deploy-stage.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Add OTLP exporter endpoint for Splunk integration in Azure workflows and Terraform configuration
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  terraform-azure/local.tf
Labels: terraform, pipeline

wip
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Update .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-prod.yml
Labels: pipeline

Add OTLP exporter endpoint for Splunk integration to deploy scripts (#1870)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  terraform-azure/local.tf
Labels: terraform, pipeline

Upgrade govuk-components to 6.5.0 and migrate the custom header (#1882)
  Gemfile.lock
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
Labels: frontend

removed tar from deps
  package.json
  yarn.lock
Labels: none

remove flatted from deps
  package.json
  yarn.lock
Labels: none

Fix module card heading alignment
  app/assets/stylesheets/card.scss
Labels: frontend

Add Redis support with caching and configuration updates
  Gemfile
  Gemfile.lock
  app/models/concerns/caching.rb
  config/environments/production.rb
  config/initializers/contentful_response_cache.rb
  spec/config/initializers/contentful_response_cache_spec.rb
  spec/models/concerns/caching_spec.rb
  terraform-azure/local.tf
  terraform-azure/main.tf
  terraform-azure/redis.tf
  terraform-azure/terraform-azure-network/outputs.tf
  terraform-azure/terraform-azure-network/variables.tf
  terraform-azure/terraform-azure-network/vnet.tf
  terraform-azure/variables.tf
Labels: terraform

Fix module card heading alignment (#1884)
  app/assets/stylesheets/card.scss
Labels: frontend

update brace-extension
  package.json
  yarn.lock
Labels: none

Dependencies (#1883)
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

EYCDTK-1635 Decouple module release emails from module ordering (#1869)
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/data_analysis/user_overview.rb
  app/models/job.rb
  app/models/mail_event.rb
  app/models/module_release.rb
  app/models/training/content.rb
  app/models/training/module.rb
  app/models/user.rb
  cms/migrate/08-add-release-email-to-training-module.js
  db/migrate/20260921153311_add_release_email_tracking_to_module_releases.rb
  db/schema.rb
  lib/tasks/cms.rake
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/job_spec.rb
  spec/models/mail_event_spec.rb
  spec/models/user_spec.rb
  spec/support/shared/email_prompt.rb
  spec/support/shared/updated_content.rb
  spec/support/shared/with_module_releases.rb
Labels: content

Exclude Rails CSRF tokens from SQL injection rules in WAF policy
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Integrate Application Insights telemetry for exception logging and enhance OpenTelemetry endpoint checks
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/ci.yml
  Dockerfile
  README.md
  app/jobs/application_job.rb
  app/jobs/content_check_job.rb
  app/middleware/exception_logging_middleware.rb
  bin/start-with-otel
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/exception_logging_middleware.rb
  docker-compose.dev.yml
  docker-compose.yml
  docker-entrypoint.sh
  docs/splunk-observability.md
  lib/application_insights_telemetry.rb
  lib/opentelemetry_configuration.rb
  lib/telemetry_json_formatter.rb
  lib/telemetry_sanitizer.rb
  otel-collector-azure-config.yml
  otel-collector-config.yml
  otel-collector-entrypoint.sh
  otel-collector-local-config.yml
  spec/app/middleware/exception_logging_middleware_spec.rb
  spec/config_spec.rb
  spec/jobs/application_job_spec.rb
  spec/jobs/content_check_job_spec.rb
  spec/lib/application_insights_telemetry_spec.rb
  spec/lib/open_telemetry_configuration_spec.rb
  spec/lib/telemetry_json_formatter_spec.rb
  terraform-azure/local.tf
Labels: Documentation, terraform, pipeline

wip
  adr/0025-application-insights/0025-2-opentelemetry_deployment_sidecar.md
  app/middleware/exception_logging_middleware.rb
  config/environments/development.rb
  config/environments/production.rb
  lib/application_insights_telemetry.rb
  lib/opentelemetry_configuration.rb
  lib/telemetry_file_logger.rb
  otel-collector-azure-config.yml
  otel-collector-config.yml
  otel-collector-local-config.yml
  spec/app/middleware/exception_logging_middleware_spec.rb
  spec/lib/application_insights_telemetry_spec.rb
  spec/lib/open_telemetry_configuration_spec.rb
  spec/lib/telemetry_file_logger_spec.rb
Labels: none

wip
  app/middleware/exception_logging_middleware.rb
  docs/splunk-observability.md
  lib/telemetry_sanitizer.rb
  spec/app/middleware/exception_logging_middleware_spec.rb
  spec/lib/open_telemetry_configuration_spec.rb
  spec/lib/telemetry_json_formatter_spec.rb
Labels: none

wip
  spec/app/middleware/exception_logging_middleware_spec.rb
Labels: none

wip
  docs/splunk-observability.md
  lib/telemetry_file_logger.rb
  otel-collector-azure-config.yml
  otel-collector-config.yml
  otel-collector-local-config.yml
  spec/lib/telemetry_file_logger_spec.rb
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
