Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

Small styling updates for homepage cards
  app/assets/stylesheets/card.scss
  app/views/home/_home_card.html.slim
Labels: frontend

Integrate OpenTelemetry for Azure Application Insights telemetry with custom helpers and instrumentations.
  .env.example
  Gemfile
  Gemfile.lock
  bin/docker-dev
  config/application.rb
  config/initializers/opentelemetry.rb
  docker-compose.dev.yml
  docker-compose.yml
  lib/application_insights_telemetry.rb
  otel-collector-config.yml
  terraform-azure/local.tf
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

Add ADR to document design decisions taken regarding implementation
  adr/0018-telemetry-collector-app-insights.md
  db/schema.rb
  docker-compose.yml
  terraform-azure/local.tf
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: ADR, terraform

Moved Log Analytics to module Added Application Insights
  terraform-azure/main.tf
  terraform-azure/terraform-azure-monitor/logs.tf
  terraform-azure/terraform-azure-monitor/outputs.tf
  terraform-azure/terraform-azure-monitor/variables.tf
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-review/variables.tf
  terraform-azure/terraform-azure-web/appgateway.tf
  terraform-azure/terraform-azure-web/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

Apply tags to App Insights
  terraform-azure/terraform-azure-monitor/logs.tf
Labels: terraform

EYCDTK-890 Card update (#1651)
  app/assets/stylesheets/card.scss
  app/views/home/_home_card.html.slim
  app/views/home/_modules.html.slim
Labels: frontend

Add CodeQL Advanced Security workflow for actions, javascript-typescript, and ruby.
  .github/workflows/codeql.yml
Labels: pipeline

Add CodeQL Advanced workflow for security analysis of actions, JavaScript/TypeScript, and Ruby.
  .github/workflows/codeql.yml
Labels: pipeline

DTK-911 Adds last user interaction
  app/models/data_analysis/user_last_interaction.rb
  app/services/dashboard.rb
  spec/models/data_analysis/user_last_interaction_spec.rb
Labels: none

Add CodeQL Advanced workflow for security analysis of actions, JavaScript/TypeScript, and Ruby. (#1654)
  .github/workflows/codeql.yml
Labels: pipeline

Fix trivy vulnerabilities
  package.json
  yarn.lock
Labels: none

Fix trivy vulnerabilities (#1655)
  package.json
  yarn.lock
Labels: none

Update title width and card description text size
  app/views/home/_hero.html.slim
  app/views/home/_home_card.html.slim
Labels: frontend

DTK-1053 - registered at time update
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

Moved Log Analytics to module Added Application Insights
  terraform-azure/main.tf
  terraform-azure/terraform-azure-monitor/logs.tf
  terraform-azure/terraform-azure-monitor/outputs.tf
  terraform-azure/terraform-azure-monitor/variables.tf
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-review/variables.tf
  terraform-azure/terraform-azure-web/appgateway.tf
  terraform-azure/terraform-azure-web/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

wip
  .trivyignore
Labels: none

Integrate OpenTelemetry for Azure Application Insights telemetry with custom helpers and instrumentations.
  .env.example
  Gemfile
  Gemfile.lock
  adr/0018-telemetry-collector-app-insights-dev.md
  adr/0019-opentelemetry_deployment_sidecar.md
  bin/docker-dev
  config/application.rb
  config/initializers/opentelemetry.rb
  db/schema.rb
  docker-compose.dev.yml
  docker-compose.yml
  lib/application_insights_telemetry.rb
  otel-collector-config.yml
  spec/lib/application_insights_telemetry_spec.rb
  terraform-azure/local.tf
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: ADR, terraform

Add container to review apps
  .github/workflows/azure-deploy-review.yml
  adr/0019-opentelemetry_deployment_sidecar.md
Labels: ADR, pipeline

Integrate OpenTelemetry Collector into Docker image and Azure deployments
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
  Dockerfile
Labels: pipeline

Apply tags to App Insights
  terraform-azure/terraform-azure-monitor/logs.tf
Labels: terraform

EYCDTK-951-app-insights (#1635)
  .env.example
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .trivyignore
  Dockerfile
  Gemfile
  Gemfile.lock
  adr/0018-telemetry-collector-app-insights-dev.md
  adr/0019-opentelemetry_deployment_sidecar.md
  bin/docker-dev
  config/application.rb
  config/initializers/opentelemetry.rb
  db/schema.rb
  docker-compose.dev.yml
  docker-compose.yml
  lib/application_insights_telemetry.rb
  otel-collector-config.yml
  spec/lib/application_insights_telemetry_spec.rb
  terraform-azure/local.tf
  terraform-azure/main.tf
  terraform-azure/terraform-azure-monitor/logs.tf
  terraform-azure/terraform-azure-monitor/outputs.tf
  terraform-azure/terraform-azure-monitor/variables.tf
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-review/variables.tf
  terraform-azure/terraform-azure-web/appgateway.tf
  terraform-azure/terraform-azure-web/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: ADR, terraform, pipeline

Remove unneeded ports from docker-compose.yml and ensure docker-compose-dev exposes 3000
  docker-compose.dev.yml
  docker-compose.yml
Labels: none

Remove unneeded ports from docker-compose.yml and ensure docker-compose-dev exposes 3000 (#1661)
  docker-compose.dev.yml
  docker-compose.yml
Labels: none

Enforce a db port so that users can set their own port via a variable or else it defaults to 5432
  docker-compose.yml
Labels: none

wip
  .env.example
Labels: none

Enforce a port for db (#1662)
  .env.example
  docker-compose.yml
Labels: none

Add app insights to staging and production
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Add app insights to staging and production (#1663)
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

DTK-1054 - add start/complete time for modules in a new table
  app/controllers/training/pages_controller.rb
  app/models/user.rb
  app/models/user_module_progress.rb
  db/migrate/20251223155510_create_user_module_progress.rb
  db/schema.rb
  spec/controllers/training/pages_controller_spec.rb
  spec/models/user_module_progress_spec.rb
  spec/models/user_spec.rb
Labels: none

Allow pre-confidence check questions
  app/controllers/training/questions_controller.rb
  app/models/concerns/content_types.rb
  app/models/response.rb
  app/models/training/question.rb
  app/views/training/questions/_radio_buttons.html.slim
Labels: frontend

Update has hint logic
  app/models/response.rb
  app/models/training/question.rb
Labels: none

Update hint text logic
  app/models/training/question.rb
  app/views/training/questions/_radio_buttons.html.slim
Labels: frontend

Update pre-confidence question logic
  app/controllers/training/questions_controller.rb
  app/models/concerns/content_types.rb
  app/models/training/module.rb
  app/models/training/question.rb
Labels: none

Reduce internal traces and repeated traces by 50%
  config/initializers/opentelemetry.rb
Labels: none

wip
  config/initializers/opentelemetry.rb
Labels: none

wip
  config/initializers/opentelemetry.rb
Labels: none

Update to fix failing specs
  app/views/training/questions/_radio_buttons.html.slim
Labels: frontend

Added links to recent ADRs
  adr/ADR.md
Labels: ADR

Typo
  adr/ADR.md
Labels: ADR

Added retrospective ADRs; tweaked for consistency
  adr/0003-video-hosting-platform.md
  adr/0004-authentication.md
  adr/0007-deployment-environments.md
  adr/0008-infrastructure-as-code.md
  adr/0009-linting.md
  adr/0010-security-vulnerabilities.md
  adr/0011-postcodes.md
  adr/0012-event-tracking.md
  adr/0013-accessibility-standards.md
  adr/0014-sensitive-data-encryption.md
  adr/0015-user-tracking.md
  adr/0016-background-jobs.md
  adr/0017-password-vulnerability.md
  adr/0018-external-authentication.md
  adr/0019-clarity-metrics.md
  adr/0020-telemetry-collector-app-insights-dev.md
  adr/0021-opentelemetry_deployment_sidecar.md
  adr/ADR.md
Labels: ADR

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
