Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

DTK-952 - adds try catch (#1639)
  app/controllers/training/notes_controller.rb
Labels: none

DTK-818 - Add Microsoft Clarity
  app/controllers/application_controller.rb
  app/controllers/settings_controller.rb
  app/forms/form_builder.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/_cookie_banner.html.slim
  app/views/notes/_note.html.slim
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/registration/role_types/edit.html.slim
  app/views/training/pages/certificate.html.slim
  app/views/user/show.html.slim
  config/application.rb
  config/initializers/content_security_policy.rb
  config/locales/en.yml
  spec/system/cookies_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

wip
  app/controllers/registration/base_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/_flash.html.slim
  config/locales/en.yml
Labels: frontend

Use changes in banner-logic-width-helper branch for banner width updates
  app/controllers/registration/base_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/_flash.html.slim
  config/locales/en.yml
Labels: frontend

Additional updates
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/helpers/application_helper.rb
  spec/lib/seed_snippets_spec.rb
Labels: none

DTK-921 - update headings (#1636)
  config/initializers/markdown.rb
  spec/helpers/content_helper_spec.rb
Labels: none

Update home page
  app/controllers/home_controller.rb
  app/models/training/module.rb
  app/views/home/_modules.html.slim
  app/views/home/index.html.slim
  app/views/learning/_available_modules.html.slim
  app/views/learning/_card.html.slim
  app/views/learning/_in_progress_modules.html.slim
  config/locales/en.yml
Labels: frontend

DTK-946 - learning log bug
  app/controllers/training/pages_controller.rb
  spec/controllers/training/pages_controller_spec.rb
Labels: none

DTK-911 Adds last user interaction
  app/models/data_analysis/user_last_interaction.rb
  app/services/dashboard.rb
  spec/models/data_analysis/user_last_interaction_spec.rb
Labels: none

Revert "EYCDTK-883 Update registration journey banners (#1631)"
  app/controllers/application_controller.rb
  config/locales/en.yml
  spec/factories/users.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/authentication_spec.rb
Labels: none

wip
  app/views/home/_modules.html.slim
  app/views/learning/_available_modules.html.slim
  app/views/learning/_card.html.slim
  app/views/learning/_in_progress_modules.html.slim
  spec/lib/seed_snippets_spec.rb
Labels: frontend

Revert "EYCDTK-883 Update registration journey banners (#1631)" (#1642)
  app/controllers/application_controller.rb
  config/locales/en.yml
  spec/factories/users.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/authentication_spec.rb
Labels: none

Update home page
  app/controllers/home_controller.rb
  app/models/training/module.rb
  app/views/home/_modules.html.slim
  app/views/home/index.html.slim
  app/views/learning/_available_modules.html.slim
  app/views/learning/_card.html.slim
  app/views/learning/_in_progress_modules.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend

Change hover colour to dark-blue
  app/assets/stylesheets/card.scss
  app/controllers/home_controller.rb
  app/models/training/module.rb
Labels: frontend

wip
  app/models/training/module.rb
Labels: none

temp remove GA
  app/views/layouts/_analytics_header.html.slim
Labels: frontend

Update error handling for multiple choice check
  app/controllers/concerns/answering.rb
Labels: none

Additional error handling
  app/controllers/training/responses_controller.rb
Labels: none

DTK-855 - add module tab
  app/helpers/application_helper.rb
  app/views/home/_hero.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/system/front_page_spec.rb
Labels: frontend

Add Module component
  app/controllers/home_controller.rb
  app/models/training/module.rb
  app/views/home/_modules.html.slim
  app/views/home/index.html.slim
  app/views/learning/_card.html.slim
  config/locales/en.yml
Labels: frontend

Update destination in card component
  app/views/learning/_card.html.slim
  spec/lib/seed_snippets_spec.rb
Labels: frontend

wip
  app/views/home/_modules.html.slim
  app/views/learning/_available_modules.html.slim
  app/views/learning/_card.html.slim
  app/views/learning/_in_progress_modules.html.slim
Labels: frontend

wip
  app/controllers/home_controller.rb
Labels: none

wip
  app/controllers/home_controller.rb
Labels: none

wip
  spec/controllers/home_controller_spec.rb
Labels: none

Spec update
  spec/lib/seed_snippets_spec.rb
Labels: none

Rubocop update
  spec/controllers/home_controller_spec.rb
Labels: none

EYCDTK-943 Update error handling for learning check (#1644)
  app/controllers/concerns/answering.rb
  app/controllers/training/responses_controller.rb
Labels: none

Update font size ad width for homepage text
  app/views/home/_modules.html.slim
  app/views/home/index.html.slim
Labels: frontend

Update esbuild to latest version
  package.json
  yarn.lock
Labels: none

DTK-946 - learning log bug
  app/controllers/training/pages_controller.rb
  spec/controllers/training/pages_controller_spec.rb
Labels: none

DTK-946 - learning log bug (#1638)
  app/controllers/training/pages_controller.rb
  spec/controllers/training/pages_controller_spec.rb
Labels: none

Update overflow logic for learning check
  app/assets/stylesheets/application.scss
  app/views/training/questions/_learning_check_boxes.html.slim
  app/views/training/questions/_learning_radio_buttons.html.slim
Labels: frontend

DTK-818 - Add Microsoft Clarity (#1614)
  app/controllers/application_controller.rb
  app/controllers/settings_controller.rb
  app/forms/form_builder.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/_cookie_banner.html.slim
  app/views/notes/_note.html.slim
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/registration/role_types/edit.html.slim
  app/views/training/pages/certificate.html.slim
  app/views/user/show.html.slim
  config/application.rb
  config/initializers/content_security_policy.rb
  config/locales/en.yml
  spec/system/cookies_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

Update overflow logic for learning check (#1650)
  app/assets/stylesheets/application.scss
  app/views/training/questions/_learning_check_boxes.html.slim
  app/views/training/questions/_learning_radio_buttons.html.slim
Labels: frontend

Additional updates for home page
  app/assets/stylesheets/card.scss
  app/controllers/home_controller.rb
  config/locales/en.yml
Labels: frontend

Update card logic for homepage
  app/assets/stylesheets/card.scss
  app/views/home/_home_card.html.slim
  app/views/home/_modules.html.slim
Labels: frontend

Update esbuild version
  package.json
  yarn.lock
Labels: none

Adds fallback for stale cache
  app/models/user.rb
Labels: none

Adds fallback for stale cache (#1652)
  app/models/user.rb
Labels: none
