Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

DTK-697 - set module score exception
  app/services/assessment_progress.rb
Labels: none

Create export for showing users who have started a module but not finished it ordered by experience
  app/models/data_analysis/users_started_not_completed_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/users_started_not_completed_by_experience_spec.rb
Labels: none

wip
  app/models/data_analysis/users_started_not_completed_by_experience.rb
Labels: none

wip
  app/models/data_analysis/users_started_not_completed_by_experience.rb
Labels: none

wip
  app/models/data_analysis/users_started_not_completed_by_experience.rb
  spec/models/data_analysis/users_started_not_completed_by_experience_spec.rb
Labels: none

DTK-697 - set module score exception (#1585)
  app/services/assessment_progress.rb
Labels: none

DTK-706 - broken headers (#1583)
  app/views/markup/_prompt.html.slim
  config/initializers/markdown.rb
  spec/helpers/content_helper_spec.rb
  spec/requests/snippets_spec.rb
Labels: frontend

Add report for count of users completed_modules by experience
  app/models/data_analysis/users_completed_module_count_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/users_completed_module_count_by_experience_spec.rb
Labels: none

wip
  spec/models/data_analysis/users_completed_module_count_by_experience_spec.rb
Labels: none

wip
  app/models/data_analysis/users_completed_module_count_by_experience.rb
Labels: none

wip
  app/models/data_analysis/users_completed_module_count_by_experience.rb
Labels: none

EYCDTK-657 users completed module count (#1575)
  app/models/data_analysis/users_completed_module_count_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/users_completed_module_count_by_experience_spec.rb
Labels: none

wip
  app/models/data_analysis/users_started_not_completed_by_experience.rb
Labels: none

EYCDTK-669 started not completed module export (#1574)
  app/models/data_analysis/users_started_not_completed_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/users_started_not_completed_by_experience_spec.rb
Labels: none

DTK-659 - font change
  app/assets/config/manifest.js
  app/assets/fonts/InterVariable-Italic.woff2
  app/assets/fonts/InterVariable.woff2
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/fonts.scss
  app/assets/stylesheets/icons.scss
  package.json
Labels: frontend

trying something
  Dockerfile
  package.json
Labels: none

trying something2
  app/assets/config/manifest.js
Labels: none

Add export for user module order sorted by experience
  app/models/data_analysis/user_module_order_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/user_module_order_by_experience_spec.rb
Labels: none

wip
  app/models/data_analysis/user_module_order_by_experience.rb
Labels: none

wip
  app/services/dashboard.rb
  spec/services/dashboard_spec.rb
Labels: none

wip
  app/services/dashboard.rb
Labels: none

wip
  app/models/data_analysis/user_module_order_by_experience.rb
Labels: none

Remove all references of Hotjar
  .env.example
  README.md
  app/controllers/application_controller.rb
  app/forms/form_builder.rb
  app/views/layouts/_head.html.slim
  app/views/layouts/_hotjar_tracking.html.slim
  app/views/notes/_note.html.slim
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/registration/role_types/edit.html.slim
  app/views/training/pages/certificate.html.slim
  app/views/user/show.html.slim
  config/application.rb
  config/initializers/content_security_policy.rb
  config/locales/en.yml
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: Documentation, terraform, frontend

wip
  data/setting-type.yml
Labels: content

Revert "DTK-706 - broken headers (#1583)"
  app/views/markup/_prompt.html.slim
  config/initializers/markdown.rb
  spec/helpers/content_helper_spec.rb
  spec/requests/snippets_spec.rb
Labels: frontend

Revert "DTK-706 - broken headers (#1583)" (#1593)
  app/views/markup/_prompt.html.slim
  config/initializers/markdown.rb
  spec/helpers/content_helper_spec.rb
  spec/requests/snippets_spec.rb
Labels: frontend

Update for hiding specific content for certificate
  app/components/header_component.html.slim
  app/views/home/_hero.html.slim
Labels: frontend

Remove unused module
  terraform-azure/main.tf
  terraform-azure/terraform-azure-app/LICENSE
  terraform-azure/terraform-azure-app/README.md
  terraform-azure/terraform-azure-app/main.tf
  terraform-azure/terraform-azure-app/variables.tf
  terraform-azure/terraform-azure-network/vnet.tf
Labels: terraform

Set feedback_url from config
  terraform-azure/local.tf
Labels: terraform

This is not explicitly configured in production
  terraform-azure/terraform-azure-database/main.tf
Labels: terraform

Update for hiding specific content for certificate (#1595)
  app/components/header_component.html.slim
  app/views/home/_hero.html.slim
Labels: frontend

Remove all references of Hotjar (#1594)
  .env.example
  README.md
  app/controllers/application_controller.rb
  app/forms/form_builder.rb
  app/views/layouts/_head.html.slim
  app/views/layouts/_hotjar_tracking.html.slim
  app/views/notes/_note.html.slim
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/registration/role_types/edit.html.slim
  app/views/training/pages/certificate.html.slim
  app/views/user/show.html.slim
  config/application.rb
  config/initializers/content_security_policy.rb
  config/locales/en.yml
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: Documentation, terraform, frontend

Update dependency
  Gemfile
  Gemfile.lock
Labels: none

update rubygraphviz
  Gemfile.lock
Labels: none

wip
  package-lock.json
  yarn.lock
Labels: none

wip
  Gemfile
Labels: none

wip
  Gemfile.lock
Labels: none

wip
  .github/workflows/trivy.yml
Labels: pipeline

wip
  .github/workflows/trivy.yml
Labels: pipeline

wip
  Dockerfile
Labels: none
