Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

Add comment
  app/helpers/application_helper.rb
Labels: none

Implement smoke tests for sign-in journey across deployment workflows
  .github/scripts/smoke_sign_in.sh
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/ci.yml
  spec/system/gov_one_spec.rb
Labels: pipeline

Add smoke test suite execution and coverage check skip option
  .github/workflows/ci.yml
  spec/spec_helper.rb
Labels: pipeline

Add smoke test documentation for sign-in journey verification
  README.md
Labels: Documentation

Implement smoke tests for sign-in journey across deployment workflows (#1798)
  .github/scripts/smoke_sign_in.sh
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/ci.yml
  README.md
  spec/spec_helper.rb
  spec/system/gov_one_spec.rb
Labels: Documentation, pipeline

DTK-1286 precompile 2 (#1812)
  .gitignore
  Dockerfile
  app/assets/builds/.keep
  package.json
  yarn.lock
Labels: none

Move authenticity_token exclusion in to explicit set as appgateway caught at least one false positive meaning the exception is not working as intended
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Refactor nonce handling in update action so that invalid/missing nonces redirect immediately
  app/controllers/training/responses_controller.rb
Labels: none

Update continue module reminder timing to one week
  adr/0030-continue-module-reminder-timing.md
  app/models/user.rb
  app/models/visit.rb
  docs/confluence/EYCDTK-1397-continue-module-reminder-update.md
  spec/jobs/continue_training_mail_job_spec.rb
Labels: ADR

Additional updates
  app/helpers/content_helper.rb
  app/views/shared/_important_information_banner.html.slim
  spec/helpers/application_helper_spec.rb
Labels: frontend

Update styling for home card
  app/assets/stylesheets/card.scss
  app/views/home/_home_card.html.slim
Labels: frontend

Revert "Add additional free-text fields to WAF exclusion list for improved ha…"
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Revert "Add additional free-text fields to WAF exclusion list for improved ha…" (#1826)
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Update dependencies
  Gemfile.lock
Labels: none

Update brace-expansion dependency
  package.json
  yarn.lock
Labels: none

Update devise dependency
  Gemfile.lock
Labels: none

Update postcss dependency
  package.json
  yarn.lock
Labels: none

Update dependencies (#1827)
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

EYCDTK-1397 Update continue module email trigger (#1823)
  adr/0030-continue-module-reminder-timing.md
  app/models/user.rb
  app/models/visit.rb
  docs/confluence/EYCDTK-1397-continue-module-reminder-update.md
  spec/jobs/continue_training_mail_job_spec.rb
Labels: ADR

Update brace-expansion dependency
  package.json
  yarn.lock
Labels: none

Update ip-address dependency
  package.json
  yarn.lock
Labels: none

EYCDTK-1374 Update styling for home card (#1824)
  app/assets/stylesheets/card.scss
  app/views/home/_home_card.html.slim
Labels: frontend

Add Splunk OTLP exporter support and refactor OpenTelemetry configuration
  adr/0025-application-insights/0025-2-opentelemetry_deployment_sidecar.md
  config/initializers/opentelemetry.rb
  docker-compose.dev.yml
  docker-compose.yml
  lib/opentelemetry_configuration.rb
  spec/lib/opentelemetry_configuration_spec.rb
Labels: none

Update review app config
  terraform-azure/local.tf
Labels: terraform

EYCDTK-1554 Create new important banner (#1811)
  app/helpers/application_helper.rb
  app/helpers/content_helper.rb
  app/views/layouts/_flash.html.slim
  app/views/shared/_important_information_banner.html.slim
  spec/helpers/application_helper_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

Fix exclusion iteration in WAF policy to use a set for unique values
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Fix exclusion iteration in WAF policy to use a set for unique values (#1831)
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Update js-yaml dependency
  package.json
  yarn.lock
Labels: none

Update card styling
  app/assets/stylesheets/card.scss
  app/views/learning/_card.html.slim
Labels: frontend

Enable public network access for Key Vault and add private endpoint subnet configuration
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-network/vnet.tf
Labels: terraform

Update dependencies (#1829)
  package.json
  yarn.lock
Labels: none

wip
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Update WAF policy to exclude additional rule groups for user input handling
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

EYCDTK-1593-App-gate-way (#1833)
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Additional styling updates
  app/assets/stylesheets/card.scss
  app/helpers/link_helper.rb
Labels: frontend

wip
  docs/DATABASE_CONNECTION.md
Labels: none

wip
  docs/DATABASE_CONNECTION.md
Labels: none

Refactor nonce handling in update action so that invalid/missing nonces redirect immediately
  app/controllers/training/responses_controller.rb
  spec/controllers/training/responses_controller_spec.rb
Labels: none

wip
  spec/controllers/training/responses_controller_spec.rb
Labels: none

EYCDTK-1520 Card update (#1832)
  app/assets/stylesheets/card.scss
  app/helpers/link_helper.rb
  app/views/learning/_card.html.slim
Labels: frontend

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
