Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

wip
  .github/workflows/trivy.yml
Labels: pipeline

Add omniauth_callback rescues
  app/controllers/users/omniauth_callbacks_controller.rb
  app/services/gov_one_auth_service.rb
Labels: none

Add omniauth_callback rescues
  app/controllers/users/omniauth_callbacks_controller.rb
  app/services/gov_one_auth_service.rb
Labels: none

Hide feedback cta when viewing certificate
  app/views/training/pages/certificate.html.slim
Labels: frontend

Add logging line to staging to uncover users
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Add logging line to staging to uncover users
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Add confidence check scores for manager or leader
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_and_other.rb
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_only.rb
  app/models/user.rb
  app/services/dashboard.rb
  spec/models/data_analysis/confidence_check_scores_for_manager_or_leader_and_other_spec.rb
  spec/models/data_analysis/confidence_check_scores_for_manager_or_leader_only_spec.rb
Labels: none

Revert "Add logging line to staging to uncover users"
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Update to redirect when already logged in
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Revert "Add logging line to staging to uncover users" (#1386)
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Update to redirect when already logged in (#1387)
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Add assessment for managers and leaders
  app/models/data_analysis/assessment_for_leaders_and_managers.rb
  app/models/user.rb
  app/services/dashboard.rb
Labels: none

Update specs
  spec/models/data_analysis/assessment_for_leaders_and_managers_spec.rb
Labels: none

Add confidence check scores for manager or leader (#1385)
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_and_other.rb
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_only.rb
  app/models/user.rb
  app/services/dashboard.rb
  spec/models/data_analysis/confidence_check_scores_for_manager_or_leader_and_other_spec.rb
  spec/models/data_analysis/confidence_check_scores_for_manager_or_leader_only_spec.rb
Labels: none

Remove duplicate code
  app/models/data_analysis/assessment_for_leaders_and_managers.rb
  app/models/user.rb
  app/services/dashboard.rb
Labels: none

EYCDTK-122 Assessment new export for managers and leaders (#1388)
  app/models/data_analysis/assessment_for_leaders_and_managers.rb
  app/services/dashboard.rb
  spec/models/data_analysis/assessment_for_leaders_and_managers_spec.rb
Labels: none

Remove confidence score manager or team leader and other files
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_and_other.rb
  app/models/user.rb
  app/services/dashboard.rb
  spec/models/data_analysis/confidence_check_scores_for_manager_or_leader_and_other_spec.rb
Labels: none

Remove confidence score manager or team leader and other files (#1391)
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_and_other.rb
  app/models/user.rb
  app/services/dashboard.rb
  spec/models/data_analysis/confidence_check_scores_for_manager_or_leader_and_other_spec.rb
Labels: none

Remove redundant line from controller
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Remove redundant line from controller
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Add fallback deb_repo
  .github/workflows/trivy.yml
Labels: pipeline

Revert "Remove redundant line from controller"
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Revert "Remove redundant line from controller"
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Add fallback deb_repo
  .github/workflows/trivy.yml
Labels: pipeline

Upgrade rubocop so that rexml trivy error is fixed
  Gemfile.lock
Labels: none

Added hld.drawio
  uml/hld.drawio
Labels: none

hld first pass.drawio
  uml/hld.drawio
Labels: none

with a finalised hld for CDT.drawio
  uml/hld.drawio
Labels: none

wip
  Gemfile
  Gemfile.lock
Labels: none

wip
  Gemfile
  Gemfile.lock
Labels: none

Update upload-artifact and download-artifact to v4
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

Update upload-artifact and download-artifact to v4 (#1402)
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

Update readme
  README.md
Labels: Documentation

Hide feedback cta when viewing certificate (#1378)
  app/views/training/pages/certificate.html.slim
Labels: frontend

More updates
  README.md
Labels: Documentation

Update bracket in Readme
  README.md
Labels: Documentation

EYCDTK-233 Update Readme (#1404)
  README.md
Labels: Documentation

"Allow rexml version 3.4.0 or higher"
  .github/workflows/trivy.yml
  Gemfile
  Gemfile.lock
Labels: pipeline

wip
  .github/workflows/trivy.yml
Labels: pipeline

wip
  .github/workflows/trivy.yml
Labels: pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
