Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

wip
  terraform-azure/terraform-azure-network/monitor.tf
Labels: terraform

Add alerts for Key Vault deletion and RBAC assignment changes
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-network/monitor.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

Fix role definition name for Key Vault certificate user assignments
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

Add Key Vault monitoring and alerting resources with RBAC configuration
  terraform-azure/main.tf
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-network/monitor.tf
  terraform-azure/terraform-azure-network/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

wip
  Dockerfile
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  lib/opentelemetry_configuration.rb
  lib/telemetry_logger.rb
  lib/telemetry_sanitizer.rb
  spec/lib/open_telemetry_configuration_spec.rb
  spec/lib/telemetry_logger_spec.rb
  spec/lib/telemetry_sanitizer_spec.rb
Labels: none

EYCDTK-1327/Keyvault-misconfigs (#1871)
  terraform-azure/main.tf
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-network/monitor.tf
  terraform-azure/terraform-azure-network/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

Change formative question submission button to “Check answer”
  app/decorators/next_page_decorator.rb
  config/locales/en.yml
  lib/content_test_schema.rb
  spec/decorators/next_page_decorator_spec.rb
  spec/support/ast/alpha-fail-response.yml
  spec/support/ast/alpha-pass-response-skip-feedback.yml
  spec/support/ast/alpha-pass-response-with-feedback.yml
  spec/system/formative_question_spec.rb
Labels: none

Update seed snippets
  spec/lib/seed_snippets_spec.rb
Labels: none

EYCDTK-1706 Change learning check submission button to “Check answer” (#1888)
  app/decorators/next_page_decorator.rb
  config/locales/en.yml
  lib/content_test_schema.rb
  spec/decorators/next_page_decorator_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/support/ast/alpha-fail-response.yml
  spec/support/ast/alpha-pass-response-skip-feedback.yml
  spec/support/ast/alpha-pass-response-with-feedback.yml
  spec/system/formative_question_spec.rb
Labels: none

Move sidebar into shared
  app/controllers/about_controller.rb
  app/views/about/_sidebar.html.slim
  app/views/about/course.html.slim
  app/views/shared/_sidebar.html.slim
  config/locales/en.yml
  spec/helpers/content_helper_spec.rb
Labels: frontend

Update existing formative question to allow for additional description above question
  app/models/concerns/content_types.rb
  app/views/training/questions/_learning_check_boxes.html.slim
  app/views/training/questions/_learning_radio_buttons.html.slim
Labels: frontend

learning log refactor
  .vscode/launch.json
  app/assets/stylesheets/print.scss
  app/controllers/training/notes_controller.rb
  app/helpers/application_helper.rb
  app/views/notes/_form.html.slim
  app/views/notes/_note.html.slim
  app/views/notes/_sidebar.html.slim
  app/views/notes/show.html.slim
  config/locales/en.yml
  config/routes.rb
  spec/controllers/training/notes_controller_spec.rb
  spec/requests/notes_spec.rb
  spec/system/learning_log_spec.rb
Labels: frontend

final fixes
  app/assets/stylesheets/print.scss
  app/views/notes/show.html.slim
  config/locales/en.yml
Labels: frontend

remove count test
  spec/lib/seed_snippets_spec.rb
Labels: none

caption
  app/assets/stylesheets/application.scss
  app/views/notes/show.html.slim
Labels: frontend

update gitignore
  .gitignore
  .vscode/launch.json
Labels: none

Add OpenTelemetry logging configuration on worker boot
  config/puma.rb
  lib/opentelemetry_configuration.rb
Labels: none

Test updates
  spec/requests/about_training_spec.rb
  spec/system/about_spec.rb
Labels: none

updated caption
  app/assets/stylesheets/application.scss
  app/views/notes/show.html.slim
Labels: frontend

update yarn lock
  yarn.lock
Labels: none

update yarn.lock
  yarn.lock
Labels: none

update yarn.lock
  package.json
  yarn.lock
Labels: none

Dependencies (#1902)
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

Update component colours and improve keyboard focus styling
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/section-intro.scss
  app/assets/stylesheets/timestamp.scss
Labels: frontend

copilot comments
  app/views/notes/show.html.slim
  config/locales/en.yml
  spec/requests/notes_spec.rb
Labels: frontend

Update where scenario-based question logic is located
  app/models/concerns/content_types.rb
  app/models/training/question.rb
  spec/models/training/question_spec.rb
Labels: none

Revert "EYCDTK-1327/Keyvault-misconfigs (#1871)"
  terraform-azure/main.tf
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-network/monitor.tf
  terraform-azure/terraform-azure-network/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

sidebar refactor into helper
  app/helpers/sidebar_helper.rb
  app/views/about/_sidebar.html.slim
  app/views/notes/_sidebar.html.slim
  app/views/notes/show.html.slim
Labels: frontend

Revert "EYCDTK-1327/Keyvault-misconfigs (#1871)" (#1906)
  terraform-azure/main.tf
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-network/monitor.tf
  terraform-azure/terraform-azure-network/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

wip
  docs/key-vault-rbac-migration.md
Labels: none

wip
  docs/key-vault-rbac-migration.md
Labels: none

fix service nav style
  app/assets/stylesheets/header.scss
Labels: frontend

Revert "EYCDTK-1327/Keyvault-misconfigs (#1871)" (#1906)
  terraform-azure/main.tf
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-network/monitor.tf
  terraform-azure/terraform-azure-network/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

Implement phased migration of Azure Key Vault authorization to RBAC, including role assignments and monitoring setup
  adr/0031-key-vault-rbac-migration.md
  adr/ADR.md
  docs/key-vault-rbac-migration.md
  terraform-azure/main.tf
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-network/monitor.tf
  terraform-azure/terraform-azure-network/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: ADR, terraform

wip
  adr/0031-key-vault-rbac-migration.md
  terraform-azure/terraform-azure-network/monitor.tf
  terraform-azure/terraform-azure-network/variables.tf
Labels: ADR, terraform

EYCDTK-1717 Update component colours and improve keyboard focus styling (#1905)
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/section-intro.scss
  app/assets/stylesheets/timestamp.scss
Labels: frontend

EYCDTK-1707: Refactor learning log with shared sidebar and module-specific pages (#1892)
  .gitignore
  app/assets/stylesheets/print.scss
  app/controllers/about_controller.rb
  app/controllers/training/notes_controller.rb
  app/helpers/application_helper.rb
  app/helpers/sidebar_helper.rb
  app/views/about/_sidebar.html.slim
  app/views/about/course.html.slim
  app/views/notes/_form.html.slim
  app/views/notes/_note.html.slim
  app/views/notes/_sidebar.html.slim
  app/views/notes/show.html.slim
  app/views/shared/_sidebar.html.slim
  config/locales/en.yml
  config/routes.rb
  spec/controllers/training/notes_controller_spec.rb
  spec/helpers/content_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/about_training_spec.rb
  spec/requests/notes_spec.rb
  spec/system/about_spec.rb
  spec/system/learning_log_spec.rb
Labels: frontend

wip
  docs/key-vault-rbac-migration.md
  terraform-azure/terraform-azure-network/cert.tf
Labels: terraform

wip
  terraform-azure/terraform-azure-network/monitor.tf
Labels: terraform

wip
  docs/key-vault-rbac-migration.md
Labels: none
