Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Update hr class
  app/views/home/index.html.slim
Labels: frontend

Update tar dependency
  package.json
  yarn.lock
Labels: none

EYCDTK-1129 Homepage updates (#1705)
  app/views/home/index.html.slim
  config/initializers/markdown.rb
Labels: frontend

wip
  app/middleware/remove_server_header.rb
Labels: none

wip
  app/middleware/remove_server_header.rb
  config/environments/production.rb
Labels: none

Add security headers and middleware to remove 'Server' header from responses
  app/middleware/remove_server_header.rb
  config/environments/production.rb
Labels: none

EYCDTK-957/verbose-server-headers (#1704)
  app/middleware/remove_server_header.rb
  config/environments/production.rb
Labels: none

wip
  app/services/dashboard.rb
Labels: none

Refactor data sources in Dashboard service to disable unused exports for testing upload limits
  app/services/dashboard.rb
Labels: none

Temporarily reduce code coverage for testing exports
  spec/spec_helper.rb
Labels: none

EYCDTK-1237/exports_failes_to_run (#1707)
  app/services/dashboard.rb
  spec/spec_helper.rb
Labels: none

Fix middleware insertion for removing 'Server' header in production configuration
  config/environments/production.rb
Labels: none

Eycdtk 957/verbose server headers (#1708)
  config/environments/production.rb
Labels: none

Remove verbose server headers
  config/environments/production.rb
Labels: none

wip
  config/environments/production.rb
Labels: none

wip
  config/environments/production.rb
Labels: none

wip
  config/environments/production.rb
Labels: none

Eycdtk 957/verbose server headers (#1709)
  config/environments/production.rb
Labels: none

Update data sources in Dashboard service and increase SimpleCov minimum coverage to 95
  app/services/dashboard.rb
  spec/spec_helper.rb
Labels: none

Re-enable data sources in Dashboard service and increase SimpleCov minimum coverage to 95 (#1710)
  app/services/dashboard.rb
  spec/spec_helper.rb
Labels: none

DTK-1232 - Turn the email notifications back on
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform

Fix - data export logging
  app/services/dashboard.rb
  spec/services/dashboard_spec.rb
  spec/spec_helper.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform

Fix - data export logging (#1712)
  app/services/dashboard.rb
  spec/services/dashboard_spec.rb
  spec/spec_helper.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform

Update tar dependency
  package.json
  yarn.lock
Labels: none

Adds sentry logging to data export que
  config/initializers/que.rb
Labels: none

Adds sentry logging to data export que (#1713)
  config/initializers/que.rb
Labels: none

Uncomment exports
  app/services/dashboard.rb
  spec/services/dashboard_spec.rb
Labels: none

Uncomment exports (#1714)
  app/services/dashboard.rb
  spec/services/dashboard_spec.rb
Labels: none

Refactor dashboard methods to support enumerators and batch processing
  app/models/data_analysis/closed_accounts.rb
  app/models/data_analysis/confidence_check_scores.rb
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_only.rb
  app/models/data_analysis/guest_feedback_scores.rb
  app/models/data_analysis/pre_confidence_check_answers.rb
  app/models/data_analysis/pre_confidence_skipped_by_module.rb
  app/models/data_analysis/user_count_by_role_and_experience.rb
Labels: none

Enhance dashboard methods to support block usage and improve data retrieval across multiple models
  Gemfile.lock
  app/models/data_analysis/closed_accounts.rb
  app/models/data_analysis/confidence_check_scores.rb
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_only.rb
  app/models/data_analysis/guest_feedback_scores.rb
  app/models/data_analysis/pre_confidence_check_answers.rb
  app/models/data_analysis/pre_confidence_skipped_by_module.rb
  app/models/data_analysis/user_count_by_role_and_experience.rb
Labels: none

wip
  app/models/data_analysis/closed_accounts.rb
  app/models/data_analysis/confidence_check_scores.rb
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_only.rb
  app/models/data_analysis/pre_confidence_check_answers.rb
  app/models/data_analysis/pre_confidence_skipped_by_module.rb
  app/models/data_analysis/user_count_by_role_and_experience.rb
Labels: none

wip
  .github/workflows/trivy.yml
  .gitignore
  .trivyignore
  Gemfile.lock
  package.json
  yarn.lock
Labels: pipeline

Update Trivy (#1716)
  .github/workflows/trivy.yml
  .gitignore
  .trivyignore
  Gemfile.lock
  package.json
  yarn.lock
Labels: pipeline

Refactor dashboard methods to support enumerators and batch processing
  app/models/data_analysis/closed_accounts.rb
  app/models/data_analysis/confidence_check_scores.rb
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_only.rb
  app/models/data_analysis/guest_feedback_scores.rb
  app/models/data_analysis/pre_confidence_check_answers.rb
  app/models/data_analysis/pre_confidence_skipped_by_module.rb
  app/models/data_analysis/user_count_by_role_and_experience.rb
Labels: none

Enhance dashboard methods to support block usage and improve data retrieval across multiple models
  app/models/data_analysis/closed_accounts.rb
  app/models/data_analysis/confidence_check_scores.rb
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_only.rb
  app/models/data_analysis/guest_feedback_scores.rb
  app/models/data_analysis/pre_confidence_check_answers.rb
  app/models/data_analysis/pre_confidence_skipped_by_module.rb
  app/models/data_analysis/user_count_by_role_and_experience.rb
Labels: none

Optimize CSV export by eager loading user_module_progress to prevent N+1 queries. Other models using ToCsv remain unaffected
  app/models/user.rb
Labels: none

Eycdtk1237/exports failed to run (#1715)
  app/models/data_analysis/closed_accounts.rb
  app/models/data_analysis/confidence_check_scores.rb
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader_only.rb
  app/models/data_analysis/guest_feedback_scores.rb
  app/models/data_analysis/pre_confidence_check_answers.rb
  app/models/data_analysis/pre_confidence_skipped_by_module.rb
  app/models/data_analysis/user_count_by_role_and_experience.rb
  app/models/user.rb
Labels: none

Enhance export logging in CSV methods and dashboard service for better traceability.
  app/models/concerns/to_csv.rb
  app/services/dashboard.rb
Labels: none

Use left join to improve without_notes scope's attempt to include users without filled notes or with empty bodies
  app/models/user.rb
Labels: none

wip
  app/models/concerns/to_csv.rb
  app/services/dashboard.rb
Labels: none
