Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

delete old registration view
  app/views/devise/sessions/new.html.slim
Labels: frontend

Ahoy config and namespacing
  app/controllers/concerns/tracking.rb
  app/controllers/training/assessments_controller.rb
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/models/data_analysis/module_overview.rb
  app/models/data_analysis/returning_users.rb
  app/models/data_analysis/user_module_order.rb
  app/models/data_analysis/user_overview.rb
  app/models/event.rb
  app/models/user.rb
  app/models/visit.rb
  app/services/content_changes.rb
  app/services/course_progress.rb
  app/services/dashboard.rb
  app/services/module_progress.rb
  app/views/ahoy/events/_event.html.slim
  app/views/ahoy/visits/_visit.html.slim
  config/initializers/ahoy.rb
  data/KPI.md
  db/migrate/20240214175923_remove_ahoy_namespace.rb
  db/schema.rb
  lib/content_seed.rb
  spec/factories/event.rb
  spec/factories/visit.rb
  spec/lib/fill_page_views_spec.rb
  spec/models/ahoy/event_spec.rb
  spec/models/ahoy/visit_spec.rb
  spec/models/concerns/to_csv_spec.rb
  spec/models/data_analysis/returning_users_spec.rb
  spec/models/user_spec.rb
  spec/support/shared/with_events.rb
  spec/system/training_module_completion_spec.rb
Labels: Documentation, frontend

Form binary options refactor
  app/controllers/registration/terms_and_conditions_controller.rb
  app/forms/form_builder.rb
  app/forms/form_option.rb
  app/helpers/content_helper.rb
  app/views/registration/early_years_emails/edit.html.slim
  app/views/registration/training_emails/edit.html.slim
  app/views/user/edit_training_emails.html.slim
Labels: frontend

Keep feedback questions draft for now
  spec/models/course_spec.rb
Labels: none

Fix failing local authories spec following update to LA list
  app/forms/registration/local_authority_form.rb
  spec/requests/registration/local_authorities_spec.rb
Labels: none

Clearly define that what is selected is not necessarily what is saved.
  app/forms/registration/local_authority_form.rb
  app/models/trainee/authority.rb
  spec/requests/registration/local_authorities_spec.rb
Labels: none

Fix failing LA spec following update to LA list (#1080)
  app/forms/registration/local_authority_form.rb
  app/models/trainee/authority.rb
  spec/requests/registration/local_authorities_spec.rb
Labels: none

Fix rubocop error
  Gemfile
Labels: none

remove outdated authentication code
  app/controllers/passwords_controller.rb
  app/controllers/registrations_controller.rb
Labels: none

handle review app deployment boot strapping from schema
  db/schema.rb
Labels: none

Avoid schema edits which will also work
  db/schema.rb
  docker-entrypoint.sh
Labels: none

Tidy
  Gemfile
  db/schema.rb
Labels: none

Bump all dependencies to address dependabot and trivy alerts (#1076)
  Gemfile
  Gemfile.lock
  app/models/user_answer.rb
  db/schema.rb
  docker-entrypoint.sh
  package.json
  yarn.lock
Labels: none

disable deployment of candidates and releases via push (#1077)
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Tidy CF docs, ADRs and permit GH images
  README.md
  adr/0004-authentication.md
  adr/0010-postcodes.md
  adr/0016-password-vulnerability.md
  adr/0017-external-authentication.md
  adr/ADR.md
  bin/cf-task
  config/cable.yml
  config/initializers/content_security_policy.rb
  policy.json
Labels: ADR, Documentation

Revert feedback spec during active development
  spec/models/course_spec.rb
Labels: none

Seed Gov One account and test manual training data migration task
  .env.example
  db/seeds/users.yml
  lib/tasks/data.rake
  lib/tasks/eyfs.rake
Labels: none

Resume and validate functionality
  .rubocop_todo.yml
  README.md
  db/seeds/users.yml
  lib/migrate_training.rb
  spec/lib/migrate_training_spec.rb
  spec/system/migrate_training_spec.rb
Labels: Documentation

wip: Update one-off question logic and page count logic in module
  .github/workflows/ci.yml
  app/controllers/concerns/learning.rb
  app/controllers/training/responses_controller.rb
  app/decorators/pagination_decorator.rb
  app/helpers/link_helper.rb
  app/models/concerns/content_types.rb
  app/models/response.rb
  app/models/training/content.rb
  app/models/training/question.rb
  app/models/user.rb
  spec/decorators/pagination_decorator_spec.rb
  spec/helpers/link_helper_spec.rb
Labels: pipeline

remove duplicate ci run
  .github/workflows/ci.yml
Labels: pipeline

Improve coverage and debugging output for active development
  app/models/training/content.rb
  app/services/course_progress.rb
  spec/models/training/page_spec.rb
  spec/models/training/question_spec.rb
  spec/models/training/video_spec.rb
  spec/services/course_progress_spec.rb
Labels: none

Revert bump which reintroduces glob-parent vulnerability
  package.json
  yarn.lock
Labels: none

update user factory
  spec/factories/users.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/support/shared/with_user.rb
Labels: none

remove rogue dash from ci workflow
  .github/workflows/ci.yml
Labels: pipeline

fix error in user context
  db/schema.rb
  spec/support/shared/with_user.rb
Labels: none

fix error in user overview spec
  spec/models/data_analysis/user_overview_spec.rb
Labels: none

Update user factory and specs
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
  spec/factories/users.rb
  spec/models/data_analysis/user_overview_spec.rb
Labels: none

update user spec
  spec/models/user_spec.rb
Labels: none

Restore code lost in merge with main
  app/models/user.rb
Labels: none

wip
  app/models/concerns/content_types.rb
  app/models/feedback.rb
  spec/models/concerns/content_types_spec.rb
  spec/support/shared/with_content.rb
  spec/support/shared/with_progress.rb
  spec/system/common_page_spec.rb
  spec/system/end_of_module_feedback_form_spec.rb
Labels: none

wip: Update to add opinion intro and opinion
  app/controllers/training/pages_controller.rb
  app/models/concerns/content_types.rb
  app/models/concerns/pagination.rb
  app/models/training/question.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/training/question_spec.rb
  spec/support/shared/with_content.rb
  spec/support/shared/with_progress.rb
  spec/system/common_page_spec.rb
Labels: none

wip: Update to include other text field
  .github/workflows/ci.yml
  app/controllers/training/questions_controller.rb
  app/forms/form_builder.rb
  app/models/concerns/pagination.rb
  app/models/training/question.rb
  app/views/training/questions/_opinion_radio_buttons.html.slim
  docker-compose.test.yml
  spec/system/end_of_module_feedback_form_spec.rb
  spec/system/opinion_spec.rb
Labels: frontend, pipeline

wip: Update for new question response type
  app/forms/form_builder.rb
  app/models/concerns/pagination.rb
  app/models/training/question.rb
  app/views/training/questions/_opinion_radio_buttons.html.slim
  spec/models/training/question_spec.rb
  spec/system/opinion_spec.rb
Labels: frontend

wip: Update for end of module feedback journey and feedback intro buttons
  app/controllers/training/questions_controller.rb
  app/helpers/link_helper.rb
  app/models/concerns/content_types.rb
  app/models/training/content.rb
  app/models/training/module.rb
  app/views/training/pages/_content.html.slim
  spec/helpers/link_helper_spec.rb
  spec/support/shared/with_progress.rb
  spec/system/opinion_spec.rb
Labels: frontend

wip: add text area feedback question type
  app/views/training/questions/_opinion_radio_buttons.html.slim
Labels: frontend

wip: Update to hide Additional feedback in module overview
  app/decorators/module_overview_decorator.rb
  app/forms/form_builder.rb
  app/models/concerns/pagination.rb
  app/models/training/content.rb
  app/views/training/modules/show.html.slim
  app/views/training/pages/_content.html.slim
  app/views/training/pages/section_intro.html.slim
  spec/system/module_overview_content_spec.rb
  spec/system/opinion_spec.rb
Labels: frontend

wip: Update end of module feedback journey
  app/controllers/training/pages_controller.rb
  app/forms/form_builder.rb
  app/views/training/questions/_opinion_radio_buttons.html.slim
  spec/system/opinion_spec.rb
Labels: frontend

wip: Progress bar update to match designs
  app/controllers/training/pages_controller.rb
  app/controllers/training/responses_controller.rb
  app/decorators/pagination_decorator.rb
  app/helpers/link_helper.rb
  app/models/response.rb
  app/models/user_answer.rb
  app/views/training/modules/_section.html.slim
  app/views/training/pages/_content.html.slim
  config/locales/en.yml
  spec/system/opinion_spec.rb
Labels: frontend

wip: Update to ensure error handling is shown when no option is selected
  app/controllers/training/responses_controller.rb
  app/decorators/pagination_decorator.rb
  app/models/response.rb
  app/models/training/content.rb
  app/models/training/module.rb
  app/views/training/questions/_opinion_radio_buttons.html.slim
  config/locales/en.yml
  spec/system/opinion_spec.rb
Labels: frontend

wip: Update to include optional show of hint text for feedback questions
  app/decorators/pagination_decorator.rb
  app/models/feedback.rb
  app/models/training/question.rb
  app/models/user_answer.rb
  app/views/training/questions/_opinion_radio_buttons.html.slim
  spec/models/training/response_spec.rb
Labels: frontend
