Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

"Allow rexml version 3.4.0 or higher"
  .github/workflows/trivy.yml
  Gemfile
  Gemfile.lock
Labels: pipeline

"Allow rexml version 3.4.0 or higher"
  .github/workflows/trivy.yml
Labels: pipeline

wip
  .github/workflows/trivy.yml
Labels: pipeline

wip
  debian11.sbom.cdx
Labels: none

wip
  Gemfile
  Gemfile.lock
Labels: none

wip
  .github/workflows/trivy.yml
  debian11.sbom.cdx
Labels: pipeline

"Allow rexml version 3.4.0 or higher"
  .github/workflows/trivy.yml
Labels: pipeline

wip
  .github/workflows/trivy.yml
  Gemfile.lock
  debian11.sbom.cdx
Labels: pipeline

add trivy ignore file
  .trivyignore
  debian11.sbom.cdx
Labels: none

add trivy ignore file
  .trivyignore
  debian11.sbom.cdx
Labels: none

"Allow rexml version 3.4.0 or higher"
  .github/workflows/trivy.yml
Labels: pipeline

wip
  .github/workflows/trivy.yml
  Gemfile.lock
  debian11.sbom.cdx
Labels: pipeline

Update Grover to 1.2.2
  Gemfile.lock
Labels: none

Update Grover to 1.2.2 (#1426)
  Gemfile.lock
Labels: none

Revert "Bump rails-html-sanitizer in the bundler group across 1 directory (#1…"
  Gemfile.lock
Labels: none

Revert "Bump rails-html-sanitizer in the bundler group across 1 directory (#1…" (#1427)
  Gemfile.lock
Labels: none

Manually update bootsnap
  Gemfile.lock
Labels: none

Manually update bootsnap (#1428)
  Gemfile.lock
Labels: none

Update govuk-frontend version
  app/assets/stylesheets/application.scss
  package.json
  yarn.lock
Labels: frontend

Update to ensure crown is shown
  app/assets/stylesheets/application.scss
Labels: frontend

Update puma to latest version
  Gemfile.lock
Labels: none

EYCDTK-308 Footer govuk crest update (#1431)
  app/assets/stylesheets/application.scss
  package.json
  yarn.lock
Labels: frontend

Update puma to latest version (#1432)
  Gemfile.lock
Labels: none

Update colours to fix deprecation warnings and update assets
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/certificate.scss
  app/assets/stylesheets/interruption.scss
  app/assets/stylesheets/prompt.scss
Labels: frontend

Update colours to fix deprecation warnings and update assets (#1433)
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/certificate.scss
  app/assets/stylesheets/interruption.scss
  app/assets/stylesheets/prompt.scss
Labels: frontend

Update Contentful version
  Gemfile.lock
Labels: none

Update more dependencies (including Rails to 7.2)
  Gemfile.lock
  db/schema.rb
Labels: none

Update que to fix clear active connections error
  Gemfile.lock
Labels: none

Update dependencies (#1434)
  Gemfile.lock
  db/schema.rb
Labels: none

Dependency updates
  Gemfile.lock
Labels: none

Update rubocop and json
  Gemfile.lock
Labels: none

Update msgpack and bundler
  Gemfile.lock
Labels: none

Dependency updates (#1442)
  Gemfile.lock
Labels: none

Update Rack to 3.1.10
  Gemfile.lock
Labels: none

Update factory_bot_rails to latest version
  Gemfile.lock
Labels: none

Update Rack to 3.1.10 (#1444)
  Gemfile.lock
Labels: none

Update factory_bot_rails to latest version (#1447)
  Gemfile.lock
Labels: none

Update nokogiri to latest version
  Gemfile.lock
Labels: none

Update dependencies
  Gemfile.lock
Labels: none

Update nokogiri to latest version (#1448)
  Gemfile.lock
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
