Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Accessibility Audit - Incorrect use of ARIA (#1528)
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/registration/local_authorities/edit.html.slim
  app/views/registration/role_type_others/edit.html.slim
  app/views/registration/role_types/edit.html.slim
  app/views/registration/setting_types/edit.html.slim
Labels: frontend

Remove role requirement from saving setting other type
  app/models/user.rb
Labels: none

EYCDTK-443 Update login success banner to disable autofocus (#1529)
  app/views/layouts/_flash.html.slim
Labels: frontend

Focus Indicator on Provide feedback button
  app/assets/stylesheets/application.scss
Labels: frontend

Update Nokogiri version
  Gemfile.lock
Labels: none

Focus Indicator on Provide feedback button
  app/assets/stylesheets/application.scss
Labels: frontend

Update Nokogiri version (#1536)
  Gemfile.lock
Labels: none

Update Axios to latest version
  package.json
  yarn.lock
Labels: none

Update Axios to latest version (#1538)
  package.json
  yarn.lock
Labels: none

DTK-469 - Reflow
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/module-overview.scss
  app/assets/stylesheets/prompt.scss
Labels: frontend

DRK-470 - Resize Text fix
  app/assets/stylesheets/prompt.scss
Labels: frontend

DTK-534 - progress spoken twice
  app/views/learning/_card.html.slim
Labels: frontend

Remove role requirement from saving setting other type
  app/models/user.rb
Labels: none

Bring setting types other controller in line with the regular settings controller
  app/controllers/registration/setting_type_others_controller.rb
  app/forms/registration/setting_type_form.rb
  app/forms/registration/setting_type_other_form.rb
  spec/controllers/registration/setting_type_others_controller_spec.rb
  spec/requests/registration/setting_type_others_spec.rb
  spec/system/account_page_spec.rb
  spec/system/registration_spec.rb
Labels: none

Update section count so that it ignores feedback as a section
  app/decorators/pagination_decorator.rb
  spec/decorators/feedback_pagination_decorator_spec.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/pagination_decorator_spec.rb
  spec/system/certificate_spec.rb
Labels: none

DTK-534 - progress spoken twice (#1540)
  app/views/learning/_card.html.slim
Labels: frontend

Focus Indicator on Provide feedback button (#1533)
  app/assets/stylesheets/application.scss
Labels: frontend

DTK-469 - Reflow
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/module-overview.scss
  app/assets/stylesheets/prompt.scss
Labels: frontend

Add not applicable to role type when choosing other.
  app/forms/registration/setting_type_other_form.rb
Labels: none

Add not applicable to role type when choosing other. (#1543)
  app/forms/registration/setting_type_other_form.rb
Labels: none

Update dependencies following upgrade
  Gemfile.lock
Labels: none

Upgrade to Ruby latest stable version (3.4.5)
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  uml/application.puml
Labels: pipeline

wip
  Dockerfile
Labels: none

DTK-469 - Reflow (#1539)
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/module-overview.scss
  app/assets/stylesheets/prompt.scss
Labels: frontend

Update section count so that it ignores feedback as a section
  app/decorators/pagination_decorator.rb
  spec/decorators/feedback_pagination_decorator_spec.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/pagination_decorator_spec.rb
  spec/system/certificate_spec.rb
Labels: none

Update section count so that it ignores feedback as a section (#1537)
  app/decorators/pagination_decorator.rb
  spec/decorators/feedback_pagination_decorator_spec.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/pagination_decorator_spec.rb
  spec/system/certificate_spec.rb
Labels: none

Failing specs update
  Gemfile.lock
  app/helpers/content_helper.rb
  spec/jobs/mail_job_spec.rb
Labels: none

DRK-470 - Resize Text fix
  app/assets/stylesheets/prompt.scss
Labels: frontend

Revert "DTK-534 - progress spoken twice (#1540)"
  app/views/learning/_card.html.slim
Labels: frontend

Revert "DTK-534 - progress spoken twice (#1540)" (#1544)
  app/views/learning/_card.html.slim
Labels: frontend

Do not create plan artifact
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

WIP
  app/assets/images/dfe-logo-alt.png
  app/assets/images/dfe-logo.png
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_body.html.slim
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  package.json
  yarn.lock
Labels: frontend

DRK-470 - Resize Text fix (#1531)
  app/assets/stylesheets/prompt.scss
Labels: frontend

GOV.UK Rebrand
  app/assets/images/dfe-logo-alt.png
  app/assets/images/dfe-logo.png
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_body.html.slim
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  package.json
  yarn.lock
Labels: frontend

Add custom tf command (will be removed later) Changes to sync with deployed resources
  .github/workflows/tf-azure-custom-command.yml
  terraform-azure/terraform-azure-app/main.tf
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform, pipeline

Custom terraform command
  .github/workflows/tf-azure-custom-command.yml
Labels: pipeline

wip
  Dockerfile
Labels: none

Upgrade to Ruby latest stable version (3.4.5)
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  uml/application.puml
Labels: pipeline

Update dependencies following upgrade
  Gemfile.lock
Labels: none

Failing specs update
  Gemfile.lock
  app/controllers/concerns/answering.rb
  app/helpers/content_helper.rb
  spec/jobs/mail_job_spec.rb
  spec/models/job_spec.rb
  spec/services/dashboard_spec.rb
Labels: none
