Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Ensure all tests that fail on preview no longer require or run where appropriate
  spec/config_spec.rb
  spec/factories/questions.rb
  spec/factories/training_module.rb
  spec/factories/videos.rb
  spec/models/page_spec.rb
  spec/models/training/module_spec.rb
  spec/models/training/page_spec.rb
  spec/models/training/question_spec.rb
  spec/models/training/video_spec.rb
  spec/services/content_changes_spec.rb
  spec/services/course_progress_spec.rb
  spec/spec_helper.rb
  spec/support/contentful_stub_service.rb
  spec/support/shared/updated_content.rb
Labels: none

Ensure all tests that fail on preview no longer require or run where appropriate (#1733)
  spec/config_spec.rb
  spec/factories/questions.rb
  spec/factories/training_module.rb
  spec/factories/videos.rb
  spec/models/page_spec.rb
  spec/models/training/module_spec.rb
  spec/models/training/page_spec.rb
  spec/models/training/question_spec.rb
  spec/models/training/video_spec.rb
  spec/services/content_changes_spec.rb
  spec/services/course_progress_spec.rb
  spec/spec_helper.rb
  spec/support/contentful_stub_service.rb
  spec/support/shared/updated_content.rb
Labels: none

Refactor responses_controller_spec to use patch_with_nonce for update tests
  spec/controllers/training/responses_controller_spec.rb
Labels: none

wip
  app/controllers/training/responses_controller.rb
Labels: none

wip
  spec/controllers/training/responses_controller_spec.rb
Labels: none

Implement nonce handling for summative question responses and update form view
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/models/user.rb
  app/views/training/questions/show.html.slim
Labels: frontend

wip
  app/controllers/training/responses_controller.rb
Labels: none

Refactor nonce handling in QuestionsController and ResponsesController to ensure unique nonce generation and improve session management
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
Labels: none

Eycdtk 1268 assessment score bug (#1734)
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/models/user.rb
  app/views/training/questions/show.html.slim
Labels: frontend

wip
  app/views/shared/_start_button.html.slim
  app/views/training/modules/show.html.slim
Labels: frontend

Fix indentation in start button partial
  app/views/shared/_start_button.html.slim
Labels: frontend

Refactor resume module button click to use first link_or_button selector
  app/views/shared/_start_button.html.slim
  app/views/training/modules/show.html.slim
  spec/system/confidence_check_spec.rb
  spec/system/formative_question_spec.rb
  spec/system/summative_assessment_spec.rb
Labels: frontend

Eycdtk 1236/implement new start button (#1735)
  app/views/shared/_start_button.html.slim
  app/views/training/modules/show.html.slim
  spec/system/confidence_check_spec.rb
  spec/system/formative_question_spec.rb
  spec/system/summative_assessment_spec.rb
Labels: frontend

Upgrade postgres to 15.17
  .github/workflows/ci.yml
  .tool-versions
  README.md
  docker-compose.yml
  uml/application.puml
Labels: Documentation, pipeline

Fix bug where using wrong comment formatting in start button partial
  app/views/shared/_start_button.html.slim
Labels: frontend

Fix bug where using wrong comment formatting in start button partial (#1736)
  app/views/shared/_start_button.html.slim
Labels: frontend

Upgrade postgres to 15.17 (#1739)
  .github/workflows/ci.yml
  .tool-versions
  README.md
  docker-compose.yml
  uml/application.puml
Labels: Documentation, pipeline

Update Rack and rack-session dependencies
  Gemfile.lock
Labels: none

Update subsection heading link logic
  app/helpers/content_helper.rb
  app/views/training/modules/_subsection.html.slim
Labels: frontend

DTK-1308 - broken access
  README.md
  app/controllers/users/sessions_controller.rb
  app/helpers/link_helper.rb
  app/models/user.rb
  bin/podman-dev
  bin/podman-rspec
  config/routes.rb
  config/sitemap.rb
  db/seeds/users.yml
  lib/tasks/eyfs.rake
  spec/config_spec.rb
  spec/models/user_spec.rb
  spec/routing/users_routing_spec.rb
Labels: Documentation

Update link logic to include next page condition in subsection rendering
  app/views/training/modules/_subsection.html.slim
Labels: frontend

DTK-1287 - compressed header logo
  app/assets/images/dfe-logo-3x.png
  app/assets/images/dfe-logo-compressed.png
  app/components/header_component.html.slim
Labels: frontend

Add top margin to call-to-action button and refactor start button partial
  app/assets/stylesheets/module-overview.scss
  app/views/shared/_start_button.html.slim
  app/views/training/modules/show.html.slim
Labels: frontend

Fix padding-right for module-section--item on tablet view
  app/assets/stylesheets/module-overview.scss
Labels: frontend

New button spacing (#1744)
  app/assets/stylesheets/module-overview.scss
  app/views/shared/_start_button.html.slim
  app/views/training/modules/show.html.slim
Labels: frontend

EYCDTK-939 Completed link update (#1741)
  app/helpers/content_helper.rb
  app/views/training/modules/_subsection.html.slim
Labels: frontend

Enhance error handling in PagesController to check for content and module presence before rendering the show action
  app/controllers/pages_controller.rb
  app/controllers/training/pages_controller.rb
Labels: none

Refactor show action to handle not found cases more clearly
  app/controllers/pages_controller.rb
Labels: none

wip
  app/controllers/training/questions_controller.rb
Labels: none

wip
  app/controllers/training/pages_controller.rb
  app/controllers/training/questions_controller.rb
Labels: none

Update completed link update logic and remove spec
  app/views/training/modules/_subsection.html.slim
  spec/system/module_overview_progress_spec.rb
Labels: frontend

Refactor show action to handle not found cases more clearly (#1738)
  app/controllers/pages_controller.rb
  app/controllers/training/pages_controller.rb
  app/controllers/training/questions_controller.rb
Labels: none

Update completed link update logic and remove spec (#1746)
  app/views/training/modules/_subsection.html.slim
  spec/system/module_overview_progress_spec.rb
Labels: frontend

Revert "Update completed link update logic and remove spec (#1746)"
  app/views/training/modules/_subsection.html.slim
  spec/system/module_overview_progress_spec.rb
Labels: frontend

Revert changes for subsection
  app/views/training/modules/_subsection.html.slim
Labels: frontend

Revert "EYCDTK-939 Completed link logic update" (#1747)
  app/views/training/modules/_subsection.html.slim
  spec/system/module_overview_progress_spec.rb
Labels: frontend

DTK-1308 - broken access (#1742)
  README.md
  app/controllers/users/sessions_controller.rb
  app/helpers/link_helper.rb
  app/models/user.rb
  bin/podman-dev
  bin/podman-rspec
  config/routes.rb
  config/sitemap.rb
  db/seeds/users.yml
  lib/tasks/eyfs.rake
  spec/config_spec.rb
  spec/models/user_spec.rb
  spec/routing/users_routing_spec.rb
Labels: Documentation

Update colours for progress indicator
  app/assets/stylesheets/section-bar.scss
Labels: frontend

DTK-1287 - compressed header logo (#1743)
  app/assets/images/dfe-logo-3x.png
  app/assets/images/dfe-logo-compressed.png
  app/components/header_component.html.slim
Labels: frontend

Update rails version
  Gemfile.lock
Labels: none
