Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Upgrade to the latest stable Ruby version 3.4.5 (#1542)
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  app/controllers/concerns/answering.rb
  app/helpers/content_helper.rb
  spec/jobs/mail_job_spec.rb
  spec/models/job_spec.rb
  spec/services/dashboard_spec.rb
  uml/application.puml
Labels: pipeline

Enable HTTP logging
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

GOV.UK Rebrand
  .trivyignore
  app/assets/images/dfe-logo-alt.png
  app/assets/images/dfe-logo.png
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_body.html.slim
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  db/schema.rb
  package.json
  yarn.lock
Labels: frontend

Revert
  terraform-azure/terraform-azure-app/main.tf
Labels: terraform

Update module_progress page events method so it sorts by time of events, ensuring they're in the correct order
  app/services/module_progress.rb
Labels: none

Add test to check that sort works correctly in module_page_events method
  spec/services/module_progress_spec.rb
Labels: none

Update module_progress event so it uses time (#1555)
  app/services/module_progress.rb
  spec/services/module_progress_spec.rb
Labels: none

Update rails dependency
  Gemfile.lock
Labels: none

Update rails dependency (#1557)
  Gemfile.lock
Labels: none

Update formative question spec
  spec/system/formative_question_spec.rb
Labels: none

Update release controller Update release controller so that it clears cache on hook consumption and logs correctly
  app/controllers/release_controller.rb
  spec/controllers/release_controller_spec.rb
  spec/requests/webhooks_spec.rb
Labels: none

DTK-647 - add logging to silent failure on assessment score
  app/services/assessment_progress.rb
Labels: none

Access policy tenant shouldn't change
  terraform-azure/terraform-azure-app/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

DTK-647 - add logging to silent failure on assessment score (#1563)
  app/services/assessment_progress.rb
Labels: none

Update Release controller spec
  spec/controllers/release_controller_spec.rb
Labels: none

EYCDTK-605 Contentful updates (#1559)
  app/controllers/release_controller.rb
  spec/controllers/release_controller_spec.rb
  spec/requests/webhooks_spec.rb
Labels: none

GOV.UK Rebrand
  .trivyignore
  app/assets/images/dfe-logo-alt.png
  app/assets/images/dfe-logo.png
  app/assets/images/dfe_favicon.ico
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_body.html.slim
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  package.json
  yarn.lock
Labels: frontend

Update logic for save response
  app/controllers/concerns/answering.rb
Labels: none

GOV.UK Rebrand (#1550)
  .trivyignore
  app/assets/images/dfe-logo-alt.png
  app/assets/images/dfe-logo.png
  app/assets/images/dfe_favicon.ico
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_body.html.slim
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  package.json
  yarn.lock
Labels: frontend

Matching to deployed resources
  terraform-azure/local.tf
  terraform-azure/main.tf
  terraform-azure/terraform-azure-database/main.tf
  terraform-azure/terraform-azure-network/cert.tf
Labels: terraform

Fix copy-n-paste error
  terraform-azure/terraform-azure-database/main.tf
Labels: terraform

Match deployed slot
  terraform-azure/local.tf
Labels: terraform

DTK-554 - adds fallback for resume
  app/services/module_progress.rb
Labels: none

EYCDTK-547 Error update (#1558)
  app/controllers/concerns/answering.rb
  spec/system/formative_question_spec.rb
Labels: none

BV-sentry-config (#1496)
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  Dockerfile
  config/application.rb
  config/initializers/sentry.rb
Labels: pipeline

Revert "Update module_progress event so it uses time (#1555)"
  app/services/module_progress.rb
  spec/services/module_progress_spec.rb
Labels: none

Revert "Update module_progress event so it uses time (#1555)" (#1566)
  app/services/module_progress.rb
  spec/services/module_progress_spec.rb
Labels: none

Update to include new export for role and experience
  app/models/data_analysis/user_count_by_role_and_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/user_count_by_role_and_experience_spec.rb
Labels: none

EYCDTK-559 Count by Role and Experience (#1571)
  app/models/data_analysis/user_count_by_role_and_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/user_count_by_role_and_experience_spec.rb
Labels: none

Remove resource reset from release controller
  app/controllers/release_controller.rb
Labels: none

remove resource cache from release controller spec as we no longer reset the resource cache
  spec/controllers/release_controller_spec.rb
Labels: none

Remove reset cache key from update method also.
  app/controllers/release_controller.rb
Labels: none

EYCDTK-556 Contentful publish issue (#1572)
  app/controllers/release_controller.rb
  spec/controllers/release_controller_spec.rb
Labels: none

Add export for user module order sorted by experience
  app/models/data_analysis/user_module_order_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/user_module_order_by_experience_spec.rb
Labels: none

Create export for showing users who have started a module but not finished it ordered by experience
  app/models/data_analysis/users_started_not_completed_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/users_started_not_completed_by_experience_spec.rb
Labels: none

Add report for count of users completed_modules by experience
  app/models/data_analysis/users_completed_module_count_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/users_completed_module_count_by_experience_spec.rb
Labels: none

DTK-554 - adds fallback for resume
  app/services/module_progress.rb
  spec/services/module_progress_spec.rb
Labels: none

DTK-554 - adds fallback for resume (#1564)
  app/services/module_progress.rb
  spec/services/module_progress_spec.rb
Labels: none

Comment out the background worker This is handled by code release az command
  terraform-azure/terraform-azure-app/main.tf
Labels: terraform

DTK-706 - broken headers
  app/views/markup/_prompt.html.slim
  config/initializers/markdown.rb
  spec/helpers/content_helper_spec.rb
  spec/requests/snippets_spec.rb
Labels: frontend
