Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Fixed link
  adr/ADR.md
Labels: ADR

Couple more ADRs
  adr/0005-content-storage-strategy.md
  adr/0008-infrastructure-as-code.md
  adr/0009-ci-cd-strategy.md
  adr/0010-contentful.md
  adr/0011-linting.md
  adr/0012-security-vulnerabilities.md
  adr/0013-postcodes.md
  adr/0014-event-tracking.md
  adr/0015-accessibility-standards.md
  adr/0016-sensitive-data-encryption.md
  adr/0017-user-tracking.md
  adr/0018-background-jobs.md
  adr/0019-password-vulnerability.md
  adr/0020-external-authentication.md
  adr/0021-sentry-monitoring.md
  adr/0022-clarity-metrics.md
  adr/0023-telemetry-collector-app-insights-dev.md
  adr/0024-opentelemetry_deployment_sidecar.md
  adr/ADR.md
Labels: ADR

Fix internal links
  adr/0004-authentication.md
  adr/0005-content-storage-strategy.md
  adr/0017-user-tracking.md
  adr/0022-clarity-metrics.md
Labels: ADR

Added ADR for decision to use PostgreSQL, inferred
  adr/0002-database.md
  adr/0003-development-environments.md
  adr/0004-video-hosting-platform.md
  adr/0005-authentication.md
  adr/0006-content-storage-strategy.md
  adr/0007-secrets-management.md
  adr/0008-deployment-environments.md
  adr/0009-infrastructure-as-code.md
  adr/0010-ci-cd-strategy.md
  adr/0011-contentful.md
  adr/0012-linting.md
  adr/0013-security-vulnerabilities.md
  adr/0014-postcodes.md
  adr/0015-event-tracking.md
  adr/0016-accessibility-standards.md
  adr/0017-sensitive-data-encryption.md
  adr/0018-user-tracking.md
  adr/0019-background-jobs.md
  adr/0020-password-vulnerability.md
  adr/0021-external-authentication.md
  adr/0022-sentry-monitoring.md
  adr/0023-clarity-metrics.md
  adr/0024-telemetry-collector-app-insights-dev.md
  adr/0025-opentelemetry_deployment_sidecar.md
  adr/ADR.md
Labels: ADR

Top-level app insights ADR Detailed discussion moved, still available
  adr/0024-application-insights.md
  adr/0024-application-insights/0024-1-telemetry-collector-app-insights-dev.md
  adr/0024-application-insights/0024-2-opentelemetry_deployment_sidecar.md
  adr/ADR.md
Labels: ADR

Fixed links
  adr/0024-application-insights.md
Labels: ADR

Fixed links
  adr/0024-application-insights.md
Labels: ADR

wip
  config/initializers/opentelemetry.rb
Labels: none

wip
  config/initializers/opentelemetry.rb
Labels: none

Reduce internal traces and repeated traces by 50%
  config/initializers/opentelemetry.rb
Labels: none

Reduce internal traces (#1666)
  config/initializers/opentelemetry.rb
Labels: none

Create feature flag for pre-confidence check
  app/models/concerns/content_types.rb
  app/models/training/module.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform

Update logic and specs
  app/models/training/module.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/training/module_spec.rb
Labels: none

DTK-1054 - Adds new table user_module_progresses
  app/controllers/learning_controller.rb
  app/controllers/training/pages_controller.rb
  app/decorators/module_overview_decorator.rb
  app/helpers/application_helper.rb
  app/models/training/module.rb
  app/models/user.rb
  app/models/user_module_progress.rb
  app/services/calculate_module_state.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  db/migrate/20251223155510_create_user_module_progress.rb
  db/schema.rb
  docker-compose.dev.yml
  spec/controllers/training/pages_controller_spec.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/factories/user_module_progress.rb
  spec/helpers/content_helper_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
  spec/models/data_analysis/user_module_completion_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_module_progress_spec.rb
  spec/models/user_spec.rb
  spec/requests/notes_spec.rb
  spec/services/dashboard_spec.rb
  spec/services/module_progress_spec.rb
  spec/support/shared/with_events.rb
  spec/support/shared/with_progress.rb
  spec/system/event_log_spec.rb
Labels: none

Update module heading logic
  app/jobs/content_check_job.rb
  app/models/training/module.rb
Labels: none

DTK-1054 - Adds new table user_module_progresses
  app/controllers/learning_controller.rb
  app/controllers/training/pages_controller.rb
  app/decorators/module_overview_decorator.rb
  app/helpers/application_helper.rb
  app/models/training/module.rb
  app/models/user.rb
  app/models/user_module_progress.rb
  app/services/calculate_module_state.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  db/migrate/20251223155510_create_user_module_progress.rb
  db/schema.rb
  docker-compose.dev.yml
  spec/controllers/training/pages_controller_spec.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/factories/user_module_progress.rb
  spec/helpers/content_helper_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
  spec/models/data_analysis/user_module_completion_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_module_progress_spec.rb
  spec/models/user_spec.rb
  spec/requests/notes_spec.rb
  spec/services/dashboard_spec.rb
  spec/services/module_progress_spec.rb
  spec/support/shared/with_events.rb
  spec/support/shared/with_progress.rb
  spec/system/event_log_spec.rb
Labels: none

Feature/home page component (#1646)
  app/assets/stylesheets/card.scss
  app/controllers/home_controller.rb
  app/helpers/application_helper.rb
  app/models/training/module.rb
  app/views/home/_hero.html.slim
  app/views/home/_home_card.html.slim
  app/views/home/_modules.html.slim
  app/views/home/index.html.slim
  app/views/learning/_available_modules.html.slim
  app/views/learning/_card.html.slim
  app/views/learning/_in_progress_modules.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/system/front_page_spec.rb
Labels: frontend

Adds auto-gen ADR file
  adr/ADR.md
Labels: ADR

Pin tar to 7.5.4 via resolutions
  package.json
  yarn.lock
Labels: none

Pin tar to 7.5.4 via resolutions (#1673)
  package.json
  yarn.lock
Labels: none

DTK-1082 - Adds hint(pre-confidence) for confidence score
  app/helpers/application_helper.rb
  app/models/user.rb
  app/views/training/questions/_radio_buttons.html.slim
  spec/helpers/application_helper_spec.rb
  spec/models/user_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

Added ADR for CodeQL
  adr/0024-static-code-analysis.md
  adr/0025-application-insights.md
  adr/0025-application-insights/0025-1-telemetry-collector-app-insights-dev.md
  adr/0025-application-insights/0025-2-opentelemetry_deployment_sidecar.md
  adr/ADR.md
Labels: ADR

DTK-1072 - adds description field on radio buttons
  app/models/response.rb
  app/models/training/question.rb
  app/views/training/questions/_radio_buttons.html.slim
  spec/models/training/question_spec.rb
Labels: frontend

Implement JWKS caching and refresh logic in GovOneAuthService
  GOV_ONE.md
  app/services/gov_one_auth_service.rb
  spec/services/gov_one_auth_service_spec.rb
Labels: none

Add script to detect changes to govuk key rotation for integration testing
  .gitignore
  scripts/check_govuk_jwks_rotation.rb
Labels: none

After discussion added to database ADR
  adr/0002-database.md
Labels: ADR

DTK-1099 - autogen ADR.md
  adr/ADR.md
Labels: ADR

Add skip button to pre-confidence intro page
  app/decorators/previous_page_decorator.rb
  app/helpers/link_helper.rb
  app/views/training/pages/_content.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend

Update previous page logic for skipped questions
  app/decorators/previous_page_decorator.rb
Labels: none

DTK-1054 - Adds new table user_module_progresses (#1664)
  app/controllers/learning_controller.rb
  app/controllers/training/pages_controller.rb
  app/decorators/module_overview_decorator.rb
  app/helpers/application_helper.rb
  app/models/training/module.rb
  app/models/user.rb
  app/models/user_module_progress.rb
  app/services/calculate_module_state.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  db/migrate/20251223155510_create_user_module_progress.rb
  db/schema.rb
  docker-compose.dev.yml
  spec/controllers/training/pages_controller_spec.rb
  spec/decorators/module_debug_decorator_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/factories/user_module_progress.rb
  spec/helpers/content_helper_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
  spec/models/data_analysis/user_module_completion_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_module_progress_spec.rb
  spec/models/user_spec.rb
  spec/requests/notes_spec.rb
  spec/services/dashboard_spec.rb
  spec/services/module_progress_spec.rb
  spec/support/shared/with_events.rb
  spec/support/shared/with_progress.rb
  spec/system/event_log_spec.rb
Labels: none

DTK-1053 - registered at time update
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

EYCDTK-1018 Pre-module confidence check (#1665)
  app/controllers/training/questions_controller.rb
  app/models/concerns/content_types.rb
  app/models/response.rb
  app/models/training/module.rb
  app/models/training/question.rb
  app/views/training/questions/_radio_buttons.html.slim
Labels: frontend

Refactor notes controller and form to include next page navigation fields so that we dont make contentful calls upon save/update
  app/controllers/training/notes_controller.rb
  app/views/notes/_form.html.slim
Labels: frontend

Remove comment
  app/jobs/content_check_job.rb
Labels: none

EYCDTK-1081 Feature flag for pre-confidence check (#1668)
  app/models/concerns/content_types.rb
  app/models/training/module.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/training/module_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform

EYCDTK-1020 Skip logic for pre-confidence questions (#1678)
  app/decorators/previous_page_decorator.rb
  app/helpers/link_helper.rb
  app/views/training/pages/_content.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend

wip
  app/controllers/training/notes_controller.rb
Labels: none

Update dependency
  package.json
  yarn.lock
Labels: none

Update dependency (#1682)
  package.json
  yarn.lock
Labels: none

Refactor notes controller and form to include next page navigation fields so that we dont make contentful calls upon save/update
  app/controllers/training/notes_controller.rb
  app/views/notes/_form.html.slim
Labels: frontend
