Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

Upgrade Rails to 8.0.5.1 (latest version)
  Gemfile
  Gemfile.lock
Labels: none

Refactor layout scripts to use javascript_tag for improved CSP compliance
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  config/initializers/content_security_policy.rb
Labels: frontend

chore: upgrade Ruby 3.4.5 → 3.4.6 and replace Alpine base image
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  uml/application.puml
Labels: pipeline

Update tar and nanoid dependenices
  package.json
  yarn.lock
Labels: none

Automatic update for db schema
  db/schema.rb
Labels: none

Adds ignore for otel collector
  .trivyignore
Labels: none

EYCDTK-1561 Refactor nonce handling in update action so that invalid/missing nonces redirect immediately (#1822)
  app/controllers/training/responses_controller.rb
  spec/controllers/training/responses_controller_spec.rb
Labels: none

Update content security policy to allow unsafe inline styles and enable upgrade insecure requests
  config/initializers/content_security_policy.rb
Labels: none

Update content security policy to allow unsafe inline styles for style sources
  config/initializers/content_security_policy.rb
Labels: none

Refactor layout scripts to use javascript_tag for improved CSP compliance
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  config/initializers/content_security_policy.rb
Labels: frontend

EYCDTK-1604 Learning log tabs (#1834)
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  config/initializers/content_security_policy.rb
Labels: frontend

Update LICENSE
  LICENSE
Labels: none

Update LICENSE (#1836)
  LICENSE
Labels: none

Cap Vimeo embed auto quality at 1080p
  app/models/training/video.rb
  spec/models/training/video_spec.rb
Labels: none

use described_class
  spec/models/training/video_spec.rb
Labels: none

Add Splunk OTLP exporter support and refactor OpenTelemetry configuration
  adr/0025-application-insights/0025-2-opentelemetry_deployment_sidecar.md
  config/initializers/opentelemetry.rb
  docker-compose.dev.yml
  docker-compose.yml
  lib/opentelemetry_configuration.rb
  spec/lib/opentelemetry_configuration_spec.rb
Labels: none

Update .trivyignore and Dockerfile for CVE management and image versioning
  .trivyignore
  Dockerfile
Labels: none

Fix formatting in .trivyignore for consistency
  .trivyignore
Labels: none

Update nanoid to 3.3.18
  package.json
  yarn.lock
Labels: none

Add CVE-2026-84304 (grcp) to .trivy ignore
  .trivyignore
Labels: none

Update Docker and OpenTelemetry configurations for Splunk integration
  docker-compose.yml
  otel-collector-config.yml
  otel-collector-local-config.yml
Labels: none

Update to include custom tag logic for my modules cards
  app/views/home/_home_card.html.slim
  app/views/learning/_card.html.slim
Labels: frontend

Remove comments where logic has been updated
  app/models/training/module.rb
  spec/models/training/module_spec.rb
Labels: none

Update home card to include tag logic
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/card.scss
  app/assets/stylesheets/prompt.scss
  app/models/training/module.rb
  app/views/home/_home_card.html.slim
  package.json
  spec/models/training/module_spec.rb
  yarn.lock
Labels: frontend

Refactor spacing and formatting in application.scss
  app/assets/stylesheets/application.scss
Labels: frontend

Remove unnecessary data attribute from javascript_tag in application and hero layouts
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

Remove unnecessary data attribute from javascript_tag in application and hero layouts (#1843)
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

Update resolv (0.7.2)
  Gemfile
  Gemfile.lock
Labels: none

Refactor JavaScript class assignment to application.js and remove inline script from layouts
  app/javascript/application.js
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

add resolv skip-file rule
  trivy.yaml
Labels: none

Refactor JavaScript class assignment to application.js and remove inline script from layouts (#1844)
  app/javascript/application.js
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

Fix user test
  spec/models/user_spec.rb
Labels: none

rubocop fix
  Gemfile
Labels: none

remove whitespace from .tivyignore and improve the comment
  .trivyignore
Labels: none

Revert sass to 1.97.2 as update requires node 20.19.0
  package.json
  yarn.lock
Labels: none

Add flex rule for tag so it does not stretch
  app/assets/stylesheets/card.scss
Labels: frontend

Show dynamic live module count on the home page
  app/controllers/home_controller.rb
  app/views/home/_modules.html.slim
  config/locales/en.yml
  spec/requests/home_spec.rb
Labels: frontend

Fix the test due to updating en.yml
  spec/lib/seed_snippets_spec.rb
Labels: none

Add security.txt vulnerability disclosure file
  public/.well-known/security.txt
Labels: none

Remove criteria from module overview pages
  app/views/training/modules/show.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
