Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

Export redacted closed account details (#1160)
  app/models/data_analysis/closed_accounts.rb
  app/services/dashboard.rb
  spec/factories/users.rb
  spec/models/data_analysis/closed_accounts_spec.rb
  spec/services/dashboard_spec.rb
Labels: none

Tidy stylesheets
  app/assets/stylesheets/about.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/dfe-header.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/section-bar.scss
  app/assets/stylesheets/section-intro.scss
Labels: frontend

Consistent use of "dfe" prefix for container classes
  app/views/layouts/application.html.slim
Labels: frontend

Change to dfe-frontend from alpha release and refactor width declaration
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/dfe-header.scss
  package.json
  yarn.lock
Labels: frontend

Attempt fix to header service name, links and button (incomplete)
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/header.scss
Labels: frontend

Linting
  app/assets/stylesheets/about.scss
  app/assets/stylesheets/assets-page.scss
  app/assets/stylesheets/autocomplete.scss
  app/assets/stylesheets/card.scss
  app/assets/stylesheets/certificate.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/print.scss
  app/assets/stylesheets/progress-bar.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/quote.scss
  app/assets/stylesheets/section-intro.scss
  bin/docker-stylelint
  package.json
  yarn.lock
Labels: frontend

Remove additional input validation
  app/models/response.rb
  spec/models/response_feedback_spec.rb
Labels: none

- user research preference editing in my account - remove validation for all feedback text inputs
  app/helpers/application_helper.rb
  app/models/user.rb
  app/views/user/show.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/services/dashboard_spec.rb
  spec/system/account_page_spec.rb
Labels: frontend

Configure using env vars and hide flash message
  .env.example
  app/views/layouts/_flash.html.slim
  config/application.rb
  config/initializers/devise.rb
Labels: frontend

Add boolean to user record for UR participation
  app/models/user.rb
  db/migrate/20240509133351_add_research_preference_to_users.rb
  db/schema.rb
Labels: none

Test content options
  data/early-years-experience.yml
Labels: content

Final options
  data/early-years-experience.yml
Labels: content

Loosen spec
  spec/system/account_page_spec.rb
Labels: none

Test refactor
  app/models/trainee/experience.rb
  app/models/user.rb
  app/views/registration/early_years_experiences/edit.html.slim
  data/early-years-experience.yml
  spec/controllers/registration/early_years_experiences_controller_spec.rb
  spec/models/user_spec.rb
Labels: frontend, content

Swap so new data shows as selected in the form
  app/forms/registration/early_years_experiences_form.rb
  app/helpers/user_helper.rb
  app/models/user.rb
  app/views/user/show.html.slim
  spec/controllers/registration/early_years_experiences_controller_spec.rb
  spec/helpers/user_helper_spec.rb
  spec/models/user_spec.rb
Labels: frontend

ER-953 years experience issue (#1171)
  app/forms/registration/early_years_experiences_form.rb
  app/helpers/user_helper.rb
  app/models/trainee/experience.rb
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/user/show.html.slim
  data/early-years-experience.yml
  spec/controllers/registration/early_years_experiences_controller_spec.rb
  spec/helpers/user_helper_spec.rb
  spec/system/account_page_spec.rb
Labels: frontend, content

Typo
  config/locales/en.yml
Labels: none

Refactor
  app/forms/form_builder.rb
  app/forms/registration/early_years_experiences_form.rb
  app/views/registration/early_years_experiences/edit.html.slim
Labels: frontend

Skip question for guests and defend when no current user exists
  app/models/guest.rb
  app/views/feedback/index.html.slim
  app/views/training/questions/_debug.html.slim
Labels: frontend

Refactor main feedback for user vs guest journey
  app/controllers/feedback_controller.rb
  app/models/guest.rb
  spec/support/ast/course-feedback-guest.yml
  spec/support/ast/course-feedback-user.yml
  spec/system/course_feedback_spec.rb
Labels: none

Add early_years_experience to data export
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

remove deprecated devise paths from sitemap
  config/sitemap.rb
Labels: none

PoC
  app/controllers/application_controller.rb
  app/controllers/concerns/logging.rb
  app/controllers/home_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/training/pages_controller.rb
  app/controllers/training/questions_controller.rb
  config/puma.rb
Labels: none

Revert "Refactor"
  app/forms/form_builder.rb
  app/forms/registration/early_years_experiences_form.rb
  app/views/registration/early_years_experiences/edit.html.slim
Labels: frontend

Add early_years_experience to data export (#1179)
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

lint
  app/controllers/concerns/logging.rb
Labels: none

Delivery guard against errors
  config/initializers/govuk_notify_rails.rb
  spec/mailers/notify_mailer_spec.rb
Labels: none

Refactor mailer Test for known cases of invalid emails Log jobs at each deployment stage in sentry
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
  app/controllers/hook_controller.rb
  app/jobs/application_job.rb
  app/mailers/notify_mailer.rb
  spec/mailers/notify_mailer_spec.rb
Labels: pipeline

Persisted Notify callback PoC
  .github/workflows/mailer-test.yml
  app/controllers/hook_controller.rb
  config/routes.rb
  db/migrate/20240515094114_add_notify_callback_to_users.rb
Labels: pipeline

Remove retired account management (#1178)
  app/views/user/check_email_confirmation.html.slim
  app/views/user/check_email_password_reset.html.slim
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  spec/helpers/content_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
Labels: frontend

Lint and test callback persistence
  .github/workflows/notify-callback.yml
  app/controllers/hook_controller.rb
  db/schema.rb
  spec/requests/webhooks_spec.rb
Labels: pipeline

ER-1147: guard against mail delivery errors (#1181)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/notify-callback.yml
  app/controllers/hook_controller.rb
  app/jobs/application_job.rb
  app/mailers/notify_mailer.rb
  config/initializers/govuk_notify_rails.rb
  config/routes.rb
  db/migrate/20240515094114_add_notify_callback_to_users.rb
  db/schema.rb
  spec/mailers/notify_mailer_spec.rb
  spec/requests/webhooks_spec.rb
Labels: pipeline

Update Que-RB's scheduler to version 8
  db/migrate/20230224151527_create_que_scheduler_schema.rb
  db/migrate/20240515120000_update_que_scheduler_schema.rb
  db/schema.rb
Labels: none

Fix Notify mocking webhook with missing protocol
  .github/workflows/notify-callback.yml
Labels: pipeline

Update Que-RB's scheduler to version 8 (#1183)
  .github/workflows/notify-callback.yml
  db/migrate/20230224151527_create_que_scheduler_schema.rb
  db/migrate/20240515120000_update_que_scheduler_schema.rb
  db/schema.rb
Labels: pipeline

Job scopes and auto expiration
  app/jobs/application_job.rb
  app/jobs/fill_page_views_job.rb
  app/jobs/new_module_mail_job.rb
  app/models/job.rb
  config/initializers/que.rb
  config/puma.rb
Labels: none

Tweak log levels
  app/jobs/application_job.rb
  app/jobs/content_check_job.rb
  app/jobs/mail_job.rb
Labels: none

Consolidate Notify key to application config
  config/application.rb
  config/initializers/govuk_notify_rails.rb
Labels: none

Add controller to recache logging
  app/controllers/concerns/logging.rb
Labels: none

Better sentry logging (#1180)
  app/controllers/application_controller.rb
  app/controllers/concerns/logging.rb
  app/controllers/home_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/training/pages_controller.rb
  app/controllers/training/questions_controller.rb
  config/puma.rb
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
