Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

remove sign in link in top right from sign in page so that we arent duplicating sign in buttons
  app/helpers/application_helper.rb
Labels: none

wip
  app/models/data_analysis/user_module_order_by_experience.rb
Labels: none

Add export for user module order sorted by experience
  app/models/data_analysis/user_module_order_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/user_module_order_by_experience_spec.rb
Labels: none

wip
  app/services/dashboard.rb
  spec/services/dashboard_spec.rb
Labels: none

wip
  app/models/data_analysis/user_module_order_by_experience.rb
Labels: none

wip
  app/services/dashboard.rb
Labels: none

remove sign in link in top right from sign in page so that we arent duplicating sign in buttons (#1603)
  app/helpers/application_helper.rb
Labels: none

Use latest terraform version
  .github/workflows/tf-azure-custom-command.yml
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

DTK-659 - font change
  Dockerfile
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  app/assets/fonts/InterVariable-Italic.woff2
  app/assets/fonts/InterVariable.woff2
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/fonts.scss
  app/assets/stylesheets/icons.scss
  package.json
  trivy.yaml
  yarn.lock
Labels: frontend

DTK-796 - Batch-load user events in CourseProgress
  app/services/course_progress.rb
Labels: none

Update heading logic
  config/initializers/markdown.rb
  spec/helpers/content_helper_spec.rb
Labels: none

DTK-659 - font change (#1584)
  Dockerfile
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  app/assets/fonts/InterVariable-Italic.woff2
  app/assets/fonts/InterVariable.woff2
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/fonts.scss
  app/assets/stylesheets/icons.scss
  package.json
  trivy.yaml
  yarn.lock
Labels: frontend

Update heading size
  app/views/devise/sessions/gov_one.html.slim
  app/views/errors/internal_server_error.html.slim
  app/views/errors/not_found.html.slim
  app/views/errors/service_unavailable.html.slim
  app/views/feedback/thank_you.html.slim
  app/views/home/_prompt.html.slim
  app/views/learning/show.html.slim
  app/views/notes/_note.html.slim
  app/views/training/pages/section_intro.html.slim
Labels: frontend

Update rack dependency version
  Gemfile.lock
Labels: none

Update Rack dependency version (#1613)
  Gemfile.lock
Labels: none

DTK-818 - Add Microsoft Clarity
  app/controllers/application_controller.rb
  app/views/layouts/_analytics_header.html.slim
  config/application.rb
  config/initializers/content_security_policy.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

Add export for user module order sorted by experience
  app/models/data_analysis/users_module_order_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/users_module_order_by_experience_spec.rb
  spec/services/dashboard_spec.rb
Labels: none

Add export for user module order sorted by experience (#1611)
  app/models/data_analysis/users_module_order_by_experience.rb
  app/services/dashboard.rb
  spec/models/data_analysis/users_module_order_by_experience_spec.rb
  spec/services/dashboard_spec.rb
Labels: none

DTK-671 - data exports
  README.md
  app/models/data_analysis/device_engagement.rb
  app/models/data_analysis/module_duration_buckets.rb
  app/services/dashboard.rb
  lib/seed_device_events.rb
  spec/models/data_analysis/device_engagement_spec.rb
  spec/models/data_analysis/module_duration_buckets_spec.rb
Labels: Documentation

DTM-795 - Compute module list once in learning views
  app/controllers/learning_controller.rb
  app/views/learning/_available_modules.html.slim
  app/views/learning/_in_progress_modules.html.slim
  app/views/learning/show.html.slim
Labels: frontend

DTK-741 - fix markdown xss vulnerability
  app/helpers/content_helper.rb
  spec/helpers/content_helper_spec.rb
Labels: none

DTK-796 - Batch-load user events in CourseProgress (#1609)
  app/services/course_progress.rb
Labels: none

DTM-795 - Compute module list once in learning views (#1608)
  app/controllers/learning_controller.rb
  app/views/learning/_available_modules.html.slim
  app/views/learning/_in_progress_modules.html.slim
  app/views/learning/show.html.slim
Labels: frontend

DTK-671 - data exports (#1604)
  README.md
  app/models/data_analysis/device_engagement.rb
  app/models/data_analysis/module_duration_buckets.rb
  app/services/dashboard.rb
  lib/seed_device_events.rb
  spec/models/data_analysis/device_engagement_spec.rb
  spec/models/data_analysis/module_duration_buckets_spec.rb
Labels: Documentation

EYCDTK-660 Update heading logic (#1610)
  app/views/devise/sessions/gov_one.html.slim
  app/views/errors/internal_server_error.html.slim
  app/views/errors/not_found.html.slim
  app/views/errors/service_unavailable.html.slim
  app/views/feedback/thank_you.html.slim
  app/views/home/_prompt.html.slim
  app/views/learning/show.html.slim
  app/views/notes/_note.html.slim
  app/views/training/pages/section_intro.html.slim
  config/initializers/markdown.rb
  spec/helpers/content_helper_spec.rb
Labels: frontend

DTK-818 - Add Microsoft Clarity
  app/controllers/application_controller.rb
  app/forms/form_builder.rb
  app/views/layouts/_analytics_header.html.slim
  app/views/notes/_note.html.slim
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/registration/role_types/edit.html.slim
  app/views/training/pages/certificate.html.slim
  app/views/user/show.html.slim
  config/application.rb
  config/initializers/content_security_policy.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

DTK-741 - fix markdown xss vulnerability (#1615)
  app/helpers/content_helper.rb
  spec/helpers/content_helper_spec.rb
Labels: none

Update application.scss so learning check pages aren't horizontally scrolling
  app/assets/stylesheets/application.scss
Labels: frontend

Update application.scss so learning check pages aren't horizontally scrolling (#1618)
  app/assets/stylesheets/application.scss
Labels: frontend

DTK-874 - Disable all links for registration
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/helpers/application_helper.rb
Labels: frontend

DTK-843 - add exception logging middleware
  app/middleware/exception_logging_middleware.rb
  config/initializers/exception_logging_middleware.rb
Labels: none

DTK-843 - add exception logging middleware (#1622)
  app/middleware/exception_logging_middleware.rb
  config/initializers/exception_logging_middleware.rb
Labels: none

DTK-910 - adds section and download to whitelist
  app/helpers/content_helper.rb
Labels: none

DTK-910 - adds section and download to whitelist (#1623)
  app/helpers/content_helper.rb
Labels: none

Refactor flash.html so it can accept strings and hashes
  app/controllers/registration/base_controller.rb
  app/views/layouts/_flash.html.slim
  config/initializers/i18n.rb
  config/locales/en.yml
Labels: frontend

wip
  config/initializers/i18n.rb
Labels: none

wip
  config/initializers/i18n.rb
Labels: none

Refactor flash.html so it can accept strings and hashes
  app/controllers/registration/base_controller.rb
  app/views/layouts/_flash.html.slim
  config/initializers/i18n.rb
  config/locales/en.yml
Labels: frontend

wip
  spec/lib/seed_snippets_spec.rb
  spec/system/registration_spec.rb
Labels: none

wip
  app/controllers/registration/base_controller.rb
Labels: none
