Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
- adr/*.md

documentation:
- README.md
- data/*.md
- cms/*.md

terraform:
- terraform/**/*

frontend:
- app/assets/images/*
- app/assets/stylesheets/**/*
- app/javascript/**/*

content:
- config/locales/modules/**/*.yml
- config/locales/static/*.yml
- data/**/*.yml
- cms/migrate/*.js

pipeline:
- .github/**/*.yml

Managing risk and policy amends
  config/locales/modules/module-5.yml
Labels: content

policy amend
  config/locales/modules/module-5.yml
Labels: content

- enable CMS backend in staging and integration apps
  terraform/workspace-variables/app_config.yml
Labels: terraform

Fixed end of module test links
  config/locales/modules/module-5.yml
  data/summative-questionnaires/module-5.yml
Labels: content

Fixed links in summative assessment
  config/locales/modules/module-5.yml
  data/summative-questionnaires/module-5.yml
Labels: content

Fixed links in summative assessment (#641)
  config/locales/modules/module-5.yml
  data/summative-questionnaires/module-5.yml
Labels: content

module-4 to module-5
  data/summative-questionnaires/module-5.yml
Labels: content

One character
  data/summative-questionnaires/module-5.yml
Labels: content

One character (#643)
  data/summative-questionnaires/module-5.yml
Labels: content

fix backwards compatible answers (CMS to YAML)
  app/models/user.rb
Labels: none

Content team tweaks (#2) (#639)
  app/models/training_module.rb
  app/models/user.rb
  cms/migrate/02-create-question.js
  cms/migrate/04-create-training-module.js
  config/initializers/grover.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, content
