Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

fix - check page css
  app/views/registration/check_your_answers/edit.html.slim
Labels: frontend

fix - check page back button
  app/helpers/link_helper.rb
  spec/helpers/link_helper_spec.rb
Labels: none

Update WAF policy exclusion match variable to RequestArgValues
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Refactor SCSS for improved readability and consistency in menu button and card styles
  app/assets/stylesheets/about.scss
  app/assets/stylesheets/card.scss
Labels: frontend

Add ADR for hardening Content Security Policy and introducing controlled rollout mode
  adr/0028-content-security-policy-hardening.md
  adr/ADR.md
Labels: ADR

Harden CSP for ITHC 5.1.3 (remove unsafe-inline, add nonces)
  app/assets/stylesheets/about.scss
  app/assets/stylesheets/card.scss
  app/assets/stylesheets/section-bar.scss
  app/views/about/show.html.slim
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/_head.html.slim
  app/views/learning/_card.html.slim
  app/views/notes/_form.html.slim
  app/views/training/modules/_editor_tools.html.slim
  app/views/training/modules/_section_bar.html.slim
  config/initializers/content_security_policy.rb
Labels: frontend

Increase log retention time to 180 days
  terraform-azure/terraform-azure-monitor/logs.tf
Labels: terraform

Revert log retention time to 90 days
  terraform-azure/terraform-azure-monitor/logs.tf
Labels: terraform

Add excluded rule set for SQL injection attacks in WAF policy
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Fix intermittent learning-log submission failures
  app/controllers/training/notes_controller.rb
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Fix duplicate submission logging and redirect logic in ResponsesController
  app/controllers/training/responses_controller.rb
Labels: none

Update puppeteer to update ws dependency
  package.json
  yarn.lock
Labels: none

Update net-imap dependency
  Gemfile.lock
Labels: none

Update faraday and nokogiri dependencies
  Gemfile.lock
Labels: none

Update concurrent-ruby dependency
  Gemfile.lock
Labels: none

Remove FTP and Web Deploy basic authentication settings from web app configuration
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

Remove Azure console access information from README and update web app configuration to disable FTP and Web Deploy basic authentication with IP restrictions.
  README.md
  terraform-azure/terraform-azure-web/webapp.tf
Labels: Documentation, terraform

Initial update
  adr/0028-bot-authentication.md
  app/controllers/concerns/auditing.rb
Labels: ADR

Rubocop update
  app/controllers/application_controller.rb
Labels: none

Enhance bot authentication logic and add tests for invalid attempts handling
  app/controllers/concerns/bot_auth_protection.rb
  app/controllers/registration/base_controller.rb
  spec/requests/bot_spec.rb
  spec/requests/webhooks_spec.rb
Labels: none

wip
  app/controllers/registration/base_controller.rb
Labels: none

Update to fix failing specs
  adr/0028-bot-authentication.md
  app/controllers/registration/base_controller.rb
  spec/requests/webhooks_spec.rb
Labels: ADR

Implement bot authentication and authorization for audit and webhook endpoints
  app/controllers/application_controller.rb
  app/controllers/concerns/auditing.rb
  app/controllers/concerns/bot_auth_protection.rb
  app/controllers/home_controller.rb
  app/controllers/notify_controller.rb
  app/controllers/webhook_controller.rb
  config/application.rb
  spec/requests/bot_spec.rb
  spec/requests/webhooks_spec.rb
Labels: none

Enhance WAF policy to exclude RCE rule (932115) alongside XSS (941) and SQLi (942) for free-text fields
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Add more specs for learning check updates
  spec/models/training/response_spec.rb
Labels: none

Update learning check content
  app/assets/stylesheets/question.scss
  app/models/response.rb
  app/views/training/questions/_assessment_banner.html.slim
Labels: frontend

Adds ignore
  .trivyignore
Labels: none

fix faker names containing '
  spec/requests/registration/check_your_answers_spec.rb
Labels: none

Chore/update ruby gems (#1808)
  .trivyignore
  Gemfile.lock
  spec/requests/registration/check_your_answers_spec.rb
Labels: none

Updates gem websocket-driver
  Gemfile.lock
Labels: none

DTK-1286 - precompile assets for production
  .gitignore
  adr/0029-asset-pipeline-static-paths.md
  adr/ADR.md
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/icons.scss
  app/assets/stylesheets/print.scss
  config/environments/production.rb
  package.json
  public/static-images/dfe-logo-alt.png
  public/static-images/icon-print@1x.png
Labels: ADR, frontend

Updates node packages
  package.json
  yarn.lock
Labels: none

DTK-1286 - precompile assets for production (#1758)
  .gitignore
  Gemfile.lock
  adr/0029-asset-pipeline-static-paths.md
  adr/ADR.md
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/icons.scss
  app/assets/stylesheets/print.scss
  config/environments/production.rb
  package.json
  public/static-images/dfe-logo-alt.png
  public/static-images/icon-print@1x.png
  yarn.lock
Labels: ADR, frontend

Create new important banner
  app/views/home/_hero.html.slim
  app/views/learning/show.html.slim
  app/views/shared/_important_information_banner.html.slim
Labels: frontend

Important banner toggle update
  app/helpers/application_helper.rb
  app/views/home/_hero.html.slim
  app/views/layouts/_flash.html.slim
  app/views/learning/show.html.slim
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

Update to retrieve wording from Contentful
  app/views/shared/_important_information_banner.html.slim
Labels: frontend

Add additional free-text fields to WAF exclusion list for improved handling
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Add additional free-text fields to WAF exclusion list for improved handling (#1809)
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

DTK-1286 - precompile - missing asset fix
  .gitignore
  Dockerfile
  app/assets/builds/.keep
Labels: none

Updates postcss
  package.json
  yarn.lock
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
