Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

Exclude Rails CSRF tokens from SQL injection rules in WAF policy
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Update question spec and templates for learning check
  app/views/training/questions/_learning_check_boxes.html.slim
  app/views/training/questions/_learning_radio_buttons.html.slim
  spec/models/training/question_spec.rb
Labels: frontend

Exclude Rails CSRF tokens from SQL injection rules in WAF policy (#1886)
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

Use GOV.UK colour variant for interruption panel
  app/assets/stylesheets/interruption.scss
Labels: frontend

Use GOV.UK colour variant for interruption panel (#1908)
  app/assets/stylesheets/interruption.scss
Labels: frontend

wip
  spec/services/content_integrity_spec.rb
Labels: none

wip
  spec/lib/open_telemetry_configuration_spec.rb
Labels: none

Update content integrity validations to require a minimum of five summative questions and remove video page requirement
  app/services/content_integrity.rb
  spec/services/content_integrity_spec.rb
Labels: none

Refactor content integrity validations for improved clarity and structure
  app/services/content_integrity.rb
  spec/services/content_integrity_spec.rb
Labels: none

Add OTLP and Splunk exporter configuration to test environment
  docker-compose.test.yml
Labels: none

Update next page button text for scenario-based questions
  app/decorators/next_page_decorator.rb
  config/locales/en.yml
Labels: none

Update content type to include scenario based question
  app/models/concerns/content_types.rb
Labels: none

Add drop-off survey email for users inactive for two weeks
  app/jobs/drop_off_survey_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/job.rb
  app/models/user.rb
  config/initializers/que.rb
  spec/jobs/drop_off_survey_mail_job_spec.rb
  spec/models/user_spec.rb
Labels: none

EYCDTK-1665/check-validation-rules (#1868)
  app/services/content_integrity.rb
  docker-compose.test.yml
  spec/lib/open_telemetry_configuration_spec.rb
  spec/services/content_integrity_spec.rb
Labels: none

Add spec for scenario-based question
  spec/decorators/next_page_decorator_spec.rb
Labels: none

yarn.lock
  yarn.lock
Labels: none

update trivy ignore
  .trivyignore
Labels: none

Updated queries
  app/models/user.rb
  app/models/user_module_progress.rb
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
