Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

DTK-874 - Disable all links for registration (#1620)
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/helpers/application_helper.rb
Labels: frontend

Update terms and conditions banner
  app/controllers/application_controller.rb
  app/views/layouts/_flash.html.slim
  config/initializers/i18n.rb
  config/locales/en.yml
Labels: frontend

wip
  spec/lib/seed_snippets_spec.rb
  spec/system/registration_spec.rb
Labels: none

Refactor flash.html so it can accept strings and hashes
  app/controllers/registration/base_controller.rb
  app/views/layouts/_flash.html.slim
  config/initializers/i18n.rb
  config/locales/en.yml
Labels: frontend

wip
  app/controllers/registration/base_controller.rb
Labels: none

Change flash banner to two-thirds
  app/views/layouts/_flash.html.slim
Labels: frontend

EYCDTK-876/update-successful-registration-banner (#1625)
  app/controllers/registration/base_controller.rb
  app/views/layouts/_flash.html.slim
  config/initializers/i18n.rb
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/system/registration_spec.rb
Labels: frontend

Update specs
  spec/lib/seed_snippets_spec.rb
  spec/requests/authentication_spec.rb
Labels: none

EYCDTK-856 Update terms and conditions banner (#1626)
  app/controllers/application_controller.rb
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/requests/authentication_spec.rb
Labels: none

Add error logging for update and create notes
  app/controllers/training/notes_controller.rb
Labels: none

Add error logging for update and create notes (#1629)
  app/controllers/training/notes_controller.rb
Labels: none

Update registration journey banners
  app/controllers/application_controller.rb
  app/forms/form_builder.rb
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/requests/authentication_spec.rb
Labels: none

wip
  spec/models/data_analysis/closed_accounts_spec.rb
Labels: none

Add user id to closed_accounts
  app/models/data_analysis/closed_accounts.rb
Labels: none

EYDCDTK-912/add_user_id (#1630)
  app/models/data_analysis/closed_accounts.rb
  spec/models/data_analysis/closed_accounts_spec.rb
Labels: none

Update registration path redirect logic
  app/controllers/application_controller.rb
  spec/factories/users.rb
  spec/requests/authentication_spec.rb
Labels: none

Update redirect logic
  app/controllers/application_controller.rb
Labels: none

DTK-842 - retire setting type
  app/forms/form_builder.rb
  app/forms/registration/setting_type_form.rb
  app/middleware/exception_logging_middleware.rb
  app/models/trainee/setting.rb
  db/seeds/users.yml
  lib/tasks/eyfs.rake
  spec/models/trainee/setting_spec.rb
Labels: none

Remove comment
  app/forms/form_builder.rb
Labels: none

DTK-818 - Add Microsoft Clarity
  app/controllers/application_controller.rb
  app/controllers/settings_controller.rb
  app/forms/form_builder.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/_cookie_banner.html.slim
  app/views/notes/_note.html.slim
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/registration/role_types/edit.html.slim
  app/views/training/pages/certificate.html.slim
  app/views/user/show.html.slim
  config/application.rb
  config/initializers/content_security_policy.rb
  config/locales/en.yml
  spec/system/cookies_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

DTK-855 - add module tab
  app/helpers/application_helper.rb
  app/views/home/_hero.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/system/front_page_spec.rb
Labels: frontend

DTK-842 - retire setting type (#1628)
  app/forms/form_builder.rb
  app/forms/registration/setting_type_form.rb
  app/middleware/exception_logging_middleware.rb
  app/models/trainee/setting.rb
  db/seeds/users.yml
  lib/tasks/eyfs.rake
  spec/models/trainee/setting_spec.rb
Labels: none

EYCDTK-883 Update registration journey banners (#1631)
  app/controllers/application_controller.rb
  config/locales/en.yml
  spec/factories/users.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/authentication_spec.rb
Labels: none

Draft
  app/controllers/home_controller.rb
  app/models/training/module.rb
  app/views/home/_modules.html.slim
  app/views/home/index.html.slim
  app/views/learning/_card.html.slim
  config/locales/en.yml
Labels: frontend

wip
  app/controllers/home_controller.rb
Labels: none

wip
  app/views/home/_modules.html.slim
  app/views/home/index.html.slim
  app/views/learning/_card.html.slim
Labels: frontend

Update registration banner logic
  app/controllers/application_controller.rb
  spec/requests/authentication_spec.rb
Labels: none

Moved Log Analytics to module Added Application Insights
  terraform-azure/main.tf
  terraform-azure/terraform-azure-monitor/logs.tf
  terraform-azure/terraform-azure-monitor/outputs.tf
  terraform-azure/terraform-azure-monitor/variables.tf
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-review/variables.tf
  terraform-azure/terraform-azure-web/appgateway.tf
  terraform-azure/terraform-azure-web/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

Ran terraform fmt
  terraform-azure/main.tf
  terraform-azure/terraform-azure-monitor/logs.tf
  terraform-azure/terraform-azure-monitor/outputs.tf
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-review/variables.tf
  terraform-azure/terraform-azure-web/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform

Apply tags to App Insights
  terraform-azure/terraform-azure-monitor/logs.tf
Labels: terraform

DTK-921 - update headings
  config/initializers/markdown.rb
  spec/helpers/content_helper_spec.rb
Labels: none

WIP
  app/controllers/application_controller.rb
  app/controllers/registration/base_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
Labels: none

Ensure banner appears only for returning users
  app/controllers/registration/base_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
Labels: none

DTK-946 - learning log bug
  app/controllers/training/pages_controller.rb
Labels: none

DTK-952 - adds try catch
  app/controllers/training/notes_controller.rb
Labels: none

Inserted Clarity tracking setting
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform

Ensure updates banner does not show in update details journey
  app/controllers/registration/base_controller.rb
Labels: none

WIP
  app/helpers/application_helper.rb
  app/views/layouts/_flash.html.slim
  config/locales/en.yml
Labels: frontend

wip
  app/helpers/application_helper.rb
Labels: none

wip
  app/helpers/application_helper.rb
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
