Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

Organise CSVs and stop needlessly exporting massive dataset
  app/models/data_analysis/users_not_passing.rb
  app/services/dashboard.rb
Labels: none

ER-1271 Delete old user_answers and user_assessments tables (#1267)
  db/migrate/20240717072502_drop_user_answers_table.rb
  db/migrate/20240717072554_drop_user_assessments_table.rb
  db/schema.rb
Labels: none

Rewrite data export for users who still have not passed a module
  app/models/data_analysis/users_not_passing.rb
  spec/models/data_analysis/users_not_passing_spec.rb
Labels: none

Update citation logic to match updated designs
  app/helpers/content_helper.rb
  app/models/page.rb
  app/views/training/pages/_citation.html.slim
  app/views/training/pages/section_intro.html.slim
  app/views/training/questions/_learning_check_boxes.html.slim
  app/views/training/questions/_learning_radio_buttons.html.slim
Labels: frontend

WIP: initial updates for review summary page
  app/assets/stylesheets/card.scss
  app/assets/stylesheets/module-overview.scss
  app/decorators/module_overview_decorator.rb
  app/views/training/modules/_subsection.html.slim
Labels: frontend

Small update for padding left in module overview
  app/assets/stylesheets/module-overview.scss
Labels: frontend

Organise CSVs and stop needlessly exporting massive dataset (#1271)
  app/models/data_analysis/users_not_passing.rb
  app/services/dashboard.rb
  spec/models/data_analysis/users_not_passing_spec.rb
Labels: none

Update spec
  spec/models/data_analysis/users_not_passing_spec.rb
Labels: none

Allow Trivy to write and cache built images
  .github/workflows/trivy.yml
Labels: pipeline

Run on the PR not just the push
  .github/workflows/trivy.yml
Labels: pipeline

Change permission attribute
  .github/workflows/trivy.yml
Labels: pipeline

Open all permissions to test
  .github/workflows/trivy.yml
Labels: pipeline

Copy Trivy build steps
  .github/workflows/trivy.yml
Labels: pipeline

Fix env for docker image
  .github/workflows/trivy.yml
Labels: pipeline

Tidy and retest
  .github/workflows/trivy.yml
Labels: pipeline

Skip certificates check
  .github/workflows/trivy.yml
Labels: pipeline

Stop skipping secrets
  .github/workflows/trivy.yml
Labels: pipeline

Tweak previous link logic when skipping module feedback
  app/decorators/previous_page_decorator.rb
Labels: none

Update format date logic for citation
  app/helpers/date_helper.rb
  app/views/training/pages/_citation.html.slim
  app/views/training/pages/certificate.html.slim
  config/initializers/time_formats.rb
  spec/helpers/date_helper_spec.rb
Labels: frontend

Tweak previous link logic when skipping module feedback (#1280)
  app/decorators/previous_page_decorator.rb
Labels: none

Rubocop yml update
  .rubocop.yml
Labels: none

http://localhost:8808/docs/file/uml/UML.md (#1272)
  uml/UML.md
  uml/application.puml
  uml/deployment.puml
  uml/docker.puml
Labels: none

Update based on PR comments
  app/assets/stylesheets/citation.scss
  app/helpers/content_helper.rb
  app/models/training/page.rb
  app/views/training/pages/_citation.html.slim
Labels: frontend

Remove unused browser checks
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/ci.yml
  .github/workflows/qa.yml
  .gitignore
  bin/docker-build
  bin/docker-certs
  bin/docker-prod
  bin/docker-prod-reset
  bin/docker-qa
  bin/qa
  docker-compose.qa.yml
  ui/drivers/capybara_drivers.rb
  ui/drivers/chrome.rb
  ui/drivers/firefox.rb
  ui/e2e_spec.rb
  ui/home_page_spec.rb
  ui/pages/base.rb
  ui/pages/edit_name.rb
  ui/pages/home.rb
  ui/pages/my_account.rb
  ui/pages/privacy_policy.rb
  ui/pages/sign_in.rb
  ui/pages/terms_and_conditions.rb
  ui/privacy_policy.spec.rb
  ui/profile_management_spec.rb
  ui/sections/footer.rb
  ui/sections/header.rb
  ui/spec_helper.rb
  ui/support/ast/child-development-and-the-eyfs.yml
  ui/support/env.rb
  ui/support/shared/with_guest.rb
  ui/support/shared/with_user.rb
  ui/terms_and_conditions_spec.rb
  ui/ui.rb
Labels: pipeline

WIP: update based on PR comments and spec update
  app/assets/stylesheets/citation.scss
  app/models/training/content.rb
  app/models/training/page.rb
  app/views/training/pages/_citation.html.slim
  spec/models/training/content_spec.rb
Labels: frontend

Update README
  README.md
Labels: Documentation

Update Dockerfile and Gemfile
  Dockerfile
  Gemfile
  Gemfile.lock
Labels: none

Retire old and unused site prism specs and related overhead (#1281)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/ci.yml
  .github/workflows/qa.yml
  .gitignore
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  bin/docker-build
  bin/docker-certs
  bin/docker-prod
  bin/docker-prod-reset
  bin/docker-qa
  bin/qa
  docker-compose.qa.yml
  ui/drivers/capybara_drivers.rb
  ui/drivers/chrome.rb
  ui/drivers/firefox.rb
  ui/e2e_spec.rb
  ui/home_page_spec.rb
  ui/pages/base.rb
  ui/pages/edit_name.rb
  ui/pages/home.rb
  ui/pages/my_account.rb
  ui/pages/privacy_policy.rb
  ui/pages/sign_in.rb
  ui/pages/terms_and_conditions.rb
  ui/privacy_policy.spec.rb
  ui/profile_management_spec.rb
  ui/sections/footer.rb
  ui/sections/header.rb
  ui/spec_helper.rb
  ui/support/ast/child-development-and-the-eyfs.yml
  ui/support/env.rb
  ui/support/shared/with_guest.rb
  ui/support/shared/with_user.rb
  ui/terms_and_conditions_spec.rb
  ui/ui.rb
Labels: Documentation, pipeline

WIP: citation update
  app/assets/stylesheets/citation.scss
  app/helpers/date_helper.rb
  app/models/training/content.rb
  app/views/training/pages/_citation.html.slim
  spec/models/training/content_spec.rb
Labels: frontend

Update
  app/assets/stylesheets/citation.scss
Labels: frontend

Add named event for feedback intro to ensure correct buttons
  app/controllers/feedback_controller.rb
  spec/system/feedback_spec.rb
Labels: none

Correct sequential module section numbering for hidden feedback section
  app/decorators/module_overview_decorator.rb
  app/views/training/modules/show.html.slim
  spec/decorators/module_overview_decorator_spec.rb
Labels: frontend

Patch system spec
  spec/system/module_overview_progress_spec.rb
Labels: none

Add named event for feedback intro to ensure correct buttons (#1282)
  app/controllers/feedback_controller.rb
  app/decorators/module_overview_decorator.rb
  app/views/training/modules/show.html.slim
  spec/decorators/module_overview_decorator_spec.rb
  spec/system/feedback_spec.rb
  spec/system/module_overview_progress_spec.rb
Labels: frontend

Gemfile update
  Gemfile
  Gemfile.lock
Labels: none

Spec update
  spec/decorators/module_overview_decorator_spec.rb
Labels: none

Update styling for modules completed
  app/assets/stylesheets/module-overview.scss
  app/views/learning/show.html.slim
Labels: frontend

Revert "ER-1271 Delete old user_answers and user_assessments tables (#1267)"
  db/migrate/20240717072502_drop_user_answers_table.rb
  db/migrate/20240717072554_drop_user_assessments_table.rb
  db/schema.rb
Labels: none

Revert "ER-1271 Delete old user_answers and user_assessments tables (#1267)" (#1284)
  db/migrate/20240717072502_drop_user_answers_table.rb
  db/migrate/20240717072554_drop_user_assessments_table.rb
  db/schema.rb
Labels: none

Revert "Revert "ER-1271 Delete old user_answers and user_assessments tables (#1267)" (#1284)"
  db/migrate/20240717072502_drop_user_answers_table.rb
  db/migrate/20240717072554_drop_user_assessments_table.rb
  db/schema.rb
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
