Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

Hide pre_confidence_questions section (#1690)
  app/decorators/module_overview_decorator.rb
  app/decorators/pagination_decorator.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/decorators/pagination_decorator_spec.rb
Labels: none

Update content integrity so it shouldn't matter how many pre confidence check qs there are
  app/services/content_integrity.rb
Labels: none

Update content integrity so it shouldn't matter how many pre confidence check qs there are (#1692)
  app/services/content_integrity.rb
Labels: none

fix - module notifications
  app/models/user.rb
  spec/jobs/continue_training_mail_job_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
Labels: none

Fix - pre-confidence hint
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

Fix - Update confidence answers
  app/models/training/question.rb
  spec/models/training/module_spec.rb
  spec/system/confidence_check_spec.rb
Labels: none

Addresses PR comments and removes hardcoded string
  app/models/confidence_check_progress.rb
  app/models/training/question.rb
  db/migrate/20260214120000_create_confidence_check_progress.rb
  spec/models/training/question_spec.rb
Labels: none

DTK-1047 and DTK-1188 - pre/post check with skip
  app/controllers/training/pages_controller.rb
  app/controllers/training/questions_controller.rb
  app/models/confidence_check_progress.rb
  app/models/data_analysis/pre_confidence_skipped_by_module.rb
  app/models/training/question.rb
  app/models/user.rb
  app/services/dashboard.rb
  db/migrate/20260214120000_create_confidence_check_progress.rb
  db/schema.rb
  spec/factories/confidence_check_progress.rb
  spec/models/confidence_check_progress_spec.rb
  spec/models/user_spec.rb
Labels: none

wip
  app/models/training/question.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/training/module_spec.rb
  spec/models/training/question_spec.rb
  spec/system/confidence_check_spec.rb
Labels: none

Update Rack dependency
  Gemfile.lock
Labels: none

Update tar dependency version
  package.json
  yarn.lock
Labels: none

Update Axios dependency
  package.json
  yarn.lock
Labels: none

Update minimatch dependency
  package.json
  yarn.lock
Labels: none

Addresses PR comments and removes hardcoded string
  app/models/confidence_check_progress.rb
  app/models/training/question.rb
  db/migrate/20260214120000_create_confidence_check_progress.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/training/module_spec.rb
  spec/models/training/question_spec.rb
  spec/system/confidence_check_spec.rb
Labels: none

Revert "Fix - pre-confidence hint"
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

DTK-1047 && DTK-1188 - Add pre/post check with skip (#1691)
  app/controllers/training/pages_controller.rb
  app/controllers/training/questions_controller.rb
  app/models/confidence_check_progress.rb
  app/models/data_analysis/pre_confidence_skipped_by_module.rb
  app/models/training/question.rb
  app/models/user.rb
  app/services/dashboard.rb
  db/migrate/20260214120000_create_confidence_check_progress.rb
  db/schema.rb
  spec/factories/confidence_check_progress.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/confidence_check_progress_spec.rb
  spec/models/training/question_spec.rb
  spec/system/confidence_check_spec.rb
Labels: none

Revert "EYCDTK-1082 - Adds hint(pre-confidence) for confidence score (#1674)"
  app/helpers/application_helper.rb
  app/models/user.rb
  app/views/training/questions/_radio_buttons.html.slim
  spec/helpers/application_helper_spec.rb
  spec/models/user_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

Revert "EYCDTK-1082 - Adds hint(pre-confidence) for confidence score (#1674)" (#1696)
  app/helpers/application_helper.rb
  app/models/user.rb
  app/views/training/questions/_radio_buttons.html.slim
  spec/helpers/application_helper_spec.rb
  spec/models/user_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, frontend

Update uri dependency
  Gemfile.lock
Labels: none

Update previous page logic when feature flag is false
  app/decorators/previous_page_decorator.rb
Labels: none

Update previous page logic when feature flag is false (#1698)
  app/decorators/previous_page_decorator.rb
Labels: none

Update previous button logic
  app/decorators/previous_page_decorator.rb
Labels: none

Update previous button logic (#1699)
  app/decorators/previous_page_decorator.rb
Labels: none

Update basic-ftp dependency
  package.json
  yarn.lock
Labels: none

Update to set uri version to 1.0.4
  Gemfile
  Gemfile.lock
Labels: none

Update Ruby to 3.4.8
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  uml/application.puml
Labels: Documentation, pipeline

DTK-1214 - Module starts export
  app/models/data_analysis/daily_module_starts.rb
  app/services/dashboard.rb
  spec/models/data_analysis/daily_module_starts_spec.rb
Labels: none

updates minimatch
  package.json
  yarn.lock
Labels: none

Update uri dependency version
  Gemfile
  Gemfile.lock
Labels: none

updates minimatch (#1702)
  package.json
  yarn.lock
Labels: none

Update Dockerfile keywords
  Dockerfile
Labels: none

Dockerfile updates
  Dockerfile
Labels: none

Update trivyignore
  .trivyignore
Labels: none

Update dependencies (#1695)
  .trivyignore
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

Trivyignore update
  .trivyignore
Labels: none

Add security headers and middleware to remove 'Server' header from responses
  app/middleware/remove_server_header.rb
  config/environments/production.rb
Labels: none

wip
  app/middleware/remove_server_header.rb
Labels: none

wip
  app/middleware/remove_server_header.rb
  config/environments/production.rb
Labels: none

Update homepage
  app/views/home/index.html.slim
  config/initializers/markdown.rb
Labels: frontend

Update immutable dependency
  yarn.lock
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
