Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

ER-1299 remove close account button (#1250)
  app/views/user/show.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: frontend

Tidy
  .env.example
  .github/workflows/ci.yml
  app/services/content_integrity.rb
  config/sitemap.rb
  docker-compose.yml
Labels: pipeline

Adjust coverage threshold
  spec/spec_helper.rb
Labels: none

Add missing error page title
  app/views/errors/service_unavailable.html.slim
  app/views/errors/unprocessable_entity.html.slim
  config/routes.rb
  config/sitemap.rb
Labels: frontend

Replace dynamic E2E with a fixture to support feedback feature
  spec/spec_helper.rb
  spec/system/training_module_completion_spec.rb
Labels: none

Yard doc correction
  app/models/user.rb
Labels: none

Update another failing spec following feedback form update
  spec/controllers/feedback_controller_spec.rb
Labels: none

Remove role hint text
  app/views/registration/role_types/edit.html.slim
  config/locales/en.yml
Labels: frontend

Update spec
  spec/lib/seed_snippets_spec.rb
Labels: none

ER-807 Minor text fix (#1257)
  app/views/registration/role_types/edit.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend

Update name so it matches what is expected for a 422 status code
  app/controllers/close_accounts_controller.rb
  app/controllers/errors_controller.rb
  app/controllers/feedback_controller.rb
  app/controllers/registration/early_years_emails_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/controllers/training/responses_controller.rb
  app/controllers/user_controller.rb
  config/initializers/devise.rb
Labels: none

Remove unprocessable content from errors controller
  app/controllers/errors_controller.rb
Labels: none

Update Rack (#1249)
  Gemfile.lock
  app/controllers/close_accounts_controller.rb
  app/controllers/errors_controller.rb
  app/controllers/feedback_controller.rb
  app/controllers/registration/early_years_emails_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/controllers/training/responses_controller.rb
  app/controllers/user_controller.rb
  config/initializers/devise.rb
  spec/controllers/feedback_controller_spec.rb
  spec/controllers/registration/setting_types_controller_spec.rb
  spec/controllers/training/responses_controller_spec.rb
Labels: none

Improvements
  app/components/header_component.rb
  app/controllers/concerns/learning.rb
  app/controllers/registration/base_controller.rb
  app/controllers/registration/early_years_emails_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  config/routes.rb
  spec/controllers/registration/training_emails_controller_spec.rb
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
  spec/controllers/users/sessions_controller_spec.rb
  spec/system/changing_name_spec.rb
  spec/system/closing_account_spec.rb
  spec/system/gov_one_spec.rb
  spec/system/registered_user/signin_spec.rb
  spec/system/registration_spec.rb
  spec/system/training_module_completion_spec.rb
  spec/system/whats_new_page_spec.rb
Labels: none

Change minimum coverage to 94
  spec/spec_helper.rb
Labels: none

Convert error pages to CMS resources
  app/views/errors/internal_server_error.html.slim
  app/views/errors/not_found.html.slim
  app/views/errors/service_unavailable.html.slim
  cms/migrate/05-create-resource.js
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend, content

Remove early_years_emails code
  app/controllers/registration/base_controller.rb
  app/controllers/registration/early_years_emails_controller.rb
  app/forms/registration/early_years_emails_form.rb
  app/models/data_analysis/user_overview.rb
  app/models/user.rb
  app/views/registration/early_years_emails/edit.html.slim
  app/views/user/_debug.html.slim
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  db/seeds/users.yml
  spec/controllers/registration/early_years_emails_controller_spec.rb
  spec/factories/users.rb
  spec/lib/seed_snippets_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_spec.rb
  spec/system/page_title_spec.rb
Labels: frontend

Update active class for header component so it applies styling correctly
  app/components/header_component.rb
Labels: none

Lint / fix / drop field
  app/models/user.rb
  config/routes.rb
  config/sitemap.rb
  db/migrate/20240711145421_remove_early_years_emails_from_user.rb
  db/schema.rb
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
  spec/factories/users.rb
  spec/system/page_title_spec.rb
Labels: none

Update active class for header component so it applies styling correctly (#1259)
  app/components/header_component.rb
Labels: none

Comments
  app/controllers/concerns/learning.rb
  app/controllers/training/questions_controller.rb
  app/decorators/next_page_decorator.rb
  spec/controllers/concerns/logging_spec.rb
Labels: none

Use column names as headers for feedback data exports
  app/models/data_analysis/guest_feedback_scores.rb
  app/models/data_analysis/user_feedback_scores.rb
  spec/models/data_analysis/guest_feedback_scores_spec.rb
  spec/models/data_analysis/user_feedback_scores_spec.rb
Labels: none

Remove public beta redirect
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

Latest stable Ruby version
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .github/workflows/qa.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  spec/jobs/mail_job_spec.rb
Labels: pipeline

Roll back to earlier stable release
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .github/workflows/qa.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
Labels: pipeline

Revert "Roll back to earlier stable release"
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .github/workflows/qa.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
Labels: pipeline

Upgrade GoLang for Trivy
  Dockerfile
Labels: none

Upgrade esbuild directly Run Trivy on all package manager changes Add extracted CSV gem
  .github/workflows/trivy.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Labels: pipeline

Update to address rubocop errors
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  Gemfile.lock
Labels: none

Create migration to drop user answers and user assessments tables
  db/migrate/20240717072502_drop_user_answers_table.rb
  db/migrate/20240717072554_drop_user_assessments_table.rb
  db/schema.rb
Labels: none

Fix rubocop errors
  db/migrate/20240717072502_drop_user_answers_table.rb
  db/migrate/20240717072554_drop_user_assessments_table.rb
Labels: none

Add updated and published date to CDT pages
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/citation.scss
  app/models/page.rb
  app/views/training/pages/_citation.html.slim
  app/views/training/pages/text_page.html.slim
  app/views/training/pages/video_page.html.slim
  config/initializers/time_formats.rb
Labels: frontend

Update for learning check margin
  app/views/training/questions/_learning_check_boxes.html.slim
  app/views/training/questions/_learning_radio_buttons.html.slim
Labels: frontend

Revert research participant update in schema
  db/schema.rb
Labels: none

Update file so it includes all columns in pre-dropped state for user answers table
  db/migrate/20240717072502_drop_user_answers_table.rb
Labels: none

http://localhost:8808/docs/file/uml/UML.md
  uml/UML.md
  uml/application.puml
  uml/deployment.puml
  uml/docker.puml
Labels: none

Pass SENTRY_TOKEN to worker container
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Update to address some rubocop errors
  .rubocop_todo.yml
  spec/jobs/continue_training_mail_job_spec.rb
  spec/models/data_analysis/modules_per_month_spec.rb
  spec/models/data_analysis/resits_per_user_spec.rb
  spec/models/data_analysis/role_pass_rate_spec.rb
  spec/models/data_analysis/setting_pass_rate_spec.rb
  spec/models/data_analysis/summative_quiz_spec.rb
  spec/models/data_analysis/user_feedback_scores_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/data_analysis/users_not_passing_spec.rb
  spec/models/user_spec.rb
  spec/services/calculate_module_state_spec.rb
  spec/support/shared/with_events.rb
  spec/system/closing_account_spec.rb
Labels: none

Upgrade to the latest stable Ruby version 3.3.4 (#1266)
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .github/workflows/qa.yml
  .github/workflows/trivy.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  package.json
  spec/jobs/mail_job_spec.rb
  yarn.lock
Labels: pipeline

Pass SENTRY_TOKEN to worker container (#1269)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline
