Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

Update format date logic for citation
  app/assets/stylesheets/timestamp.scss
  app/helpers/content_helper.rb
  app/helpers/date_helper.rb
  app/models/training/content.rb
  app/views/training/pages/_citation.html.slim
  app/views/training/pages/_timestamp.html.slim
  app/views/training/pages/certificate.html.slim
  config/initializers/time_formats.rb
  spec/helpers/date_helper_spec.rb
  spec/models/training/page_spec.rb
  spec/models/training/question_spec.rb
  spec/models/training/video_spec.rb
  spec/support/shared/updated_content.rb
Labels: frontend

Address PR comments and update timestamp partial
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/citation.scss
  app/assets/stylesheets/timestamp.scss
  app/models/training/content.rb
  app/views/notes/_form.html.slim
  app/views/training/pages/_citation.html.slim
  app/views/training/pages/_timestamp.html.slim
  app/views/training/pages/section_intro.html.slim
  app/views/training/pages/text_page.html.slim
  app/views/training/pages/video_page.html.slim
  app/views/training/questions/_learning_check_boxes.html.slim
  app/views/training/questions/_learning_radio_buttons.html.slim
  app/views/training/questions/show.html.slim
  spec/models/training/page_spec.rb
  spec/models/training/video_spec.rb
  spec/support/shared/updated_content.rb
Labels: frontend

Update specs related to timestamp
  app/assets/stylesheets/timestamp.scss
  spec/models/training/page_spec.rb
  spec/models/training/video_spec.rb
  spec/support/shared/updated_content.rb
Labels: frontend

Update Sentry config
  config/application.rb
  config/initializers/sentry.rb
Labels: none

Revert "Er 1219 add updated and published date"
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/timestamp.scss
  app/helpers/date_helper.rb
  app/models/training/content.rb
  app/views/notes/_form.html.slim
  app/views/training/pages/_timestamp.html.slim
  app/views/training/pages/certificate.html.slim
  app/views/training/pages/section_intro.html.slim
  app/views/training/pages/text_page.html.slim
  app/views/training/pages/video_page.html.slim
  app/views/training/questions/_learning_check_boxes.html.slim
  app/views/training/questions/_learning_radio_buttons.html.slim
  app/views/training/questions/show.html.slim
  spec/helpers/date_helper_spec.rb
  spec/models/training/page_spec.rb
  spec/models/training/question_spec.rb
  spec/models/training/video_spec.rb
  spec/support/shared/updated_content.rb
Labels: frontend

Remove contact us link in footer
  app/views/layouts/_footer.html.slim
Labels: frontend

Update data that is exported (#1337)
  app/services/dashboard.rb
Labels: none

Remove contact us link in footer (#1344)
  app/views/layouts/_footer.html.slim
Labels: frontend

Update Sentry config (#1340)
  config/application.rb
  config/initializers/sentry.rb
Labels: none

Add refresh to before_action if refresh is present
  app/controllers/application_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
Labels: none

Add refresh to before_action if refresh is present
  app/controllers/application_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
Labels: none

Add refresh to before_action if refresh is present
  app/controllers/application_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
Labels: none

Update rails and Que
  Gemfile.lock
Labels: none

Update to show confidence check score for managers and team leaders
  app/models/data_analysis/confidence_check_scores_for_manager_or_leader.rb
  app/models/user.rb
  app/services/dashboard.rb
  spec/models/data_analysis/confidence_check_scores_for_manager_or_leader_spec.rb
Labels: none

Update rails and Que
  Gemfile.lock
Labels: none

Upgrade node to 20.18.0
  .github/workflows/ci.yml
  .github/workflows/pa11y.yml
  .tool-versions
Labels: pipeline

Revert "Add refresh to before_action if refresh is present"
  app/controllers/application_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
Labels: none

wip test sass
  package-lock.json
  package.json
Labels: none

Revert "Add refresh to before_action if refresh is present"
  app/controllers/application_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
Labels: none

Add fallback to timezone add a fallback to set_time_zone so that if a timezone 'TZ' variable is not set it, it will set to default utc time
  app/controllers/application_controller.rb
  spec/controllers/application_controller_spec.rb
Labels: none

Upgrade node to 20.18.0
  .github/workflows/ci.yml
  .github/workflows/pa11y.yml
  .tool-versions
Labels: pipeline

Add fallback to timezone add a fallback to set_time_zone so that if a timezone 'TZ' variable is not set it, it will set to default utc time
  app/controllers/application_controller.rb
  spec/controllers/application_controller_spec.rb
Labels: none

Add fallback to timezone add a fallback to set_time_zone so that if a timezone 'TZ' variable is not set it, it will set to default utc time
  app/controllers/application_controller.rb
  spec/controllers/application_controller_spec.rb
Labels: none

Rescue 404 and 500 errors
  app/controllers/errors_controller.rb
  spec/system/errors_spec.rb
Labels: none

wip
  spec/system/errors_spec.rb
Labels: none

Rescue 404 and 500 errors
  app/controllers/errors_controller.rb
  spec/system/errors_spec.rb
Labels: none

Temporarily disable trivy
  .github/workflows/trivy.yml
Labels: pipeline

Temporarily disable trivy
  .github/workflows/trivy.yml
Labels: pipeline

Improve cookie banner alignment
  app/assets/stylesheets/application.scss
Labels: frontend

Update cookie page to wrap text on mobile
  app/assets/stylesheets/application.scss
  app/views/settings/cookie_policy.html.slim
Labels: frontend

Update to only apply styling to mobile
  app/assets/stylesheets/application.scss
Labels: frontend

EYCDTK-52 Cookie banner update (#1371)
  app/assets/stylesheets/application.scss
  app/views/settings/cookie_policy.html.slim
Labels: frontend

Update back link
  app/assets/stylesheets/application.scss
Labels: frontend

Update back link
  app/assets/stylesheets/application.scss
Labels: frontend

Re-enable trivy re-enable triv-scan
  .github/workflows/trivy.yml
Labels: pipeline

Improve rescue 500/404 errors
  app/controllers/errors_controller.rb
Labels: none

Re-enable trivy re-enable triv-scan
  .github/workflows/trivy.yml
Labels: pipeline

Update local authority
  app/forms/registration/local_authority_form.rb
  app/models/trainee/authority.rb
  data/local-authority.yml
  spec/requests/registration/local_authorities_spec.rb
Labels: content

Update local authority (#1377)
  app/forms/registration/local_authority_form.rb
  app/models/trainee/authority.rb
  data/local-authority.yml
  spec/requests/registration/local_authorities_spec.rb
Labels: content

wip
  .github/workflows/trivy.yml
Labels: pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
