Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

ER-899 Local Authority User active user update (#1041)
  app/models/data_analysis/local_authority_user.rb
  spec/factories/users.rb
  spec/models/data_analysis/local_authority_user_spec.rb
Labels: none

ER-872 GovOne Banner (#1038)
  app/controllers/home_controller.rb
  app/views/layouts/_flash.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/system/front_page_spec.rb
Labels: frontend

Remove validation skipping for GOV.UK One Login user creation (#1031)
  app/models/user.rb
  config/locales/en.yml
  lib/fill_page_views.rb
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
  spec/controllers/users/sessions_controller_spec.rb
  spec/forms/registration/role_type_form_spec.rb
  spec/forms/registration/terms_and_conditions_form_spec.rb
  spec/models/user_spec.rb
  spec/system/account_page_spec.rb
  spec/system/gov_one_spec.rb
  spec/system/sign_up_spec.rb
Labels: none

Quick CMS resource debugger (#1040)
  .env.example
  app/models/page/resource.rb
  lib/seed_snippets.rb
  lib/tasks/cms.rake
  spec/models/page/resource_spec.rb
  spec/models/page_spec.rb
  spec/system/account_page_spec.rb
Labels: none

update gov.uk one login integration credentials (#1037)
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  docker-compose.qa.yml
  docker-compose.yml
Labels: none

Always recreate container for background workers (#1045)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

CMS powered site-wide config (#1044)
  .env.example
  .rubocop_todo.yml
  app/controllers/application_controller.rb
  app/controllers/close_accounts_controller.rb
  app/forms/form_builder.rb
  app/helpers/application_helper.rb
  app/helpers/content_helper.rb
  app/models/course.rb
  app/models/user.rb
  app/views/layouts/_footer.html.slim
  cms/migrate/00-create-static.js
  cms/migrate/01-create-page.js
  cms/migrate/02-create-question.js
  cms/migrate/03-create-video.js
  cms/migrate/04-create-training-module.js
  cms/migrate/05-create-resource.js
  cms/migrate/07-create-course.js
  config/application.rb
  config/initializers/contentful_rails.rb
  config/initializers/govuk_components.rb
  config/puma.rb
  spec/config_spec.rb
  spec/helpers/content_helper_spec.rb
  spec/models/course_spec.rb
Labels: frontend, content

Force confirmation when destroying containers. (#1052)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

wip: navigate between main feedback form questions
  app/controllers/feedback_controller.rb
  app/views/feedback/show.html.slim
  config/routes.rb
Labels: frontend

Er 832 Early years experience (#1048)
  app/controllers/registration/early_years_emails_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/forms/form_builder.rb
  app/forms/registration/early_years_experiences_form.rb
  app/models/trainee/experience.rb
  app/views/registration/early_years_experiences/edit.html.slim
  app/views/user/show.html.slim
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  data/early-years-experience.yml
  db/migrate/20240110150648_add_early_years_experience_to_users.rb
  spec/controllers/registration/early_years_experiences_controller_spec.rb
  spec/controllers/registration/role_type_others_controller_spec.rb
  spec/forms/registration/early_years_experiences_form_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/registration/early_years_experience_spec.rb
  spec/requests/registration/role_type_others_spec.rb
  spec/system/confirmed_user/completing_registration_spec.rb
Labels: frontend, content

Update Local Authority User to count using specific criteria and add new counts to user overview (#1053)
  app/models/data_analysis/local_authority_user.rb
  app/models/data_analysis/user_overview.rb
  spec/models/data_analysis/user_overview_spec.rb
Labels: none

ER-898 CMS model evolution (#1018)
  RELEASE.md
  app/models/training/module.rb
  app/services/assessment_progress.rb
  app/services/content_integrity.rb
  app/views/about/_sidebar.html.slim
  app/views/about/show.html.slim
  app/views/learning/_card.html.slim
  app/views/learning/show.html.slim
  app/views/training/modules/show.html.slim
  cms/CONTENTFUL.md
  cms/migrate/04-create-training-module.js
  config/locales/en.yml
  spec/models/training/module_spec.rb
  spec/requests/snippets_spec.rb
Labels: Documentation, frontend, content

ER-893 Certificate design (#1051)
  Dockerfile
  app/assets/images/certificate-sample.png
  app/assets/stylesheets/about.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/certificate.scss
  app/assets/stylesheets/print-link.scss
  app/assets/stylesheets/print.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/quote.scss
  app/assets/stylesheets/section-bar.scss
  app/assets/stylesheets/section-intro.scss
  app/controllers/training/pages_controller.rb
  app/helpers/content_helper.rb
  app/views/close_accounts/confirm.html.slim
  app/views/layouts/_flash.html.slim
  app/views/notes/show.html.slim
  app/views/training/pages/certificate.html.slim
  config/initializers/grover.rb
  spec/controllers/training/pages_controller_spec.rb
Labels: frontend

wip
  app/controllers/feedback_controller.rb
  app/forms/feedback_form.rb
  app/views/feedback/show.html.slim
  config/routes.rb
Labels: frontend

wip: add answer validation
  app/controllers/feedback_controller.rb
  config/application.rb
  db/migrate/20240131135344_change_training_module_in_responses.rb
  db/schema.rb
Labels: none

Update LA list for registration/account management journey
  data/local-authority.yml
Labels: content

wip: add validation
  app/controllers/feedback_controller.rb
  app/views/feedback/index.html.slim
  app/views/feedback/show.html.slim
  app/views/training/questions/_main_feedback_check_boxes.html.slim
  app/views/training/questions/_main_feedback_radio_buttons.html.slim
  config/routes.rb
  spec/controllers/feedback_controller_spec.rb
Labels: frontend

rubocop
  app/controllers/feedback_controller.rb
  config/routes.rb
  spec/controllers/feedback_controller_spec.rb
Labels: none

Update LA list for registration/account management journey (#1067)
  data/local-authority.yml
Labels: content

add support for nil user responses
  app/controllers/feedback_controller.rb
  app/models/response.rb
  app/views/feedback/index.html.slim
  db/migrate/20240207105459_add_text_input_to_responses.rb
  db/migrate/20240207134812_change_responses_user_id_to_null.rb
  db/schema.rb
Labels: frontend

wip: allow user to update previous answers
  app/controllers/feedback_controller.rb
  app/views/feedback/show.html.slim
  app/views/training/questions/_main_feedback_radio_buttons.html.slim
Labels: frontend

add introduction and thank you pages
  app/controllers/feedback_controller.rb
  app/views/feedback/index.html.slim
  app/views/feedback/show.html.slim
  app/views/feedback/thank_you.html.slim
  app/views/training/questions/_main_feedback_radio_buttons.html.slim
  config/locales/en.yml
  config/routes.rb
Labels: frontend

Update wording for updated LA list
  app/forms/registration/local_authority_form.rb
  data/local-authority.yml
Labels: content

add guard clause to omniauth controller error redirect
  app/controllers/users/omniauth_callbacks_controller.rb
  db/schema.rb
Labels: none

revert schema changes
  db/schema.rb
Labels: none

Update wording for updated LA list (#1070)
  app/forms/registration/local_authority_form.rb
  data/local-authority.yml
Labels: content

add one login to user data export
  app/models/user.rb
Labels: none

Prevent incorrect error redirect (#1071)
  app/controllers/users/omniauth_callbacks_controller.rb
Labels: none

update user spec
  spec/models/user_spec.rb
Labels: none

rubocop
  app/models/user.rb
Labels: none

Draft logic to migrate training records, copying PKs and create missing associations as needed
  lib/migrate_assessments.rb
  lib/migrate_training.rb
  spec/lib/migrate_assessments_spec.rb
  spec/lib/migrate_responses_spec.rb
  spec/lib/migrate_training_spec.rb
  spec/models/course_spec.rb
Labels: none

add additional text input for further details
  app/views/training/questions/_main_feedback_radio_buttons.html.slim
Labels: frontend

Rework and test
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/services/assessment_progress.rb
  lib/migrate_assessments.rb
  lib/migrate_responses.rb
  lib/migrate_training.rb
  spec/lib/migrate_assessments_spec.rb
  spec/lib/migrate_responses_spec.rb
  spec/lib/migrate_training_spec.rb
  spec/system/migrate_training_spec.rb
Labels: none

wip: Update for responses table and saving text input questions
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/decorators/pagination_decorator.rb
  app/helpers/link_helper.rb
  app/models/concerns/content_types.rb
  app/models/concerns/pagination.rb
  app/models/response.rb
  app/views/training/questions/_opinion_radio_buttons.html.slim
  db/migrate/20240209141502_add_text_input_to_responses.rb
  spec/controllers/training/responses_controller_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/models/response_spec.rb
  spec/models/training/module_spec.rb
  spec/models/training/question_spec.rb
  spec/system/event_log_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/opinion_spec.rb
Labels: frontend

YAML AST powered migration testing
  spec/support/ast/bravo-fail.yml
  spec/support/ast/training-migration.yml
  spec/system/migrate_training_spec.rb
Labels: none

disable deployment of candidates and releases via push
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Bump most dependencies to address Dependabot and Trivy alerts skip GoogleAuth upgrade due to authentication changes
  Gemfile
  Gemfile.lock
  app/models/user_answer.rb
  package.json
  spec/models/course_spec.rb
  yarn.lock
Labels: none

Update user data export (#1074)
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

fix page title spec
  spec/system/page_title_spec.rb
Labels: none

update user spec
  spec/requests/user_spec.rb
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
