Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

wip: update to ensure feedback questions can be used across modules
  .env.example
  app/controllers/concerns/learning.rb
  app/helpers/link_helper.rb
  app/models/user.rb
  config/application.rb
Labels: none

wip: Update one-off question logic and page count logic in module
  .github/workflows/ci.yml
  app/controllers/concerns/learning.rb
  app/controllers/training/responses_controller.rb
  app/decorators/pagination_decorator.rb
  app/helpers/link_helper.rb
  app/models/concerns/content_types.rb
  app/models/response.rb
  app/models/training/content.rb
  app/models/training/question.rb
  app/models/user.rb
  spec/decorators/pagination_decorator_spec.rb
  spec/helpers/link_helper_spec.rb
Labels: pipeline

wip: Update for responses table and saving text input questions
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/decorators/pagination_decorator.rb
  app/helpers/link_helper.rb
  app/models/concerns/content_types.rb
  app/models/concerns/pagination.rb
  app/models/response.rb
  app/views/training/questions/_opinion_radio_buttons.html.slim
  db/migrate/20240209141502_add_text_input_to_responses.rb
  spec/controllers/training/responses_controller_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/models/response_spec.rb
  spec/models/training/module_spec.rb
  spec/models/training/question_spec.rb
  spec/system/event_log_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/opinion_spec.rb
Labels: frontend

wip: Copy across opinion radio button
  app/forms/form_builder.rb
Labels: none

update migrations
  db/migrate/20240207134812_change_responses_user_id_to_null.rb
  db/migrate/20240209141502_add_text_input_to_responses.rb
Labels: none

create guest struct
  app/models/guest.rb
Labels: none

remove pre_one_login user factory
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Labels: none

remove unnecessary devise modules
  app/models/user.rb
Labels: none

remove email take mail
  app/mailers/notify_mailer.rb
  app/models/user.rb
  spec/mailers/notify_mailer_spec.rb
Labels: none

Update logic for link helper and update specs
  app/helpers/link_helper.rb
  spec/controllers/training/responses_controller_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/models/training/module_spec.rb
  spec/support/ast/alpha-pass.yml
  spec/system/event_log_spec.rb
Labels: none

Update learning check styling to have correct margin bottom
  app/assets/stylesheets/application.scss
  app/views/training/questions/show.html.slim
Labels: frontend

- consolidate next link logic into a single location (#1101)
  .rubocop_todo.yml
  app/decorators/next_page_decorator.rb
  app/decorators/pagination_decorator.rb
  app/forms/form_option.rb
  app/helpers/link_helper.rb
  app/models/training/content.rb
  app/models/training/question.rb
  app/services/assessment_progress.rb
  app/services/content_changes.rb
  app/services/module_progress.rb
  app/views/notes/_form.html.slim
  app/views/training/questions/show.html.slim
  config/environments/test.rb
  config/initializers/types.rb
  config/locales/en.yml
  lib/content_seed.rb
  lib/content_test_schema.rb
  lib/migrate_training.rb
  spec/decorators/next_page_decorator_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
Labels: frontend

Draft feedback question model field migration
  cms/migrate/01-create-page.js
  cms/migrate/02-create-question.js
  cms/migrate/03-create-video.js
  cms/migrate/04-create-training-module.js
  lib/tasks/cms.rake
Labels: content

Defend against fat controller anti-pattern
  app/models/course.rb
  app/models/training/module.rb
  spec/models/course_spec.rb
  spec/models/event_spec.rb
  spec/models/visit_spec.rb
Labels: none

Ensure CMS webhooks continue to work even whilst in maintenance mode
  app/controllers/application_controller.rb
  config/application.rb
  spec/config_spec.rb
Labels: none

Update specs and text input logic update in response model
  .env.example
  app/controllers/training/responses_controller.rb
  app/helpers/link_helper.rb
  app/models/response.rb
  app/models/training/module.rb
  app/models/training/question.rb
  config/application.rb
  docker-compose.test.yml
  lib/content_test_schema.rb
  spec/config_spec.rb
  spec/controllers/feedback_controller_spec.rb
  spec/controllers/training/responses_controller_spec.rb
  spec/decorators/pagination_decorator_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/models/data_analysis/confidence_check_scores_spec.rb
  spec/models/data_analysis/high_fail_questions_spec.rb
  spec/models/response_spec.rb
  spec/models/training/question_spec.rb
  spec/models/training/response_spec.rb
  spec/system/opinion_spec.rb
Labels: none

Ensure CMS webhooks continue to work even whilst in maintenance mode (#1103)
  app/controllers/application_controller.rb
  config/application.rb
  spec/config_spec.rb
Labels: none

update readme
  README.md
Labels: Documentation

fix course spec
  spec/models/course_spec.rb
Labels: none

Update ci workflow with correct feature flags and update specs
  .github/workflows/ci.yml
  app/decorators/next_page_decorator.rb
  spec/lib/seed_snippets_spec.rb
  spec/support/ast/alpha-pass.yml
Labels: pipeline

x
  lib/migrate_training.rb
Labels: none

Update based on PR comments
  app/forms/form_builder.rb
  app/models/concerns/content_types.rb
  app/models/concerns/pagination.rb
  app/models/response.rb
  app/views/training/modules/_section.html.slim
  app/views/training/modules/show.html.slim
  app/views/training/questions/_main_feedback_radio_buttons.html.slim
  app/views/training/questions/_opinion_radio_buttons.html.slim
  config/locales/en.yml
  spec/controllers/training/responses_controller_spec.rb
  spec/decorators/pagination_decorator_spec.rb
Labels: frontend

Rename opinion type to feedback and rename free text question used in specs
  app/controllers/concerns/learning.rb
  app/controllers/training/pages_controller.rb
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/decorators/pagination_decorator.rb
  app/models/concerns/content_types.rb
  app/models/training/module.rb
  app/models/training/question.rb
  app/models/user.rb
  spec/controllers/training/responses_controller_spec.rb
  spec/decorators/next_page_decorator_spec.rb
  spec/decorators/pagination_decorator_spec.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/course_spec.rb
  spec/models/training/question_spec.rb
  spec/models/training/response_spec.rb
  spec/support/shared/with_content.rb
  spec/support/shared/with_progress.rb
Labels: none

use response validation for other text answer
  app/controllers/feedback_controller.rb
  app/models/response.rb
Labels: none

add update responses for guest users
  app/controllers/feedback_controller.rb
  app/models/guest.rb
  app/models/response.rb
  db/migrate/20240301154905_add_guest_visit_to_responses.rb
  db/migrate/20240301164142_change_user_id_to_be_nullable_in_responses.rb
  db/schema.rb
Labels: none

refactor: use form_builder to create main feedback forms for radio buttons and check boxes
  app/controllers/feedback_controller.rb
  app/forms/form_builder.rb
  app/models/training/question.rb
  app/views/training/questions/_main_feedback_check_boxes.html.slim
  app/views/training/questions/_main_feedback_radio_buttons.html.slim
Labels: frontend

revert prod creds changes
  config/credentials/production.yml.enc
Labels: none

Batch in groups of 100 and let assessment PKs be different
  lib/migrate_training.rb
  spec/lib/migrate_training_spec.rb
Labels: none

add partial for free text feedback questions
  app/controllers/feedback_controller.rb
  app/forms/form_builder.rb
  app/models/training/question.rb
  app/views/feedback/index.html.slim
  app/views/feedback/show.html.slim
  app/views/training/questions/_main_feedback_free_text.html.slim
Labels: frontend

update feedback thank you path
  app/controllers/feedback_controller.rb
  config/routes.rb
Labels: none

Refactor: use form_builder to create end of module feedback forms
  app/forms/form_builder.rb
  app/views/training/questions/_main_feedback_free_text.html.slim
  app/views/training/questions/_opinion_radio_buttons.html.slim
Labels: frontend

change response name to content in feedback show
  app/views/feedback/show.html.slim
  app/views/training/questions/_main_feedback_check_boxes.html.slim
Labels: frontend

add feedback answer check for free text input
  app/controllers/feedback_controller.rb
Labels: none

add form builder link for yard docs
  app/forms/form_builder.rb
Labels: none

Refactor feedback using idiomatic ruby and existing patterns
  .github/workflows/ci.yml
  app/controllers/feedback_controller.rb
  app/controllers/training/pages_controller.rb
  app/controllers/training/responses_controller.rb
  app/models/concerns/content_types.rb
  app/models/concerns/pagination.rb
  app/models/course.rb
  app/models/response.rb
  app/models/training/question.rb
  app/models/user.rb
  app/views/feedback/_check_boxes.html.slim
  app/views/feedback/_radio_buttons.html.slim
  app/views/feedback/index.html.slim
  app/views/feedback/show.html.slim
  app/views/feedback/thank_you.html.slim
  app/views/training/assessments/show.html.slim
  app/views/training/questions/_main_feedback_radio_buttons.html.slim
  config/locales/en.yml
  config/routes.rb
  spec/support/shared/with_progress.rb
Labels: frontend, pipeline

Renaming opinion to feedback and update feedback logic (based on PR comments)
  app/controllers/training/questions_controller.rb
  app/helpers/link_helper.rb
  app/models/response.rb
  app/models/training/module.rb
  app/models/training/question.rb
  config/locales/en.yml
Labels: none

Refine first/next logic and flag potential content changes
  app/helpers/link_helper.rb
  app/models/course.rb
  app/models/response.rb
  app/models/training/question.rb
  app/views/feedback/index.html.slim
  app/views/feedback/show.html.slim
  app/views/feedback/thank_you.html.slim
  app/views/training/questions/_main_feedback_check_boxes.html.slim
  app/views/training/questions/_main_feedback_free_text.html.slim
  app/views/training/questions/_opinion_radio_buttons.html.slim
  config/locales/en.yml
Labels: frontend

Setup unit testing for custom form builder fields
  app/forms/form_builder.rb
  spec/forms/form_builder_spec.rb
Labels: none

Replace single task transaction with multiple record transactions
  lib/migrate_training.rb
Labels: none

Update Previous/Next logic so it uses Previous/Next Decorators
  app/decorators/previous_page_decorator.rb
  app/helpers/link_helper.rb
  spec/decorators/previous_page_decorator_spec.rb
Labels: none
