Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Remove unused route and double redirect
  app/controllers/training/assessments_controller.rb
  app/helpers/link_helper.rb
  app/services/assessment_progress.rb
  app/views/training/assessments/show.html.slim
  config/routes.rb
  spec/helpers/link_helper_spec.rb
  spec/models/data_analysis/confidence_check_scores_spec.rb
Labels: frontend

Additional comments
  app/jobs/complete_registration_mail_job.rb
  app/jobs/continue_training_mail_job.rb
  app/jobs/start_training_mail_job.rb
  app/jobs/test_bulk_mail_job.rb
Labels: none

DPO comment reminder
  app/models/response.rb
Labels: none

trigger migration runs manually until up to date
  app/jobs/data_migration_job.rb
  config/initializers/que.rb
Labels: none

trigger migration runs manually until up to date (#1235)
  app/jobs/data_migration_job.rb
  config/initializers/que.rb
Labels: none

Store free text response as plain text
  app/models/response.rb
Labels: none

Select latest version of migrated user_answer data
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

Update govuk-frontend to show correct tag styling
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/module-overview.scss
  app/helpers/content_helper.rb
  package.json
  yarn.lock
Labels: frontend

Select latest version of migrated user_answer data (#1242)
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

Remove capitalize for tag
  app/helpers/content_helper.rb
Labels: none

Permanent toggle to temporary feature flag post-migration
  .github/workflows/ci.yml
  config/application.rb
Labels: pipeline

Progress service notes
  app/services/module_progress.rb
Labels: none

Update to resolve failing check
  app/assets/stylesheets/application.scss
  package.json
Labels: frontend

Permanent toggle to temporary feature flag post-migration (#1243)
  .github/workflows/ci.yml
  config/application.rb
Labels: pipeline

Address PR comment about width being incorrect for some pages
  app/assets/stylesheets/application.scss
Labels: frontend

Stylelint update and update for console error
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/autocomplete.scss
  app/assets/stylesheets/card.scss
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

Update for mobile padding
  app/assets/stylesheets/application.scss
Labels: frontend

Note update
  app/jobs/complete_registration_mail_job.rb
  app/jobs/continue_training_mail_job.rb
  app/jobs/start_training_mail_job.rb
  app/jobs/test_bulk_mail_job.rb
Labels: none

Padding update
  app/assets/stylesheets/application.scss
Labels: frontend

Add developer notes regarding Notify mailer (#1222)
  app/jobs/complete_registration_mail_job.rb
  app/jobs/continue_training_mail_job.rb
  app/jobs/start_training_mail_job.rb
  app/jobs/test_bulk_mail_job.rb
  app/mailers/notify_mailer.rb
  config/application.rb
Labels: none

Remove padding for content page header
  app/assets/stylesheets/header.scss
Labels: frontend

Update for mobile padding
  app/views/layouts/application.html.slim
Labels: frontend

Tidy stylesheets (#1163)
  app/assets/stylesheets/about.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/assets-page.scss
  app/assets/stylesheets/autocomplete.scss
  app/assets/stylesheets/card.scss
  app/assets/stylesheets/certificate.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/module-overview.scss
  app/assets/stylesheets/print.scss
  app/assets/stylesheets/progress-bar.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/quote.scss
  app/assets/stylesheets/section-bar.scss
  app/assets/stylesheets/section-intro.scss
  app/components/header_component.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  bin/docker-stylelint
  package.json
  yarn.lock
Labels: frontend

Replace conflicting type checks with the single CMS model entry page_type
  app/controllers/training/responses_controller.rb
  app/models/concerns/content_types.rb
  app/models/training/question.rb
  app/models/user.rb
  lib/content_test_schema.rb
  spec/lib/migrate_training_spec.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/training/question_spec.rb
  spec/support/shared/with_content.rb
  spec/system/confidence_check_spec.rb
  spec/system/formative_question_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/summative_assessment_spec.rb
Labels: none

Lint
  app/controllers/training/responses_controller.rb
  app/models/training/question.rb
  spec/spec_helper.rb
Labels: none

Post-migration tech-debt unifying question types (#1247)
  app/controllers/training/responses_controller.rb
  app/models/concerns/content_types.rb
  app/models/training/question.rb
  app/models/user.rb
  lib/content_test_schema.rb
  spec/lib/migrate_training_spec.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/training/question_spec.rb
  spec/spec_helper.rb
  spec/support/shared/with_content.rb
  spec/system/confidence_check_spec.rb
  spec/system/formative_question_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/summative_assessment_spec.rb
Labels: none

Update mobile header to have chevron and links at top of header
  app/components/_menu_chevron.html.slim
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
Labels: none

WIP: Chevron update for mobile menu
  app/components/header_component.rb
Labels: none

Add Peter's changes and remove menu chevron file
  app/components/_menu_chevron.html.slim
  app/components/header_component.rb
  config/initializers/govuk_components.rb
Labels: none

Update
  spec/models/user_spec.rb
Labels: none

Navigation link update for mobile
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
Labels: none

Order response data export and spec consistency
  app/models/data_analysis/confidence_check_scores.rb
  spec/models/data_analysis/confidence_check_scores_spec.rb
Labels: none

Update active class for navigation item and action link
  app/components/header_component.rb
Labels: none

Fix failing spec
  spec/system/registered_user/changing_name_spec.rb
Labels: none

Remove button to start account closure journey
  app/views/user/show.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend

Update Rack and specs to fix dependabot PRs
  Gemfile.lock
  spec/controllers/registration/setting_types_controller_spec.rb
  spec/controllers/training/responses_controller_spec.rb
Labels: none

Replace old variable in stylesheets
  app/assets/stylesheets/application.scss
Labels: frontend

Add new closure content
  config/locales/en.yml
  spec/system/registered_user/closing_account_spec.rb
Labels: none

Sitemap update
  config/sitemap.rb
Labels: none

ER-1157 DfE Header update (#1248)
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
  config/initializers/govuk_components.rb
  config/sitemap.rb
  spec/system/registered_user/changing_name_spec.rb
Labels: none
