Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

EYCDTK-1636 Show dynamic module count on the home page (#1846)
  app/controllers/home_controller.rb
  app/views/home/_modules.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/requests/home_spec.rb
Labels: frontend

Remove criteria from module overview pages (#1851)
  app/views/training/modules/show.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend

Remove criteria from module About page
  app/views/about/show.html.slim
  config/locales/en.yml
Labels: frontend

Remove criteria from module About page (#1852)
  app/views/about/show.html.slim
  config/locales/en.yml
Labels: frontend

Add Splunk OTLP exporter support and refactor OpenTelemetry configuration
  .env.example
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/tf-azure-deploy.yml
  Dockerfile
  adr/0025-application-insights/0025-2-opentelemetry_deployment_sidecar.md
  config/initializers/opentelemetry.rb
  docker-compose.yml
  lib/opentelemetry_configuration.rb
  otel-collector-azure-config.yml
  otel-collector-entrypoint.sh
  otel-collector-local-config.yml
  spec/lib/open_telemetry_configuration_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

wip
  spec/lib/open_telemetry_configuration_spec.rb
Labels: none

Update Splunk OTLP headers in tests to use a test token
  spec/lib/open_telemetry_configuration_spec.rb
Labels: none

Redirect security.txt to the centrally maintained DfE file
  config/routes.rb
  public/.well-known/security.txt
Labels: none

Initial spec update for changes relating to bitesize module
  spec/models/data_analysis/module_feedback_forms_spec.rb
  spec/models/data_analysis/user_module_completion_spec.rb
  spec/models/data_analysis/users_not_passing_spec.rb
  spec/models/training/module_spec.rb
  spec/models/user_spec.rb
  spec/requests/about_training_spec.rb
  spec/services/course_progress_spec.rb
Labels: none

Use “Back to module overview” for module back links
  app/helpers/link_helper.rb
  spec/system/assessment_results_spec.rb
  spec/system/content_page_spec.rb
  spec/system/formative_question_spec.rb
  spec/system/summative_assessment_spec.rb
Labels: none

Redirect security.txt to the centrally maintained DfE file (#1856)
  config/routes.rb
  public/.well-known/security.txt
Labels: none

Revert changes for failing specs
  spec/models/data_analysis/module_feedback_forms_spec.rb
  spec/models/data_analysis/user_module_completion_spec.rb
  spec/models/data_analysis/users_not_passing_spec.rb
  spec/models/user_spec.rb
  spec/requests/about_training_spec.rb
  spec/services/course_progress_spec.rb
Labels: none

Replace DfE header logos with smaller supplied images
  app/assets/images/dfe-logo-3x.png
  app/assets/images/dfe-logo-alt.png
  app/assets/images/dfe-logo-sm.png
  app/components/header_component.html.slim
  public/static-images/dfe-logo-alt.png
Labels: frontend

Use “Back to module overview” for module back links (#1858)
  app/helpers/link_helper.rb
  spec/system/assessment_results_spec.rb
  spec/system/content_page_spec.rb
  spec/system/formative_question_spec.rb
  spec/system/summative_assessment_spec.rb
Labels: none

Update note 20.18.0 to 20.19.0
  .tool-versions
  README.md
Labels: Documentation

Update module spec to test bitesize module tag logic
  spec/models/training/module_spec.rb
  spec/spec_helper.rb
Labels: none

Update yarn.lock
  yarn.lock
Labels: none

Update js-yaml to 4.3.2
  package.json
  yarn.lock
Labels: none

Update opentelemetry to 0.161.0
  Dockerfile
Labels: none

Refactor request_path method to simplify URL handling in SettingsController
  app/controllers/settings_controller.rb
  spec/requests/settings_spec.rb
Labels: none

Remove ignored otel collector warnings
  .trivyignore
Labels: none

update yarn.lock
  yarn.lock
Labels: none

Update yarn
  .dockerignore
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

Update dependencies (#1860)
  .dockerignore
  .tool-versions
  .trivyignore
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  Dockerfile
  README.md
  package.json
  yarn.lock
Labels: Documentation

Harden cookie settings redirect validation
  app/controllers/settings_controller.rb
  spec/requests/settings_spec.rb
Labels: none

Replace DfE header logos with smaller supplied images (#1859)
  app/assets/images/dfe-logo-3x.png
  app/assets/images/dfe-logo-alt.png
  app/assets/images/dfe-logo-sm.png
  app/components/header_component.html.slim
  public/static-images/dfe-logo-alt.png
Labels: frontend

Fix numbering for Recovery.md
  RECOVERY.md
Labels: none

Add Splunk OTLP exporter support and refactor OpenTelemetry configuration
  .env.example
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/tf-azure-deploy.yml
  Dockerfile
  adr/0025-application-insights/0025-2-opentelemetry_deployment_sidecar.md
  config/initializers/opentelemetry.rb
  docker-compose.yml
  lib/opentelemetry_configuration.rb
  otel-collector-azure-config.yml
  otel-collector-entrypoint.sh
  otel-collector-local-config.yml
  spec/lib/open_telemetry_configuration_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

Refactor request_path method to simplify URL handling in SettingsController
  app/controllers/settings_controller.rb
  spec/requests/settings_spec.rb
Labels: none

wip
  spec/lib/open_telemetry_configuration_spec.rb
Labels: none

Update Splunk OTLP headers in tests to use a test token
  spec/lib/open_telemetry_configuration_spec.rb
Labels: none

Harden cookie settings redirect validation (#1861)
  app/controllers/settings_controller.rb
  spec/requests/settings_spec.rb
Labels: none

Add Splunk OTLP exporter support and refactor OpenTelemetry configuration (#1830)
  .env.example
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/tf-azure-deploy.yml
  Dockerfile
  adr/0025-application-insights/0025-2-opentelemetry_deployment_sidecar.md
  config/initializers/opentelemetry.rb
  docker-compose.yml
  lib/opentelemetry_configuration.rb
  otel-collector-azure-config.yml
  otel-collector-entrypoint.sh
  otel-collector-local-config.yml
  spec/lib/open_telemetry_configuration_spec.rb
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

Refactor content integrity validations for improved clarity and structure
  app/services/content_integrity.rb
  spec/services/content_integrity_spec.rb
Labels: none

EYCDTK-1664 Update specs related to bitesize module (#1857)
  spec/models/training/module_spec.rb
  spec/spec_helper.rb
Labels: none

Update comment around spec coverage for service
  spec/spec_helper.rb
Labels: none

Fix numbering for Recovery.md (#1867)
  RECOVERY.md
  spec/spec_helper.rb
Labels: none

Decouple module release emails from module ordering
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/data_analysis/user_overview.rb
  app/models/job.rb
  app/models/mail_event.rb
  app/models/module_release.rb
  app/models/training/content.rb
  app/models/training/module.rb
  app/models/user.rb
  db/migrate/20260921153311_add_release_email_tracking_to_module_releases.rb
  db/schema.rb
  lib/tasks/cms.rake
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/job_spec.rb
  spec/models/mail_event_spec.rb
  spec/models/user_spec.rb
  spec/support/shared/email_prompt.rb
  spec/support/shared/updated_content.rb
  spec/support/shared/with_module_releases.rb
Labels: none

Add Key Vault monitoring and alerting resources with RBAC configuration
  terraform-azure/main.tf
  terraform-azure/terraform-azure-network/cert.tf
  terraform-azure/terraform-azure-network/monitor.tf
  terraform-azure/terraform-azure-network/variables.tf
Labels: terraform

add rake
  lib/tasks/cms.rake
Labels: none

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
