Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, documentation, terraform, frontend, deployed

Add link to Confluence
  README.md
Labels: documentation

Improve user-friendliness of docker scripts
  README.md
  bin/docker-down
  bin/docker-prune
  bin/docker-prune-images
Labels: documentation

Add bootstrapping docs for running the QA scripts
  README.md
  bin/docker-certs
Labels: documentation

Add filepath and urls as comments for designers
  config/locales/modules/one.yml
Labels: none

Render debugging info to support designers using docker locally
  app/views/content_pages/_debug.html.slim
  app/views/content_pages/module_intro.html.slim
  app/views/content_pages/sub_module_intro.html.slim
  app/views/content_pages/text_page.html.slim
  app/views/content_pages/youtube_page.html.slim
  app/views/questionnaires/_debug.html.slim
  app/views/questionnaires/show.html.slim
  app/views/training_modules/index.html.slim
  config/locales/modules/one.yml
Labels: none

Add YAML file README
  data/yaml_file_readme.md
Labels: none

Add YAML file README (#99)
  data/yaml_file_readme.md
Labels: none

WCAG2AA.Principle3.Guideline3_1.3_1_1.H57.2
  app/views/layouts/application.html.slim
Labels: none

fix: upgrade esbuild from 0.14.29 to 0.14.34
  package.json
  yarn.lock
Labels: none

fix: upgrade sass from 1.49.9 to 1.50.0
  package.json
  yarn.lock
Labels: none

Delete package-lock.json
  package-lock.json
Labels: none

Delete package-lock.json (#103)
  package-lock.json
Labels: none

add route for cookie settings
  config/routes.rb
Labels: none

WIP: add controller and view
  app/controllers/settings_controller.rb
  app/views/settings/cookie_policy.html.slim
Labels: none

Relocate headings and page content to the locales
  app/assets/stylesheets/application.scss
  app/javascript/application.js
  app/models/concerns/.keep
  app/models/concerns/translate_from_locale.rb
  app/models/content_page.rb
  app/models/questionnaire.rb
  app/views/formative_assessments/_assessment_banner.html.slim
  app/views/formative_assessments/show.html.slim
  app/views/questionnaires/show.html.slim
  config/locales/modules/one.yml
  config/locales/modules/test.yml
  data/questionnaires/one.yml
  data/questionnaires/test.yml
  spec/factories/users.rb
  spec/models/questionnaire_data_spec.rb
  spec/system/forgotten_password_flash_spec.rb
  spec/system/render_govspeak_spec.rb
Labels: frontend

WIP example of copying component styling
  .gitignore
  app/assets/stylesheets/application.scss
  app/javascript/application.js
  package.json
Labels: frontend

Revert "WIP example of copying component styling"
  .gitignore
  app/assets/stylesheets/application.scss
  app/javascript/application.js
  package.json
Labels: frontend

Abandon attempt to include govuk_component_publishing assets
  app/assets/stylesheets/application.scss
  app/javascript/application.js
Labels: frontend

WCAG2AA.Principle3.Guideline3_1.3_1_1.H57.2 (#102)
  app/views/layouts/application.html.slim
Labels: none

Relocate headings and page content to the locales (#105)
  app/assets/stylesheets/application.scss
  app/javascript/application.js
  app/models/concerns/.keep
  app/models/concerns/translate_from_locale.rb
  app/models/content_page.rb
  app/models/questionnaire.rb
  app/views/formative_assessments/_assessment_banner.html.slim
  app/views/formative_assessments/show.html.slim
  app/views/questionnaires/show.html.slim
  config/locales/modules/one.yml
  config/locales/modules/test.yml
  data/questionnaires/one.yml
  data/questionnaires/test.yml
  spec/factories/users.rb
  spec/models/questionnaire_data_spec.rb
  spec/system/forgotten_password_flash_spec.rb
  spec/system/render_govspeak_spec.rb
Labels: frontend

Revert to @use
  app/assets/stylesheets/application.scss
Labels: frontend

Disable timestamps for ahoy only add visits/events associations to user
  .rubocop.yml
Labels: none

Add ahoy gem for tracking users
  .rubocop.yml
Labels: none

Add brain development in early years module
  config/locales/modules/brain-development-in-early-years/brain-development-in-early-years.yml
  data/modules/brain-development-in-the-early-years.yml
  data/questionnaires/brain-development-in-the-early-years.yml
  data/training-modules.yml
  spec/system/brain_development_course_journey_spec.rb
Labels: none

Add more course text and improve style
  .gitignore
  app/assets/stylesheets/application.scss
  app/helpers/application_helper.rb
  app/models/question.rb
  app/models/questionnaire.rb
  app/views/content_pages/module_intro.html.slim
  app/views/content_pages/sub_module_intro.html.slim
  app/views/content_pages/text_page.html.slim
  app/views/content_pages/youtube_page.html.slim
  app/views/formative_assessments/_assessment_banner.html.slim
  app/views/formative_assessments/show.html.slim
  app/views/layouts/application.html.slim
  app/views/questionnaires/show.html.slim
  app/views/shared/_content_wrap.slim
  app/views/shared/_course_pages_footer.slim
  app/views/shared/_question_check_boxes.html.slim
  app/views/shared/_question_radio_buttons.html.slim
  config/locales/modules/brain-development-in-early-years/brain-development-in-early-years.yml
  data/modules/brain-development-in-the-early-years.yml
  data/questionnaires/brain-development-in-the-early-years.yml
  spec/models/question_spec.rb
  spec/spec_helper.rb
  spec/system/brain_development_course_journey_spec.rb
Labels: frontend

Start tracking events
  app/controllers/content_pages_controller.rb
  app/helpers/application_helper.rb
  app/models/training_module.rb
  app/views/ahoy/events/_event.html.slim
  app/views/ahoy/visits/_visit.html.slim
  app/views/user/show.html.slim
Labels: none

Rubocop updates
  app/models/question.rb
  app/models/questionnaire.rb
  spec/models/question_spec.rb
  spec/system/brain_development_course_journey_spec.rb
Labels: none

ER 162 Add system test for skeleton course (#104)
  .gitignore
  app/assets/stylesheets/application.scss
  app/controllers/content_pages_controller.rb
  app/helpers/application_helper.rb
  app/models/question.rb
  app/models/questionnaire.rb
  app/models/training_module.rb
  app/views/ahoy/events/_event.html.slim
  app/views/ahoy/visits/_visit.html.slim
  app/views/content_pages/module_intro.html.slim
  app/views/content_pages/sub_module_intro.html.slim
  app/views/content_pages/text_page.html.slim
  app/views/content_pages/youtube_page.html.slim
  app/views/formative_assessments/_assessment_banner.html.slim
  app/views/formative_assessments/show.html.slim
  app/views/layouts/application.html.slim
  app/views/questionnaires/show.html.slim
  app/views/shared/_content_wrap.slim
  app/views/shared/_course_pages_footer.slim
  app/views/shared/_question_check_boxes.html.slim
  app/views/shared/_question_radio_buttons.html.slim
  app/views/user/show.html.slim
  config/locales/modules/brain-development-in-early-years/brain-development-in-early-years.yml
  data/modules/brain-development-in-the-early-years.yml
  data/questionnaires/brain-development-in-the-early-years.yml
  data/training-modules.yml
  spec/models/question_spec.rb
  spec/spec_helper.rb
  spec/system/brain_development_course_journey_spec.rb
Labels: frontend

Add prerequisite call to yarn to populate the install-state.gz file
  docker-entrypoint.sh
Labels: none

Change link to new prototype repo within DfE
  README.md
Labels: documentation

Render debug metadata in dev for designers (#98)
  app/views/content_pages/_debug.html.slim
  app/views/content_pages/module_intro.html.slim
  app/views/content_pages/sub_module_intro.html.slim
  app/views/content_pages/text_page.html.slim
  app/views/content_pages/youtube_page.html.slim
  app/views/questionnaires/_debug.html.slim
  app/views/questionnaires/show.html.slim
  app/views/training_modules/index.html.slim
  config/locales/modules/one.yml
  docker-entrypoint.sh
Labels: none

.github/labeler.yml:

---
ADR:
- adr/*.md

documentation:
- README.md

terraform:
- terraform/**/*

frontend:
- app/assets/images/*
- app/assets/stylesheets/*
- app/javascript/*.js

deployed:
- ui/**/*
