Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Adds CSRF ADR
  adr/0026-cookie-same-site-policy.md
  adr/ADR.md
Labels: ADR

DTK-1276 - Add GOV.UK One Login simulator to docker-compose (#1751)
  .env.example
  .trivyignore
  Dockerfile
  Gemfile.lock
  Procfile.dev
  README.md
  adr/0026-cookie-same-site-policy.md
  adr/ADR.md
  app/controllers/users/omniauth_callbacks_controller.rb
  app/services/gov_one_auth_service.rb
  bin/docker-dev
  bin/podman-dev
  config/application.rb
  config/environments/production.rb
  config/initializers/devise.rb
  docker-compose.dev.yml
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
  spec/requests/users/openid_connect_callback_spec.rb
  spec/services/gov_one_auth_service_spec.rb
Labels: ADR, Documentation

DTK-1351 - Change the text type on the 'Do you want to get email updates' page in the registration journey
  app/forms/form_builder.rb
  app/views/registration/training_emails/edit.html.slim
Labels: frontend

DTK-997 - Autofill font
  app/assets/stylesheets/autocomplete.scss
Labels: frontend

DRK-1357-text-type-change
  app/forms/form_builder.rb
  app/views/registration/setting_types/edit.html.slim
  config/locales/en.yml
  spec/forms/form_builder_spec.rb
  spec/lib/seed_snippets_spec.rb
Labels: frontend

DTK-1359 - remove link
  app/forms/form_builder.rb
  app/views/registration/local_authorities/edit.html.slim
  config/locales/en.yml
  spec/system/registration_spec.rb
Labels: frontend

Update completed link logic (#1755)
  app/decorators/module_overview_decorator.rb
  spec/services/module_progress_spec.rb
  spec/system/module_overview_progress_spec.rb
Labels: none

Refactor 'where you live' functionality to use country attribute and update related views and routes
  app/controllers/registration/names_controller.rb
  app/controllers/registration/where_you_live_controller.rb
  app/forms/form_builder.rb
  app/forms/registration/where_you_live_form.rb
  app/views/registration/where_you_live/edit.html.slim
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260529104000_add_country_to_users.rb
  db/schema.rb
  db/seeds/users.yml
  spec/controllers/registration/names_controller_spec.rb
  spec/controllers/registration/where_you_live_controller_spec.rb
  spec/forms/registration/where_you_live_form_spec.rb
  spec/requests/registration/where_you_live_spec.rb
Labels: frontend

Enhance 'where you live' functionality to include country selection logic and update related redirects and tests
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/forms/form_builder.rb
  spec/requests/registration/names_spec.rb
  spec/requests/registration/setting_types_spec.rb
  spec/system/registration_spec.rb
Labels: none

Additional updates
  config/locales/en.yml
  data/location.yml
Labels: content

Initial steps to create where do you live page
  app/controllers/registration/base_controller.rb
  app/controllers/registration/where_you_live_controller.rb
  app/forms/form_builder.rb
  app/forms/registration/where_you_live_form.rb
  app/models/trainee/location.rb
  app/views/registration/where_do_you_live/edit.html.slim
  config/locales/en.yml
  config/routes.rb
  data/location.yml
  db/seeds/users.yml
  spec/controllers/registration/where_you_live_controller_spec.rb
  spec/forms/registration/where_you_live_form_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/registration/where_you_live_spec.rb
Labels: frontend, content

Fix translation count in SeedSnippets spec to reflect accurate total
  spec/lib/seed_snippets_spec.rb
Labels: none

wip
  spec/controllers/registration/where_you_live_controller_spec.rb
Labels: none

Additional updates
  config/locales/en.yml
  data/location.yml
Labels: content

Initial steps to create where do you live page
  app/controllers/registration/base_controller.rb
  app/controllers/registration/where_you_live_controller.rb
  app/forms/form_builder.rb
  app/forms/registration/where_you_live_form.rb
  app/models/trainee/location.rb
  app/views/registration/where_do_you_live/edit.html.slim
  config/locales/en.yml
  config/routes.rb
  data/location.yml
  db/seeds/users.yml
  spec/controllers/registration/where_you_live_controller_spec.rb
  spec/forms/registration/where_you_live_form_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/registration/where_you_live_spec.rb
Labels: frontend, content

Update font family for autocomplete
  app/assets/stylesheets/autocomplete.scss
Labels: frontend

Refactor 'where you live' functionality to use country attribute and update related views and routes
  .rubocop.yml
  app/controllers/registration/names_controller.rb
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/where_you_live_controller.rb
  app/forms/form_builder.rb
  app/forms/registration/where_you_live_form.rb
  app/models/user.rb
  app/views/registration/where_you_live/edit.html.slim
  app/views/user/show.html.slim
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260529104000_add_country_to_users.rb
  db/schema.rb
  db/seeds/users.yml
  spec/controllers/registration/names_controller_spec.rb
  spec/controllers/registration/setting_type_others_controller_spec.rb
  spec/controllers/registration/where_you_live_controller_spec.rb
  spec/forms/registration/where_you_live_form_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/registration/names_spec.rb
  spec/requests/registration/setting_type_others_spec.rb
  spec/requests/registration/setting_types_spec.rb
  spec/requests/registration/where_you_live_spec.rb
  spec/system/account_page_spec.rb
  spec/system/registration_spec.rb
Labels: frontend

DRK-1357-text-type-change (#1762)
  app/forms/form_builder.rb
  app/views/registration/setting_types/edit.html.slim
  config/locales/en.yml
  spec/forms/form_builder_spec.rb
  spec/lib/seed_snippets_spec.rb
Labels: frontend

Update start training reminder timing to one week and adjust recipient logic
  adr/0027-start-training-reminder-timing.md
  adr/ADR.md
  app/models/job.rb
  app/models/user.rb
  db/schema.rb
  docs/confluence/EYCDTK-1402-start-training-reminder-update.md
  spec/jobs/start_training_mail_job_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/job_spec.rb
  spec/models/user_spec.rb
Labels: ADR

Update recipient selection logic for start training reminder to improve early engagement
  adr/0027-start-training-reminder-timing.md
  docs/confluence/EYCDTK-1402-start-training-reminder-update.md
Labels: ADR

wip
  spec/lib/seed_snippets_spec.rb
Labels: none

DTK-1351 - Change the text type on the 'Do you want to get email updates' page in the registration journey (#1763)
  app/forms/form_builder.rb
  app/views/registration/training_emails/edit.html.slim
Labels: frontend

Learning check banner POC
  app/assets/stylesheets/question.scss
  app/models/response.rb
  app/views/training/questions/_assessment_banner.html.slim
Labels: frontend

Eycdtk 1352 where do you live page (#1767)
  .rubocop.yml
  app/controllers/registration/base_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/where_you_live_controller.rb
  app/decorators/module_overview_decorator.rb
  app/forms/form_builder.rb
  app/forms/registration/where_you_live_form.rb
  app/models/trainee/location.rb
  app/models/user.rb
  app/views/registration/where_you_live/edit.html.slim
  app/views/user/show.html.slim
  config/locales/en.yml
  config/routes.rb
  data/location.yml
  db/migrate/20260529104000_add_country_to_users.rb
  db/schema.rb
  db/seeds/users.yml
  spec/controllers/registration/setting_type_others_controller_spec.rb
  spec/controllers/registration/where_you_live_controller_spec.rb
  spec/forms/registration/where_you_live_form_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/registration/names_spec.rb
  spec/requests/registration/setting_type_others_spec.rb
  spec/requests/registration/setting_types_spec.rb
  spec/requests/registration/where_you_live_spec.rb
  spec/services/module_progress_spec.rb
  spec/system/account_page_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/registration_spec.rb
Labels: frontend, content

Additional styling updates for learning check banner
  app/assets/stylesheets/question.scss
  app/views/training/questions/_assessment_banner.html.slim
Labels: frontend

Additional updates for where do you live page
  app/views/registration/where_you_live/edit.html.slim
  app/views/user/_debug.html.slim
Labels: frontend

DTK-1316 - improve training contact page
  app/controllers/registration/base_controller.rb
  app/controllers/registration/research_participants_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/forms/registration/research_participant_form.rb
  app/views/registration/research_participants/edit.html.slim
  config/locales/en.yml
  config/routes.rb
  spec/controllers/registration/research_participants_controller_spec.rb
  spec/forms/registration/research_participant_form_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/registration/research_participant_spec.rb
  spec/requests/registration/training_emails_spec.rb
  spec/system/registration_spec.rb
Labels: frontend

DTK-1359 - remove link
  app/forms/form_builder.rb
  app/views/registration/local_authorities/edit.html.slim
  config/locales/en.yml
  spec/system/registration_spec.rb
Labels: frontend

Additional updates for where do you live page (#1771)
  app/views/registration/where_you_live/edit.html.slim
  app/views/user/_debug.html.slim
Labels: frontend

Update terraform variable to default to false
  terraform-azure/variables.tf
Labels: terraform

DTK-1359 - remove link (#1765)
  app/forms/form_builder.rb
  app/views/registration/local_authorities/edit.html.slim
  config/locales/en.yml
  spec/system/registration_spec.rb
Labels: frontend

Link to feedback page
  app/models/user.rb
  app/views/user/show.html.slim
  spec/system/account_page_spec.rb
  spec/system/feedback_spec.rb
Labels: frontend

DTK-1361 - improve training contact page (#1772)
  app/controllers/registration/base_controller.rb
  app/controllers/registration/research_participants_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/forms/registration/research_participant_form.rb
  app/models/user.rb
  app/views/registration/research_participants/edit.html.slim
  app/views/user/show.html.slim
  config/locales/en.yml
  config/routes.rb
  spec/controllers/registration/research_participants_controller_spec.rb
  spec/forms/registration/research_participant_form_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/registration/research_participant_spec.rb
  spec/requests/registration/training_emails_spec.rb
  spec/system/account_page_spec.rb
  spec/system/feedback_spec.rb
  spec/system/registration_spec.rb
Labels: frontend

Update puma dependency
  Gemfile
  Gemfile.lock
Labels: none

Update OpenTelemetry Collector version to 0.153.0 in Dockerfile and docker-compose.yml
  Dockerfile
  docker-compose.yml
Labels: none

Update in trivyignore
  .trivyignore
Labels: none

Initial update for registration back link logic
  app/helpers/link_helper.rb
Labels: none

Update esbuild dependency
  package.json
  yarn.lock
Labels: none

Update WAF policy exclusions to use RequestArgValues
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform

DTK-1365 - check answer page + Initial update for registration back link logic + update link helper
  app/controllers/registration/base_controller.rb
  app/controllers/registration/check_your_answers_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/research_participants_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/setting_type_others_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/controllers/registration/where_you_live_controller.rb
  app/forms/registration/setting_type_other_form.rb
  app/helpers/link_helper.rb
  app/models/trainee/setting.rb
  app/views/registration/check_your_answers/edit.html.slim
  config/locales/en.yml
  config/routes.rb
  spec/controllers/registration/research_participants_controller_spec.rb
  spec/forms/registration/setting_type_form_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/registration/check_your_answers_spec.rb
  spec/requests/registration/registration_flow_spec.rb
  spec/requests/registration/research_participant_spec.rb
  spec/requests/registration/setting_types_spec.rb
  spec/system/registration_spec.rb
Labels: frontend
