Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml

Bump coverage threshold to 93%
  docker-compose.yml
  spec/spec_helper.rb
Labels: none

- change back link to use browser history - prevent duplicate course feedback milestone events
  app/controllers/feedback_controller.rb
  app/views/feedback/show.html.slim
  spec/system/course_feedback_spec.rb
Labels: frontend

Update to remove deprecated feature
  app/views/layouts/hero.html.slim
Labels: frontend

Fix JS functions merged from main
  app/javascript/application.js
Labels: frontend

- Fix JS functions - Prevent closed accounts from logging back in - All markdown in account flash messages
  app/controllers/registration/early_years_emails_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/javascript/application.js
  app/models/user.rb
Labels: frontend

Retain accessible form options where text can be clicked
  app/forms/form_builder.rb
Labels: none

- Bump coverage back above threshold - Remove old code and locale `notice.email_changed` - Fix docs
  app/controllers/close_accounts_controller.rb
  app/controllers/feedback_controller.rb
  app/controllers/user_controller.rb
  app/models/user.rb
  config/locales/en.yml
  data/KPI.md
  spec/forms/application_form_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/models/guest_spec.rb
Labels: Documentation

Update padding for main in application layout
  app/views/layouts/application.html.slim
Labels: frontend

Add spec for altering GovOne id when closing accounts
  spec/models/user_spec.rb
Labels: none

ER-1218 closing GovOne accounts (#1219)
  app/controllers/registration/early_years_emails_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/javascript/application.js
  app/models/user.rb
  spec/models/user_spec.rb
Labels: frontend

Page titles and sitemap
  app/views/feedback/index.html.slim
  app/views/feedback/show.html.slim
  app/views/feedback/thank_you.html.slim
  config/sitemap.rb
  spec/system/page_title_spec.rb
Labels: frontend

full width rule for feedback questions
  app/views/feedback/show.html.slim
Labels: frontend

ER-1187 Aria landmark update (#1215)
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

Fix previous button with skipped pages and guest users
  app/decorators/previous_page_decorator.rb
  app/models/concerns/pagination.rb
  app/views/feedback/show.html.slim
  spec/models/concerns/pagination_spec.rb
Labels: frontend

Update to ensure main in shown in correct place
  app/views/layouts/application.html.slim
Labels: frontend

ER- 1187 Update to ensure main is shown in correct place (#1220)
  app/views/layouts/application.html.slim
Labels: frontend

Export guest and registered user feedback responses
  app/models/data_analysis/guest_feedback_scores.rb
  app/models/data_analysis/user_feedback_scores.rb
  app/models/response.rb
  app/models/user.rb
  app/services/dashboard.rb
  spec/factories/users.rb
  spec/models/data_analysis/guest_feedback_scores_spec.rb
  spec/models/data_analysis/user_feedback_scores_spec.rb
Labels: none

Consistent spec order
  app/models/data_analysis/guest_feedback_scores.rb
  app/models/data_analysis/user_feedback_scores.rb
  spec/models/data_analysis/guest_feedback_scores_spec.rb
  spec/models/data_analysis/user_feedback_scores_spec.rb
Labels: none

Tidy and fix UR research preference check your answers
  app/models/user.rb
  spec/system/account_page_spec.rb
Labels: none

Delete mail events to purge PII in personalisation params
  app/models/user.rb
  spec/models/user_spec.rb
Labels: none

Delete unnecessary spec
  spec/system/registered_user/closing_account_spec.rb
Labels: none

lint
  spec/models/user_spec.rb
Labels: none

Add developer notes regarding Notify mailer
  app/mailers/notify_mailer.rb
  config/application.rb
Labels: none

Refactor and simplify research_participant? Ensure assessment data exports without errors by adding scope Replace submission buttons for altering research participation preference
  app/models/data_analysis/modules_per_month.rb
  app/models/user.rb
  app/views/feedback/show.html.slim
  spec/models/data_analysis/modules_per_month_spec.rb
  spec/system/account_page_spec.rb
Labels: frontend

Update header component to match the prototype
  app/components/header_component.html.slim
Labels: none

ER-1226 Delete mail events to purge PII in personalisation params (#1221)
  app/models/user.rb
  spec/models/user_spec.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: none

Tweak UR redirects
  app/controllers/feedback_controller.rb
  app/models/guest.rb
  app/models/user.rb
  app/services/module_progress.rb
  app/views/feedback/show.html.slim
  data/KPI.md
  lib/tasks/eyfs.rake
  spec/controllers/feedback_controller_spec.rb
Labels: Documentation, frontend

Update main content to ensure skip link works as expected
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

Port skippable answer to the main form for editing
  app/controllers/feedback_controller.rb
  app/models/guest.rb
  app/models/user.rb
  app/views/feedback/_text_area.html.slim
  spec/controllers/feedback_controller_spec.rb
Labels: frontend

Run as an auto-resuming background job
  app/jobs/data_migration_job.rb
  config/initializers/que.rb
  db/migrate/20240616092250_add_state_to_user_answer.rb
  db/schema.rb
  lib/migrate_training.rb
  lib/tasks/eyfs.rake
  spec/lib/migrate_training_spec.rb
Labels: none

Update to make it clear where main-content is used
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend

Update chrome-path variable for Pa11y workflow
  .github/workflows/pa11y.yml
Labels: pipeline

Update to ensure govuk_skip_link links to main content (#1223)
  .github/workflows/pa11y.yml
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend, pipeline

*typo
  app/views/feedback/_text_area.html.slim
Labels: frontend

Run as an auto-resuming background job (#1230)
  app/jobs/data_migration_job.rb
  config/initializers/que.rb
  db/migrate/20240616092250_add_state_to_user_answer.rb
  db/schema.rb
  lib/migrate_training.rb
  lib/tasks/eyfs.rake
  spec/lib/migrate_training_spec.rb
Labels: none

Add timestamps to exported data
  app/controllers/feedback_controller.rb
  app/models/data_analysis/guest_feedback_scores.rb
  app/models/data_analysis/user_feedback_scores.rb
  spec/controllers/feedback_controller_spec.rb
  spec/models/data_analysis/guest_feedback_scores_spec.rb
  spec/models/data_analysis/user_feedback_scores_spec.rb
Labels: none

Update class to match prototype
  app/components/header_component.html.slim
Labels: none

Add mail success/failure running total and redact notify callback on user
  app/models/data_analysis/user_overview.rb
  app/models/user.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_spec.rb
  spec/requests/webhooks_spec.rb
Labels: none

Remove border radius for menu button to match prototype
  app/assets/stylesheets/header.scss
Labels: frontend

Add mail success/failure running total and redact notify callback on user (#1231)
  app/models/data_analysis/user_overview.rb
  app/models/user.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_spec.rb
  spec/requests/webhooks_spec.rb
Labels: none
