Repository DFE-Digital/early-years-foundation-recovery, changes with the labels that .github/labeler.yml gives for each.
All labels: ADR, Documentation, terraform, frontend, content, pipeline

wip
  app/services/dashboard.rb
Labels: none

Eycdtk1237/exports failed to run (#1717)
  app/models/concerns/to_csv.rb
  app/models/user.rb
  app/services/dashboard.rb
Labels: none

Refactor to_csv method to improve logging clarity and variable naming
  app/models/concerns/to_csv.rb
Labels: none

Upgrade Ruby to 3.4.9
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  .trivyignore
  Dockerfile
  Gemfile
  Gemfile.lock
  uml/application.puml
Labels: pipeline

Ensure Que logger is set to Rails logger
  config/initializers/que.rb
Labels: none

Fix batch logging in to_csv method to report correct batch number
  app/models/concerns/to_csv.rb
Labels: none

Refactor dashboard method to use pre-fetched user IDs for completed percentage calculation
  app/models/data_analysis/user_module_completion.rb
Labels: none

Enhance dashboard scope to eagerly load additional associations for improved export performance
  app/models/user.rb
Labels: none

EYCDTK-1237/Exports-more-changes (#1718)
  app/models/concerns/to_csv.rb
  app/models/data_analysis/user_module_completion.rb
  app/models/user.rb
  config/initializers/que.rb
Labels: none

Update devise dependency
  Gemfile.lock
Labels: none

Revert "EYCDTK-1237/Exports-more-changes (#1718)"
  app/models/concerns/to_csv.rb
  app/models/data_analysis/user_module_completion.rb
  app/models/user.rb
  config/initializers/que.rb
Labels: none

Revert "EYCDTK-1237/Exports-more-changes (#1718)" (#1720)
  app/models/concerns/to_csv.rb
  app/models/data_analysis/user_module_completion.rb
  app/models/user.rb
  config/initializers/que.rb
Labels: none

Update trivyignore
  .trivyignore
Labels: none

Update json dependency
  Gemfile.lock
Labels: none

Update flatted and bcrypt dependencies
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

Update rails dependency
  Gemfile.lock
Labels: none

DTK-1232 - Turn the email notifications back on
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform

DTK-1232 - Turn the email notifications back on (#1711)
  terraform-azure/local.tf
  terraform-azure/variables.tf
Labels: terraform

fix - module notifications (#1693)
  app/models/user.rb
  spec/jobs/continue_training_mail_job_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
Labels: none

Adds env vars to the worker
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

Restrict access to 'users/review' route to development environments
  config/routes.rb
Labels: none

Restrict access to 'users/review' route to development environments (#1725)
  config/routes.rb
Labels: none

Adds env vars to the worker (#1727)
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

wip
  README.md
  app/services/mock_contentful_service.rb
  spec/config_spec.rb
  spec/helpers/content_helper_spec.rb
  spec/models/trainee/setting_spec.rb
Labels: Documentation

Fixes scope for emails
  app/models/user.rb
  spec/jobs/continue_training_mail_job_spec.rb
Labels: none

Fixes scope for emails (#1728)
  app/models/user.rb
  spec/jobs/continue_training_mail_job_spec.rb
Labels: none

Update assessment logic
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/services/assessment_progress.rb
  app/views/training/questions/show.html.slim
Labels: frontend

CDT-1245 - immutable scope
  config/initializers/i18n.rb
Labels: none

CDT-1245 - immutable scope (#1724)
  config/initializers/i18n.rb
Labels: none

DTK-1214 - Module starts export
  app/models/data_analysis/daily_module_starts.rb
  app/services/dashboard.rb
  spec/models/data_analysis/daily_module_starts_spec.rb
Labels: none

DTK-1214 - Module starts export (#1701)
  app/models/data_analysis/daily_module_starts.rb
  app/services/dashboard.rb
  spec/models/data_analysis/daily_module_starts_spec.rb
Labels: none

Increase timeout settings for Contentful API connections
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/models/page/resource.rb
  app/views/training/questions/show.html.slim
  config/initializers/contentful_rails.rb
Labels: frontend

Update Rails version to 8.1.3 and adjust Gemfile.lock accordingly
  Gemfile
  Gemfile.lock
  db/schema.rb
Labels: none

DTK-1189 - Adds utm links
  app/mailers/notify_mailer.rb
  config/application.rb
  config/utm.yml
Labels: none

DTK-1189 - Adds utm links (#1684)
  app/mailers/notify_mailer.rb
  config/application.rb
  config/utm.yml
Labels: none

wip
  spec/decorators/feedback_pagination_decorator_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/decorators/pagination_decorator_spec.rb
  spec/decorators/previous_page_decorator_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/models/page/resource_spec.rb
  spec/models/page_spec.rb
  spec/models/training/page_spec.rb
  spec/models/training/question_spec.rb
  spec/rails_helper.rb
  spec/services/assessment_progress_spec.rb
  spec/services/calculate_module_state_spec.rb
  spec/services/content_changes_spec.rb
  spec/services/course_progress_spec.rb
  spec/services/module_progress_spec.rb
  spec/spec_helper.rb
  spec/support/mock_contentful_service.rb
Labels: none

wip
  app/services/mock_contentful_service.rb
  spec/rails_helper.rb
  spec/support/mock_contentful_service.rb
  spec/support/rails_model_stubs.rb
Labels: none

wip
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/production.rb
  config/initializers/00_trainee_stub.rb
  config/initializers/ahoy.rb
  config/initializers/content_security_policy.rb
  config/initializers/contentful_model_stub.rb
  config/initializers/contentful_rails.rb
  config/initializers/devise.rb
  config/initializers/exception_logging_middleware.rb
  config/initializers/faker.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/govuk_formbuilder.rb
  config/initializers/govuk_notify_rails.rb
  config/initializers/grover.rb
  config/initializers/i18n.rb
  config/initializers/inflections.rb
  config/initializers/opentelemetry.rb
  config/initializers/permissions_policy.rb
  config/initializers/que.rb
  config/initializers/sentry.rb
  spec/rails_helper.rb
  spec/requests/authentication_spec.rb
  spec/requests/my_learning_spec.rb
  spec/requests/notes_spec.rb
  spec/requests/registration/early_years_experience_spec.rb
  spec/requests/registration/local_authorities_spec.rb
  spec/requests/registration/names_spec.rb
  spec/requests/registration/role_type_others_spec.rb
  spec/requests/registration/role_types_spec.rb
  spec/requests/registration/setting_type_others_spec.rb
  spec/requests/registration/setting_types_spec.rb
  spec/requests/registration/terms_and_conditions_spec.rb
  spec/requests/registration/training_emails_spec.rb
  spec/requests/training_content_spec.rb
  spec/requests/user_spec.rb
  spec/spec_helper.rb
  spec/support/mock_contentful_service.rb
  spec/support/rails_model_stubs.rb
Labels: none

wip
  config/initializers/content_security_policy.rb
  config/initializers/faker.rb
Labels: none

Update assessment logic (#1729)
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/services/assessment_progress.rb
  app/views/training/questions/show.html.slim
Labels: frontend

.github/labeler.yml:

---
ADR:
  - changed-files:
    - any-glob-to-any-file: adr/*.md

Documentation:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - data/*.md
      - cms/*.md

terraform:
  - changed-files:
    - any-glob-to-any-file: terraform-azure/**/*

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/views/**/*.html.slim
      - app/assets/images/*
      - app/assets/stylesheets/**/*
      - app/javascript/**/*

content:
  - changed-files:
    - any-glob-to-any-file:
      - config/locales/modules/**/*.yml
      - config/locales/static/*.yml
      - data/**/*.yml
      - cms/migrate/*.js

pipeline:
  - changed-files:
    - any-glob-to-any-file: .github/**/*.yml
