Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-09, with the labels that each got.

#265 add my learning links and buttons
  app/views/training_modules/certificate.html.slim
Labels: deployed

#248 Er 355 end of module and confidence check start pages
  app/models/content_page.rb
  app/models/module_item.rb
  app/models/questionnaire.rb
  app/views/learning/_card.html.slim
  app/views/questionnaires/_questionnaire_debug.html.slim
  config/locales/en.yml
  config/locales/modules/alpha.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/modules/alpha.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/personal-social-and-emotional-development.yml
  db/schema.rb
  spec/models/content_page_spec.rb
  spec/models/questionnaire_spec.rb
  spec/system/confidence_check_spec.rb
  spec/system/ending_intro_spec.rb
  spec/system/summative_questionnaire_spec.rb
Labels: deployed, content

#275 Er 355 end of module and confidence check start pages
  app/models/content_page.rb
  app/models/module_item.rb
  app/models/questionnaire.rb
  app/views/learning/_card.html.slim
  app/views/questionnaires/_questionnaire_debug.html.slim
  config/locales/en.yml
  config/locales/modules/alpha.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/modules/alpha.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/personal-social-and-emotional-development.yml
  spec/models/content_page_spec.rb
  spec/models/questionnaire_spec.rb
  spec/system/confidence_check_spec.rb
  spec/system/ending_intro_spec.rb
  spec/system/summative_questionnaire_spec.rb
Labels: content

#280 ER-378 resend confirmation content update
  config/locales/devise.en.yml
  config/locales/en.yml
Labels: deployed

#279 ER-403 govspeak prompts with icons
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/card.scss
  app/assets/stylesheets/icons.scss
  app/assets/stylesheets/interruption.scss
  app/assets/stylesheets/print-link.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/question.scss
  app/assets/stylesheets/quote.scss
  app/decorators/govspeak_decorator.rb
  app/decorators/module_overview_decorator.rb
  app/helpers/content_helper.rb
  app/javascript/application.js
  app/models/content_page.rb
  app/models/module_item.rb
  app/models/training_module.rb
  app/services/module_progress.rb
  app/views/content_pages/expectation_page.html.slim
  app/views/content_pages/interruption_page.html.slim
  app/views/govspeak/_prompt.html.slim
  app/views/govspeak/_youtube.html.slim
  config/initializers/govspeak.rb
  config/locales/en.yml
  config/locales/modules/alpha.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/bravo.yml
  config/locales/modules/charlie.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/formative-questionnaires/alpha.yml
  data/modules/alpha.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/bravo.yml
  data/modules/charlie.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/personal-social-and-emotional-development.yml
  package.json
  spec/decorators/module_overview_decorator_spec.rb
  spec/helpers/content_helper_spec.rb
  spec/models/govspeak_decorator_spec.rb
  spec/models/training_module_spec.rb
  spec/services/module_progress_spec.rb
  spec/spec_helper.rb
  spec/support/devise.rb
  spec/support/matchers/have_page_title_matcher.rb
  spec/support/shared/govspeak_page.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/page_title_spec.rb
  spec/system/render_govspeak_spec.rb
  yarn.lock
Labels: frontend, deployed, content

#284 ER419 - Fix error pages
  app/controllers/errors_controller.rb
  app/views/errors/not_found.html.slim
  config/application.rb
  config/routes.rb
  spec/requests/static_spec.rb
Labels: deployed

#278 Er 352 video transcript spike
  app/assets/stylesheets/application.scss
  app/models/module_item.rb
  app/models/training_module.rb
  app/models/video_page.rb
  app/models/youtube_page.rb
  app/views/content_pages/_content_wrap_full_width.html.slim
  app/views/content_pages/_embedded_video.html.slim
  app/views/content_pages/video_page.html.slim
  app/views/content_pages/youtube_page.html.slim
  app/views/govspeak/_embedded_video.html.slim
  app/views/govspeak/_youtube.html.slim
  config/initializers/content_security_policy.rb
  config/initializers/govspeak.rb
  config/locales/modules/alpha.yml
  config/locales/modules/bravo.yml
  config/locales/modules/charlie.yml
  data/modules/alpha.yml
  data/modules/bravo.yml
  data/modules/charlie.yml
  data/video-transcripts/743243040.yml
  data/video-transcripts/XnP6jaK7ZAY.yml
  spec/models/module_item_spec.rb
  spec/models/video_page_spec.rb
  spec/models/youtube_page_spec.rb
  spec/system/video_page_spec.rb
Labels: frontend, deployed, content

#283 ER-345 KPI Tracking and module completion state
  app/controllers/application_controller.rb
  app/controllers/assessment_results_controller.rb
  app/controllers/content_pages_controller.rb
  app/controllers/questionnaires_controller.rb
  app/helpers/application_helper.rb
  app/helpers/content_helper.rb
  app/helpers/link_helper.rb
  app/models/questionnaire.rb
  app/models/training_module.rb
  app/services/backfill_module_state.rb
  app/services/calculate_module_state.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  app/views/training_modules/_debug.html.slim
  config/locales/modules/bravo.yml
  data/formative-questionnaires/bravo.yml
  data/modules/bravo.yml
  data/summative-questionnaires/bravo.yml
  db/migrate/20220920144050_add_module_time_to_completion_to_users.rb
  db/schema.rb
  lib/tasks/module_completion_existing.rake
  spec/data_sanity_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/lib/backfill_module_state_spec.rb
  spec/requests/content_pages_spec.rb
  spec/services/calculate_module_state_spec.rb
  spec/support/shared/with_events.rb
  spec/support/shared/with_progress.rb
  spec/system/course_progress_spec.rb
  spec/system/event_log_spec.rb
Labels: deployed, content

#292 ER-426 new and updated content effect on existing user progress
  app/services/module_progress.rb
  lib/fill_page_views.rb
  lib/tasks/.keep
  lib/tasks/interim_data.rake
  lib/tasks/post.rake
  spec/lib/fill_page_views_spec.rb
  terraform/workspace-variables/development.tfvars
  terraform/workspace-variables/staging.tfvars
Labels: terraform, deployed

#281 Learning Log V2
  app/assets/stylesheets/application.scss
  app/controllers/content_pages_controller.rb
  app/controllers/extra_registrations_controller.rb
  app/controllers/notes_controller.rb
  app/controllers/questionnaires_controller.rb
  app/controllers/users/sessions_controller.rb
  app/helpers/application_helper.rb
  app/helpers/content_helper.rb
  app/models/content_page.rb
  app/models/module_item.rb
  app/models/note.rb
  app/models/training_module.rb
  app/models/user.rb
  app/views/assessment_results/show.html.slim
  app/views/content_pages/_content_wrap.html.slim
  app/views/content_pages/certificate.html.slim
  app/views/content_pages/text_page.html.slim
  app/views/learning/show.html.slim
  app/views/notes/_form.html.slim
  app/views/notes/_note.html.slim
  app/views/notes/show.html.slim
  app/views/training_modules/show.html.slim
  config/application.rb
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/locales/en.yml
  config/locales/modules/alpha.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/routes.rb
  data/kpi_readme.md
  data/yaml_file_readme.md
  db/migrate/20220915103211_create_notes.rb
  db/schema.rb
  spec/controllers/notes_controller_spec.rb
  spec/factories/notes.rb
  spec/models/note_spec.rb
  spec/requests/authentication_spec.rb
  spec/requests/extra_registrations_spec.rb
  spec/requests/my_learning_spec.rb
  spec/requests/notes_spec.rb
  spec/support/shared/with_progress.rb
  spec/system/learning_log_spec.rb
  spec/system/module_progress_spec.rb
  spec/system/my_learning_spec.rb
  spec/system/page_title_spec.rb
  spec/system/registered_user/signin_spec.rb
Labels: frontend, deployed, content

#286 Er 391 check box for t+cs in registration journey
  app/controllers/application_controller.rb
  app/models/user.rb
  app/views/devise/registrations/new.html.slim
  config/locales/en.yml
  db/migrate/20220921145201_add_terms_and_conditions_agreed_at_to_users.rb
  db/schema.rb
  db/seeds/users.yml
  lib/tasks/backfill_terms_and_conditions.rake
  spec/factories/users.rb
  spec/system/sign_up_spec.rb
Labels: deployed

#296 Revert to using a manual task run on deployment
  lib/fill_page_views.rb
  lib/tasks/post.rake
  spec/lib/fill_page_views_spec.rb
  terraform/workspace-variables/development.tfvars
  terraform/workspace-variables/staging.tfvars
Labels: terraform

#287 Helen module3 prompts
  app/assets/images/3-1-2-1a-678867216.jpg
  app/assets/images/3-1-2-1c-1401886549.jpg
  app/assets/images/3-1-2-1d-1216562052.jpg
  app/assets/images/3-1-2-1d-961758544.jpg
  app/assets/images/3-1-2-1e-1354217928.jpg
  app/assets/images/3-1-2-1f-953970566.jpg
  app/assets/images/3-1-2-1g-1369773759.jpg
  config/locales/modules/personal-social-and-emotional-development.yml
  data/modules/personal-social-and-emotional-development.yml
Labels: frontend, content

#231 Module 4 setup
  app/assets/images/4-1-1-1a-1221602959.jpg
  app/assets/images/4-1-1-1b-1136214636.jpg
  app/assets/images/4-1-1-1b-1185932595.jpg
  app/assets/images/4-1-1-1b-508407810.jpg
  app/assets/images/4-1-1-1b-969970446.jpg
  app/assets/images/4-1-1-2a-605745618.jpg
  app/assets/images/4-1-1-3-687830710.jpg
  app/assets/images/4-1-1-4a-668824724.jpg
  app/assets/images/4-1-2-1-1296912408.jpg
  app/assets/images/4-1-2-2-882967098.jpg
  app/assets/images/4-1-2-3-1161068314.jpg
  app/assets/images/4-1-2-4a-1369912893.jpg
  app/assets/images/4-1-3-1-1159161944.jpg
  app/assets/images/4-1-3-2a-962169936.jpg
  app/assets/images/4-1-3-3-520709377.jpg
  app/assets/images/4-1-3-4a-1295150002.jpg
  app/assets/images/4-2-1-1a-544351338.jpg
  app/assets/images/4-2-1-2-1170395430.jpg
  app/assets/images/4-2-1-3a-1346506036.jpg
  app/assets/images/4-2-1-4-1141094720.jpg
  app/assets/images/4-2-1-5a-1151225238.jpg
  app/assets/images/4-2-2-1-175391338.jpg
  app/assets/images/4-2-2-2-483869956.jpg
  app/assets/images/4-2-3-1a-697766624.jpg
  app/assets/images/4-2-3-2a-898457736.jpg
  app/assets/images/4-3-1-1a-1-1346506872.jpg
  app/assets/images/4-3-1-1a-2-1064160860.jpg
  app/assets/images/4-3-1-1a-2-504988838.jpg
  app/assets/images/4-3-1-1a-2-877290928.jpg
  app/assets/images/4-3-1-2a-1184733843.jpg
  app/assets/images/4-3-1-2a-544357094.jpg
  app/assets/images/4-3-2-1a-1067731518.jpg
  app/assets/images/4-3-2-2a-1334556380.jpg
  app/assets/images/4-3-2-3-477714449.jpg
  app/assets/images/4-3-2-4-671254038.jpg
  app/assets/images/4-3-3-1a-1127326292.jpg
  app/assets/images/4-3-3-1a-2-1185682048.jpg
  app/assets/images/4-3-3-2-1356661528.jpg
  app/assets/images/4-3-3-2-544353508.jpg
  app/assets/images/4-intro-1041469684.jpg
  app/assets/images/4-thumb-157720194.jpg
  app/views/home/index.html.slim
  app/views/training_modules/index.html.slim
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  data/confidence-questionnaires/module-4.yml
  data/formative-questionnaires/module-4.yml
  data/modules/module-4.yml
  data/summative-questionnaires/module-4.yml
  data/training-modules.yml
  spec/data_sanity_spec.rb
Labels: frontend, deployed, content

#297 Updated terms and conditions to include learning log
  config/locales/static/terms_and_conditions.yml
Labels: content

#300 ER-448 Urgent text changes
  config/locales/static/whats_new.yml
Labels: deployed, content

#262 Jenny mod 1 questions
  app/views/assessment_results/show.html.slim
  config/locales/modules/child-development-and-the-eyfs.yml
  data/confidence-questionnaires/child-development-and-the-eyfs.yml
  data/formative-questionnaires/child-development-and-the-eyfs.yml
  data/modules/child-development-and-the-eyfs.yml
  data/summative-questionnaires/child-development-and-the-eyfs.yml
  data/training-modules.yml
  spec/data_sanity_spec.rb
Labels: deployed, content

#303 fix deprecated page type
  data/modules/module-4.yml
Labels: content

#298 Module 1 reflection points
  config/locales/modules/alpha.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/charlie.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  config/locales/modules/personal-social-and-emotional-development.yml
Labels: deployed, content

#304 ER-450 success message paragraph spacing
  app/assets/stylesheets/question.scss
Labels: frontend, deployed

#305 Rename certificate page so that it is unique
  data/modules/child-development-and-the-eyfs.yml
Labels: content

#306 ER-451 module 3 url broken
  config/locales/modules/personal-social-and-emotional-development.yml
Labels: content

#308 Rename module 1 summative questionnaire
  data/confidence-questionnaires/child-development-and-the-eyfs.yml
  data/modules/child-development-and-the-eyfs.yml
  data/summative-questionnaires/child-development-and-the-eyfs.yml
Labels: content

#307 Removed video 15
  config/locales/modules/module-4.yml
  config/locales/static/terms_and_conditions.yml
  data/modules/module-4.yml
Labels: content
