Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-08, with the labels that each got.

#243 Changes to module 2 formative questions 2-1-1-4b and 2-2-1-3b to addr…
  data/questionnaires/brain-development-and-how-children-learn.yml
Labels: content

#244 ER-357 GA update
  .env.example
  app/controllers/application_controller.rb
  app/controllers/settings_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_body.html.erb
  app/views/layouts/_analytics_body.html.slim
  app/views/layouts/_analytics_header.html.erb
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/_cookie_banner.html.slim
  app/views/layouts/application.html.slim
  app/views/settings/cookie_policy.html.slim
  config/application.rb
  spec/system/cookies_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed

#245 Er 340 attempt to re register with existing email address
  app/controllers/registrations_controller.rb
  app/mailers/notify_mailer.rb
  app/models/user.rb
  config/locales/modules/child-development-and-the-eyfs.yml
  data/kpi_readme.md
  spec/mailers/notify_mailer_spec.rb
Labels: deployed, content

#249 Er 356 internal server error page 500
  app/views/errors/internal_server_error.html.slim
Labels: deployed

#253 Update Notify non-prod keys and documentation
  README.md
  config/credentials/development.yml.enc
  config/credentials/test.yml.enc
Labels: documentation

#258 ER-324 next topic becomes clickable
  app/decorators/module_overview_decorator.rb
  spec/system/formative_questionnaire_spec.rb
  spec/system/module_overview_progress_spec.rb
Labels: deployed

#255 Instructions for installing git-secrets to prevent secrets leakage
  README.md
Labels: documentation

#260 Enable httponly in cookie options
  app/controllers/settings_controller.rb
  config/initializers/ahoy.rb
Labels: deployed

#256 Er 221 practitioner prompt styling
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/quote.scss
  config/locales/modules/alpha.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
Labels: frontend, deployed, content

#259 ER-289 Update error message for confirmation already confirmed
  config/locales/devise.en.yml
Labels: deployed

#263 ER-220 unfilled circles nested bullet points
  app/assets/stylesheets/application.scss
Labels: frontend, deployed

#264 ER-331 page number bug
  data/modules/personal-social-and-emotional-development.yml
Labels: deployed, content
