Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-03, with the labels that each got.

#13 ADR0001 - Use Ruby-on-Rails as the primary development language
  adr/0001-use-ruby-on-rails.md
Labels: ADR

#18 Setup Docker environments
  .dockerignore
  .env.example
  .env.test
  .gitignore
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  Procfile.dev
  README.md
  adr/0002-use-docker.md
  adr/index.md
  app/assets/stylesheets/application.scss
  bin/dev
  bin/docker-build
  bin/docker-dev
  bin/docker-files
  bin/docker-rails
  bin/docker-rspec
  config/database.yml
  config/environments/production.rb
  config/initializers/content_security_policy.rb
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  docker-entrypoint.sh
Labels: documentation, ADR

#38 ER-32 Added proposed ADRs for Secret Mgmt & Deployment Envs
  adr/0006-secrets-management.md
  adr/0007-deployment-environments.md
  adr/README.md
Labels: ADR

#43 Add workflow to automatically label PRs
  .github/labeler.yml
  .github/workflows/label.yml
  adr/0000-test.md
Labels: ADR

#50 Add Trivy workflow
  .github/workflows/trivy.yml
  adr/0009-trivy.md
Labels: ADR

#61 Add "Check your email" page after account setup
  app/assets/stylesheets/application.scss
  app/controllers/registrations_controller.rb
  app/controllers/user_controller.rb
  app/views/devise/registrations/new.html.slim
  app/views/devise/sessions/new.html.slim
  app/views/devise/shared/_form_wrap.html.slim
  app/views/layouts/application.html.slim
  app/views/user/check_email.html.slim
  config/routes.rb
  spec/requests/user_spec.rb
Labels: frontend
