Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-12, with the labels that each got.

#410 Jenny amends 1st december
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/formative-questionnaires/module-4.yml
  data/summative-questionnaires/child-development-and-the-eyfs.yml
  data/video-transcripts/743243040.yml
  data/video-transcripts/756701208.yml
  data/video-transcripts/XnP6jaK7ZAY.yml
Labels: content

#422 Update to ruby 3.1.3
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/qa.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  uml/deployment.puml
Labels: pipeline

#423 version bump
  Gemfile.lock
Labels: deployed

#272 Sentry Reporting Audit
  .github/workflows/content.yml
  README.md
  app/models/training_module.rb
  app/views/training_modules/_debug.html.slim
  app/views/training_modules/_progress.html.slim
  terraform/workspace-variables/app_config.yml
Labels: documentation, terraform, deployed, pipeline

#425 ER-533 remove signed in message
  Gemfile.lock
  config/locales/devise.en.yml
  spec/system/registered_user/signin_spec.rb
  spec/system/sign_in_spec.rb
Labels: deployed

#349 ER-501, ER-508 Progress bar
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/progress-bar.scss
  app/controllers/assessment_results_controller.rb
  app/controllers/content_pages_controller.rb
  app/controllers/questionnaires_controller.rb
  app/controllers/training_modules_controller.rb
  app/decorators/module_progress_bar_decorator.rb
  app/helpers/content_helper.rb
  app/models/content_page.rb
  app/models/module_item.rb
  app/models/training_module.rb
  app/services/module_progress.rb
  app/views/assessment_results/show.html.slim
  app/views/content_pages/_debug.html.slim
  app/views/content_pages/certificate.html.slim
  app/views/content_pages/icons_page.html.slim
  app/views/content_pages/interruption_page.html.slim
  app/views/content_pages/text_page.html.slim
  app/views/content_pages/video_page.html.slim
  app/views/questionnaires/show.html.slim
  app/views/shared/_progress_bar.html.slim
  app/views/training_modules/_debug.html.slim
  app/views/training_modules/_progress.html.slim
  data/modules/alpha.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/module-4.yml
  data/modules/personal-social-and-emotional-development.yml
  db/schema.rb
  spec/decorators/module_progress_bar_decorator_spec.rb
  spec/support/shared/with_content.rb
  spec/support/shared/with_progress.rb
  spec/system/progress_bar_spec.rb
Labels: frontend, deployed, content

#434 ER-547 - Service error page
  app/views/errors/internal_server_error.html.slim
Labels: deployed, pass

#429 Replaced module images with larger size
  app/assets/images/1-thumb-780x519-1355279156.jpg
  app/assets/images/2-thumb-780x519-1203132106.jpg
  app/assets/images/3-thumb-780x519-1159321535.jpg
  app/assets/images/4-thumb-780x519-157720194.jpg
  data/training-modules.yml
Labels: frontend, deployed, content

#456 ER-538 Add back buttons to training pages
  app/controllers/assessment_results_controller.rb
  app/controllers/questionnaires_controller.rb
  app/helpers/content_helper.rb
  app/views/layouts/application.html.slim
  spec/system/assessment_results_spec.rb
  spec/system/content_page_spec.rb
  spec/system/formative_questionnaire_spec.rb
  spec/system/summative_questionnaire_spec.rb
Labels: deployed

#446 ER-559 lock after 5 unsuccessful login attempts
  config/initializers/devise.rb
  spec/system/sign_in_spec.rb
Labels: deployed

#445 Er 511, er 512 left align buttons and put in button groups
  app/assets/stylesheets/application.scss
  app/views/assessment_results/show.html.slim
  app/views/content_pages/_course_pages_footer.html.slim
  app/views/content_pages/certificate.html.slim
  app/views/home/index.html.slim
  app/views/notes/_form.html.slim
  app/views/questionnaires/show.html.slim
  app/views/registration/names/edit.html.slim
  app/views/training_modules/index.html.slim
  app/views/user/edit_email.html.slim
  app/views/user/edit_password.html.slim
Labels: frontend, deployed

#457 Er 537 timeout for non javascript users
  app/helpers/timeout_helper.rb
  app/views/layouts/_timeout.html.slim
  app/views/layouts/application.html.slim
  config/locales/en.yml
  spec/system/timeout_modal_spec.rb
Labels: deployed
