Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-05, with the labels that each got.

#103 Delete package-lock.json
  package-lock.json
Labels: deployed

#104 ER 162 Add system test for skeleton course
  .gitignore
  app/assets/stylesheets/application.scss
  app/controllers/content_pages_controller.rb
  app/helpers/application_helper.rb
  app/models/question.rb
  app/models/questionnaire.rb
  app/models/training_module.rb
  app/views/ahoy/events/_event.html.slim
  app/views/ahoy/visits/_visit.html.slim
  app/views/content_pages/module_intro.html.slim
  app/views/content_pages/sub_module_intro.html.slim
  app/views/content_pages/text_page.html.slim
  app/views/content_pages/youtube_page.html.slim
  app/views/formative_assessments/_assessment_banner.html.slim
  app/views/formative_assessments/show.html.slim
  app/views/layouts/application.html.slim
  app/views/questionnaires/show.html.slim
  app/views/shared/_content_wrap.slim
  app/views/shared/_course_pages_footer.slim
  app/views/shared/_question_check_boxes.html.slim
  app/views/shared/_question_radio_buttons.html.slim
  app/views/user/show.html.slim
  config/locales/modules/brain-development-in-early-years/brain-development-in-early-years.yml
  data/modules/brain-development-in-the-early-years.yml
  data/questionnaires/brain-development-in-the-early-years.yml
  data/training-modules.yml
  spec/models/question_spec.rb
  spec/spec_helper.rb
  spec/system/brain_development_course_journey_spec.rb
Labels: frontend

#97 Improvements to documentation to ease onboarding across the team
  .env.example
  .github/labeler.yml
  .github/workflows/production.yml
  README.md
  bin/docker-certs
  bin/docker-down
  bin/docker-prune
  bin/docker-prune-images
  config/locales/modules/one.yml
Labels: documentation

#109 Simplify asset pipeline bootstrapping in dev
  Procfile.dev
  README.md
  bin/docker-dev-restart
  docker-entrypoint.sh
Labels: documentation

#113 Govspeak styling using the SCSS from Reform
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/govspeak.scss
  app/assets/stylesheets/govspeak/_advisory.scss
  app/assets/stylesheets/govspeak/_attachment.scss
  app/assets/stylesheets/govspeak/_button.scss
  app/assets/stylesheets/govspeak/_call-to-action.scss
  app/assets/stylesheets/govspeak/_charts.scss
  app/assets/stylesheets/govspeak/_contact.scss
  app/assets/stylesheets/govspeak/_example.scss
  app/assets/stylesheets/govspeak/_footnotes.scss
  app/assets/stylesheets/govspeak/_form-download.scss
  app/assets/stylesheets/govspeak/_fraction.scss
  app/assets/stylesheets/govspeak/_highlight-answer.scss
  app/assets/stylesheets/govspeak/_images.scss
  app/assets/stylesheets/govspeak/_information-callout.scss
  app/assets/stylesheets/govspeak/_legislative-list.scss
  app/assets/stylesheets/govspeak/_media-player.scss
  app/assets/stylesheets/govspeak/_place.scss
  app/assets/stylesheets/govspeak/_stat-headline.scss
  app/assets/stylesheets/govspeak/_steps.scss
  app/assets/stylesheets/govspeak/_summary.scss
  app/assets/stylesheets/govspeak/_tables.scss
  app/assets/stylesheets/govspeak/_typography.scss
  app/assets/stylesheets/govspeak/_warning-callout.scss
  app/assets/stylesheets/govspeak/helpers/_attachment-link.scss
  app/assets/stylesheets/govspeak/helpers/_attachment.scss
  app/assets/stylesheets/govspeak/helpers/_markdown-typography.scss
  app/assets/stylesheets/govspeak/overrides/_accordion.scss
  app/assets/stylesheets/govspeak/overrides/_call-to-action.scss
  app/assets/stylesheets/govspeak/overrides/_contents-list.scss
  app/assets/stylesheets/govspeak/overrides/_highlights.scss
  app/assets/stylesheets/govspeak/overrides/_quote.scss
  app/assets/stylesheets/govspeak/overrides/_tables.scss
  app/javascript/application.js
  app/views/content_pages/module_intro.html.slim
  app/views/formative_assessments/show.html.slim
  app/views/questionnaires/show.html.slim
  config/locales/modules/one.yml
Labels: duplicate, frontend

#115 Validate user provided OFSTED numbers against external source
  README.md
  app/controllers/user_controller.rb
  app/forms/users/setting_form.rb
  app/models/user.rb
  app/validators/ofsted_validator.rb
  app/views/user/edit.html.slim
  config/locales/en.yml
  spec/forms/users/setting_form_spec.rb
  spec/models/user_spec.rb
  spec/system/confirmed_users_completing_registration_spec.rb
Labels: documentation

#118 Improve review app deployment
  .env.example
  .github/workflows/content.yml
  .github/workflows/teardown.yml
  Dockerfile
  README.md
  config/application.rb
  terraform/app/modules/paas/inputs.tf
  terraform/app/modules/paas/locals.tf
  terraform/app/modules/paas/main.tf
  terraform/app/terraform.tf
  terraform/workspace-variables/app_config.yml
  terraform/workspace-variables/content.tfvars
  terraform/workspace-variables/production.tfvars
Labels: documentation, terraform, deployed

#126 Er 213 incorrect password 6 attempts
  config/initializers/devise.rb
  config/locales/devise.en.yml
  spec/system/all_users_signing_in_spec.rb
Labels: deployed

#128 Origin/signin registration epic tickets
  app/controllers/registrations_controller.rb
  app/controllers/user_controller.rb
  app/mailers/notify_mailer.rb
  app/views/user/check_email_confirmation.html.slim
  config/initializers/devise.rb
  config/initializers/govuk_formbuilder.rb
  config/locales/devise.en.yml
  config/locales/en.yml
  config/routes.rb
  spec/requests/user_spec.rb
  spec/system/forgotten_password_flash_spec.rb
Labels: deployed

#132 Small Fix for sign out bug
  app/helpers/application_helper.rb
  config/initializers/devise.rb
Labels: deployed

#134 QA Framework refactor
  README.md
  app/views/layouts/_footer_content.html.slim
  bin/docker-qa
  docker-compose.qa.yml
  ui/edit_profile_spec.rb
  ui/home_page_spec.rb
  ui/pages/base.rb
  ui/pages/edit_name.rb
  ui/pages/home.rb
  ui/pages/my_account.rb
  ui/pages/privacy_policy.rb
  ui/pages/profile.rb
  ui/pages/sign_in.rb
  ui/pages/terms_and_conditions.rb
  ui/pages/user.rb
  ui/privacy_policy.spec.rb
  ui/profile_management_spec.rb
  ui/sections/footer.rb
  ui/sections/header.rb
  ui/spec_helper.rb
  ui/support/shared/with_guest.rb
  ui/support/shared/with_user.rb
  ui/terms_and_conditions_spec.rb
  ui/ui.rb
Labels: deployed

#110 ER-119 Add "Resume" to profile page for training modules
  app/models/question.rb
  app/models/user.rb
  app/views/ahoy/events/_event.html.slim
  app/views/ahoy/visits/_visit.html.slim
  app/views/content_pages/youtube_page.html.slim
  app/views/user/_debug.html.slim
  app/views/user/_training_modules.html.slim
  app/views/user/show.html.slim
  data/modules/brain-development-in-the-early-years.yml
Labels: deployed, testing, content

#133 Er 139 get help page
  app/views/layouts/_footer_content.html.slim
  app/views/static/get_help.html.slim
  config/locales/static/get_help.yml
Labels: deployed, testing, content

#135 add wording changes for some footer links
  app/views/layouts/_footer_content.html.slim
  app/views/static/contact.html.slim
  config/locales/static/contact.yml
  spec/requests/static_spec.rb
Labels: deployed, content
