Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-04, with the labels that each got.

#67 ER 118 registration journey create an account
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/builders/early_years_recovery_form_builder.rb
  app/controllers/application_controller.rb
  app/controllers/extra_registrations_controller.rb
  app/controllers/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  app/views/devise/confirmations/new.html.slim
  app/views/devise/passwords/edit.html.slim
  app/views/devise/passwords/new.html.slim
  app/views/devise/registrations/edit.html.slim
  app/views/devise/registrations/new.html.slim
  app/views/devise/sessions/new.html.slim
  app/views/extra_registrations/_name.html.slim
  app/views/extra_registrations/_setting.html.slim
  app/views/extra_registrations/edit.html.slim
  app/views/layouts/application.html.slim
  app/views/user/check_email.html.slim
  app/views/user/edit.html.slim
  config/application.rb
  config/environments/production.rb
  config/initializers/govuk_formbuilder.rb
  config/locales/devise.en.yml
  config/locales/en.yml
  config/routes.rb
  spec/factories/users.rb
  spec/forms/users/name_form_spec.rb
  spec/forms/users/setting_form_spec.rb
  spec/system/all_users_signing_in_spec.rb
  spec/system/confirmed_users_completing_registration_spec.rb
Labels: frontend

#77 Feature/auto er1 profile edit
  .env.example
  .github/workflows/qa-docker-compose.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  bin/docker-qa
  bin/docker-rspec
  bin/qa
  db/seeds.rb
  db/seeds/users.yml
  docker-compose.dev.yml
  docker-compose.qa.yml
  package-lock.json
  spec/models/youtube_page_spec.rb
  terraform/workspace-variables/app_config.yml
  ui/drivers/capybara_drivers.rb
  ui/drivers/chrome.rb
  ui/drivers/firefox.rb
  ui/edit_profile_spec.rb
  ui/home_page_spec.rb
  ui/pages/base.rb
  ui/pages/home.rb
  ui/pages/profile.rb
  ui/pages/sign_in.rb
  ui/pages/user.rb
  ui/sections/header.rb
  ui/spec_helper.rb
  ui/support/capybara.rb
  ui/support/env.rb
  ui/support/pages/base.rb
  ui/support/pages/sign_in.rb
  ui/ui.rb
Labels: terraform, deployed

#88 Er 117 setup terraform followup
  .github/labeler.yml
  .github/workflows/content.yml
  .github/workflows/production.yml
  .github/workflows/qa-docker-compose.yml
  .github/workflows/qa.yml
  .github/workflows/staging.yml
  README.md
  bin/docker-prune
  config/database.yml
  db/seeds/users.yml
  docker-compose.qa.yml
  ui/drivers/chrome.rb
  ui/drivers/firefox.rb
  ui/edit_profile_spec.rb
  ui/pages/home.rb
  ui/pages/sign_in.rb
  ui/sections/header.rb
Labels: deployed

#92 Deployment snags
  .env.example
  .github/workflows/content.yml
  .github/workflows/label.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  README.md
  config/environments/production.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform

#99 Add YAML file README
  data/yaml_file_readme.md
Labels: documentation
