Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-11, with the labels that each got.

#332 Er 306 upcoming modules styling fix
  app/assets/stylesheets/card.scss
  app/models/training_module.rb
  app/views/learning/show.html.slim
Labels: frontend, deployed

#341 [ER-449] Force reload for module overview page to get around dup accordion issue
  app/views/layouts/application.html.slim
  app/views/training_modules/index.html.slim
  app/views/training_modules/show.html.slim
Labels: deployed

#339 Bump Ruby to v3.1.2
  .github/dependabot.yml
  .github/workflows/ci.yml
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
Labels: deployed

#322 ER-459 Remove sign_in_url from email_taken in notify
  app/mailers/notify_mailer.rb
Labels: deployed

#119 ER-206 Infrastucture diagrams in UML
  .dockerignore
  .erdconfig
  .github/workflows/development.yml
  .gitignore
  .yardopts
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  adr/ADR.md
  bin/docker-adr
  bin/docker-doc
  bin/docker-uml
  data/KPI.md
  data/YAML.md
  docker-compose.dev.yml
  uml/UML.md
  uml/application.puml
  uml/deployment.puml
  uml/docker.puml
Labels: documentation, ADR

#357 added video data usage info to about this training page
  config/locales/en.yml
Labels: deployed

#358 Critical amends from feedback sheet plus end of module test intro
  config/locales/en.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/formative-questionnaires/brain-development-and-how-children-learn.yml
  data/formative-questionnaires/child-development-and-the-eyfs.yml
  data/formative-questionnaires/personal-social-and-emotional-development.yml
  data/summative-questionnaires/brain-development-and-how-children-learn.yml
  data/summative-questionnaires/child-development-and-the-eyfs.yml
  data/summative-questionnaires/module-4.yml
Labels: deployed, content

#356 Optimise Delivery Pipeline
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci-docker-compose.yml
  .github/workflows/ci.yml
  .github/workflows/content.yml
  .github/workflows/development.yml
  .github/workflows/pa11y.yml
  .github/workflows/production.yml
  .github/workflows/qa-docker-compose.yml
  .github/workflows/qa.yml
  .github/workflows/staging.yml
  .github/workflows/trivy.yml
  Dockerfile
  Gemfile.lock
  bin/docker-down
  bin/docker-qa
  docker-compose.qa.yml
  ui/drivers/chrome.rb
  ui/drivers/firefox.rb
Labels: deployed

#336 Jenny module long and short descriptions
  app/services/course_progress.rb
  app/views/learning/show.html.slim
  data/demo-modules.yml
  data/training-modules.yml
  spec/models/training_module_spec.rb
Labels: deployed, content

#369 Brakeman tweaks
  Gemfile
  Gemfile.lock
  app/controllers/settings_controller.rb
  app/controllers/static_controller.rb
  app/views/layouts/_cookie_banner.html.slim
  app/views/settings/cookie_policy.html.slim
  bin/qa
  config/locales/settings/cookie_policy.yml
Labels: deployed

#326 ER-434 add hotjar tracking code
  .env.example
  app/controllers/application_controller.rb
  app/views/layouts/_hotjar_tracking.html.slim
  app/views/layouts/application.html.slim
  config/application.rb
  config/locales/settings/cookie_policy.yml
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed

#368 Er 506 registration journey
  app/assets/stylesheets/autocomplete.scss
  app/controllers/registration/base_controller.rb
  app/controllers/users/sessions_controller.rb
  app/forms/users/base_form.rb
  app/forms/users/setting_type_form.rb
  app/models/setting_type.rb
  app/views/static/new_registration.html.slim
  config/locales/en.yml
  config/locales/static/new_registration.yml
  db/migrate/20221110104509_remove_attributes_from_users.rb
  db/schema.rb
  db/seeds/users.yml
  spec/controllers/users/sessions_controller_spec.rb
  spec/factories/users.rb
  spec/forms/users/setting_type_form_spec.rb
  spec/support/shared/with_events.rb
  spec/system/page_title_spec.rb
  spec/system/whats_new_page_spec.rb
Labels: frontend, deployed, content

#373 Additional policy amends on unwanted behaviour wording
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/summative-questionnaires/personal-social-and-emotional-development.yml
Labels: content

#372 ER-514 add missing space in learning log
  app/views/notes/_form.html.slim
Labels: deployed

#377 [ER-515] Minor updates for new registration journey
  app/controllers/registration/base_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/setting_types_controller.rb
  config/locales/en.yml
  config/locales/static/new_registration.yml
  data/role-type.yml
Labels: deployed, content

#371 Improved test account management
  README.md
  bin/cf-task
  bin/docker-adr
  bin/docker-build
  bin/docker-certs
  bin/docker-dev
  bin/docker-doc
  bin/docker-down
  bin/docker-files
  bin/docker-pa11y
  bin/docker-prune
  bin/docker-qa
  bin/docker-rails
  bin/docker-rspec
  bin/docker-uml
  bin/qa
  bin/rubocop-todo
  db/seeds/interim_data.yml
  lib/seed_interim_users.rb
  lib/tasks/backfill_terms_and_conditions.rake
  lib/tasks/bot.rake
  lib/tasks/eyfs.rake
  lib/tasks/interim_data.rake
  lib/tasks/module_completion_existing.rake
  lib/tasks/post.rake
  lib/tasks/whats_new.rake
  spec/lib/seed_interim_users_spec.rb
Labels: documentation, deployed

#370 ER-482 Service name update
  .erdconfig
  .yardopts
  README.md
  app/helpers/application_helper.rb
  app/helpers/content_helper.rb
  app/views/devise/registrations/new.html.slim
  app/views/devise/sessions/new.html.slim
  app/views/errors/not_found.html.slim
  app/views/home/index.html.slim
  app/views/layouts/_cookie_banner.html.slim
  config/application.rb
  config/locales/devise.en.yml
  config/locales/en.yml
  config/locales/static/accessibility_statement.yml
  config/locales/static/privacy_policy.yml
  config/locales/static/terms_and_conditions.yml
  db/schema.rb
  spec/helpers/content_helper_spec.rb
  spec/support/matchers/have_page_title_matcher.rb
  spec/system/confirmed_user/completing_registration_spec.rb
  spec/system/cookies_spec.rb
  spec/system/page_title_spec.rb
  spec/system/registration_journey_spec.rb
  ui/sections/header.rb
Labels: documentation, deployed, content

#381 ER-480 Update to DfE branding v2
  app/assets/images/crest.png
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/header.scss
  app/helpers/application_helper.rb
  ui/sections/header.rb
Labels: frontend, deployed

#378 Hempsalls feedback
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  config/locales/modules/personal-social-and-emotional-development.yml
Labels: content

#385 Deploy after manual update to db service
  terraform/workspace-variables/production.tfvars
Labels: terraform

#382 ER-521 learning log mobile bug
  app/assets/stylesheets/application.scss
Labels: frontend, deployed

#386 increase production app memory to 4G from 512M
  terraform/workspace-variables/production.tfvars
Labels: terraform

#360 DB stats
  app/services/summative_assessment_progress.rb
  bin/cf-stats
  data/KPI.md
  lib/tasks/stats.rake
Labels: documentation, deployed

#384 WCAG audit improvements
  .github/workflows/pa11y.yml
  bin/docker-pa11y
  config/sitemap.rb
  lib/tasks/eyfs.rake
Labels: pipeline

#398 Update to v3 of the blue-green strategy
  terraform/app/modules/paas/inputs.tf
  terraform/app/modules/paas/main.tf
Labels: terraform, deployed

#387 Helen policychanges 17nov
  app/views/home/index.html.slim
  config/locales/en.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  config/locales/static/privacy_policy.yml
  data/formative-questionnaires/brain-development-and-how-children-learn.yml
  data/formative-questionnaires/module-4.yml
  data/summative-questionnaires/brain-development-and-how-children-learn.yml
  data/summative-questionnaires/module-4.yml
Labels: deployed, content

#376 ER-432 timeout
  .env.example
  .github/workflows/ci.yml
  README.md
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/modal.scss
  app/assets/stylesheets/vendor/_dialog-polyfill.0.5.0.css
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/controllers/timeout_controller.rb
  app/helpers/timeout_helper.rb
  app/javascript/application.js
  app/javascript/timeout-warning.js
  app/views/layouts/_timeout.html.slim
  app/views/layouts/application.html.slim
  app/views/timeout/timeout_user.html.slim
  config/application.rb
  config/locales/en.yml
  config/routes.rb
  docker-compose.dev.yml
  docker-compose.test.yml
  package.json
  spec/requests/timeout_warning_spec.rb
  spec/system/course_progress_spec.rb
  spec/system/event_log_spec.rb
  spec/system/timeout_modal_spec.rb
  terraform/workspace-variables/app_config.yml
  yarn.lock
Labels: documentation, terraform, frontend, deployed, pipeline

#388 ER-481 Switch noindex nofollow in meta tags
  .ruby-version
  app/views/layouts/application.html.slim
  config/environments/production.rb
  terraform/workspace-variables/app_config.yml
  terraform/workspace-variables/production.tfvars
Labels: terraform, deployed

#407 Summary of release and agile workflow
  .yardopts
  README.md
  RELEASE.md
  app/controllers/training_modules_controller.rb
  app/views/content_pages/_debug.html.slim
  app/views/home/index.html.slim
  app/views/layouts/_timeout.html.slim
  app/views/layouts/application.html.slim
  app/views/questionnaires/_questionnaire_debug.html.slim
  app/views/training_modules/_debug.html.slim
  app/views/user/_debug.html.slim
  bin/cf-stats
  config/application.rb
  config/environments/production.rb
Labels: documentation, deployed
