Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-07, with the labels that each got.

#208 ER-329 Module overview page text wrapping
  app/assets/stylesheets/application.scss
  app/views/training_modules/show.html.slim
Labels: frontend, deployed

#211 ER-330 Responsive images
  app/assets/stylesheets/application.scss
  app/views/home/index.html.slim
  app/views/learning/_card.html.slim
  app/views/learning/show.html.slim
Labels: frontend, deployed

#206 Changed page type to remove page numbers
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/personal-social-and-emotional-development.yml
Labels: deployed, content

#214 Removed the line about having to complete the end of module test in o…
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/personal-social-and-emotional-development.yml
Labels: content

#216 Updated application helper
  app/helpers/application_helper.rb
Labels: deployed

#218 ER-311 all error messages to appear red error box
  app/assets/stylesheets/application.scss
  app/views/formative_assessments/_assessment_banner.html.slim
Labels: deployed

#221 Update lead line for course criteria
  app/views/training_modules/index.html.slim
Labels: deployed

#226 Module 4 setup
  app/assets/images/4-1-1-1a-1221602959.jpg
  app/assets/images/4-1-1-1b-1136214636.jpg
  app/assets/images/4-1-1-1b-1185932595.jpg
  app/assets/images/4-1-1-1b-508407810.jpg
  app/assets/images/4-1-1-1b-969970446.jpg
  app/assets/images/4-1-1-2a-605745618.jpg
  app/assets/images/4-1-1-3-687830710.jpg
  app/assets/images/4-1-1-4a-668824724.jpg
  app/assets/images/4-1-2-1-1296912408.jpg
  app/assets/images/4-1-2-2-882967098.jpg
  app/assets/images/4-1-2-3-1161068314.jpg
  app/assets/images/4-1-2-4a-1369912893.jpg
  app/assets/images/4-1-3-2a-962169936.jpg
  app/assets/images/4-1-3-3-520709377.jpg
  app/assets/images/4-2-1-1a-544351338.jpg
  app/assets/images/4-2-1-2-1170395430.jpg
  app/assets/images/4-2-1-3a-1346506036.jpg
  app/assets/images/4-2-1-4-1141094720.jpg
  app/assets/images/4-2-1-5a-1151225238.jpg
  app/assets/images/4-2-2-1-175391338.jpg
  app/assets/images/4-2-2-2-483869956.jpg
  app/assets/images/4-2-3-1a-697766624.jpg
  app/assets/images/4-2-3-2a-898457736.jpg
  app/assets/images/4-3-1-1a-1346506872.jpg
  app/assets/images/4-3-1-2a-1184733843.jpg
  app/assets/images/4-3-1-2a-544357094.jpg
  app/assets/images/4-3-2-1a-1067731518.jpg
  app/assets/images/4-3-2-2a-1334556380.jpg
  app/assets/images/4-3-2-3-477714449.jpg
  app/assets/images/4-3-2-4-671254038.jpg
  app/assets/images/4-3-3-1a-1127326292.jpg
  app/assets/images/4-3-3-2-1356661528.jpg
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/module-4.yml
  data/confidence-questionnaires/module-4.yml
  data/modules/module-4.yml
  data/questionnaires/module-4.yml
  data/summative-questionnaires/module-4.yml
  data/training-modules.yml
Labels: frontend, deployed, content

#230 Update alpha.yml
  data/confidence-questionnaires/alpha.yml
Labels: content

#220 ER-307 ER-308 and ER-326 Adds markdown for questions
  app/helpers/content_helper.rb
  app/models/question.rb
  app/views/confidence_checks/show.html.slim
  app/views/formative_assessments/show.html.slim
  app/views/questionnaires/show.html.slim
  app/views/shared/_question_check_boxes.html.slim
  app/views/shared/_question_radio_buttons.html.slim
  app/views/summative_assessments/show.html.slim
  data/questionnaires/alpha.yml
  data/questionnaires/brain-development-and-how-children-learn.yml
Labels: deployed, content

#215 Full reload for turbo in rails to support third party library
  app/views/layouts/application.html.slim
Labels: deployed

#224 Er 342 summative assessment system spec coverage
  config/locales/modules/alpha.yml
  data/demo-modules.yml
  data/modules/alpha.yml
  data/summative-questionnaires/alpha.yml
  spec/support/shared/with_progress.rb
  spec/system/confidence_check_spec.rb
  spec/system/formative_assessment_spec.rb
  spec/system/summative_assessment_spec.rb
Labels: content

#223 ER-312 Add page numbers to questionnaires
  app/helpers/content_helper.rb
  app/models/confidence_questionnaire.rb
  app/models/questionnaire_data.rb
  app/models/summative_questionnaire.rb
  app/views/confidence_checks/show.html.slim
  app/views/formative_assessments/show.html.slim
  app/views/summative_assessments/show.html.slim
Labels: deployed

#232 add links to topics
  app/views/assessments_results/_assessment_banner.html.slim
  data/summative-questionnaires/brain-development-and-how-children-learn.yml
  data/summative-questionnaires/personal-social-and-emotional-development.yml
Labels: deployed, content

#212 Add grover gem as middleware
  .env.example
  Dockerfile
  Gemfile
  Gemfile.lock
  app/views/training_modules/certificate.html.slim
  config/application.rb
  config/initializers/grover.rb
  docker-compose.yml
  package.json
  terraform/workspace-variables/app_config.yml
  yarn.lock
Labels: terraform, deployed

#233 [ER-344] Upgrade rails and fix specs that fail
  Gemfile
  Gemfile.lock
  config/application.rb
Labels: deployed

#236 Er 314 module overview page progress indicator
  app/decorators/module_overview_decorator.rb
  spec/system/module_overview_progress_spec.rb
Labels: deployed

#242 Sanitise email confirmation redirect URL
  app/controllers/confirmations_controller.rb
  app/controllers/registrations_controller.rb
  app/controllers/user_controller.rb
  spec/requests/user_spec.rb
  spec/system/registration_journey_spec.rb
  spec/system/sign_up_spec.rb
Labels: deployed

#241 Use updated event type for password changing
  app/models/user.rb
Labels: deployed

#239 ER-323 Fix interruption page
  app/models/content_page.rb
  app/models/training_module.rb
  app/views/content_pages/interruption_page.html.slim
  config/locales/en.yml
Labels: deployed

#237 make arrays one dimensional
  data/confidence-questionnaires/alpha.yml
  data/questionnaires/alpha.yml
  data/summative-questionnaires/alpha.yml
Labels: content
