Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-06, with the labels that each got.

#131 ER-249 Penetration test mitigation
  README.md
  app/controllers/user_controller.rb
  app/models/user.rb
  app/validators/password_validator.rb
  app/views/devise/confirmations/new.html.slim
  app/views/devise/passwords/edit.html.slim
  app/views/devise/registrations/edit.html.slim
  app/views/devise/registrations/new.html.slim
  app/views/devise/sessions/new.html.slim
  app/views/devise/unlocks/new.html.slim
  app/views/user/edit_password.html.slim
  config/application.rb
  config/environments/production.rb
  config/initializers/devise.rb
  config/locales/en.yml
  db/seeds/users.yml
  spec/controllers/training_modules_controller_spec.rb
  spec/system/all_users_signing_in_spec.rb
  spec/system/forgotten_password_flash_spec.rb
  spec/system/registered_user/changing_password_spec.rb
  ui/pages/sign_in.rb
Labels: documentation, deployed

#139 ER-216 Reset your password link on sign in page
  app/views/devise/passwords/new.html.slim
  app/views/devise/sessions/new.html.slim
Labels: deployed

#152 Formative assessment
  app/controllers/content_pages_controller.rb
  app/controllers/formative_assessments_controller.rb
  app/helpers/application_helper.rb
  app/views/shared/_question_check_boxes.html.slim
  app/views/shared/_question_radio_buttons.html.slim
  data/questionnaires/brain-development-in-the-early-years.yml
Labels: deployed, content

#117 ER-194 Extended Govspeak markdown and new CSP policy
  app/decorators/govspeak_decorator.rb
  app/helpers/content_helper.rb
  app/views/content_pages/sub_module_intro.html.slim
  app/views/content_pages/text_page.html.slim
  config/initializers/content_security_policy.rb
  spec/models/govspeak_decorator_spec.rb
Labels: deployed

#146 Er 185 check your email for password reset
  app/views/user/check_email_password_reset.html.slim
  config/locales/en.yml
  spec/system/all_users_signing_in_spec.rb
  spec/system/forgotten_password_spec.rb
Labels: deployed

#129 Er 152 update questionnaire behaviour to accommodate three questionnaire types
  app/controllers/formative_assessments_controller.rb
  app/models/question.rb
  app/models/questionnaire.rb
  app/views/shared/_question_check_boxes.html.slim
  app/views/shared/_question_radio_buttons.html.slim
  config/locales/modules/brain-development-in-early-years.yml
  data/demo-modules.yml
  data/questionnaires/brain-development-and-how-children-learn.yml
  spec/models/questionnaire_spec.rb
  spec/requests/questionnaires_spec.rb
  spec/services/user_training_spec.rb
  spec/system/brain_development_course_journey_spec.rb
Labels: content

#142 Hfeyp 235 hyphens urls v2
  app/controllers/settings_controller.rb
  app/controllers/static_controller.rb
  app/views/layouts/_footer.html.slim
  config/routes.rb
  spec/requests/extra_registrations_spec.rb
  spec/requests/settings_spec.rb
  spec/requests/static_spec.rb
  spec/support/shared/with_user.rb
  spec/system/all_users_signing_in_spec.rb
  spec/system/my_learning_spec.rb
  spec/system/render_govspeak_spec.rb
  ui/pages/sign_in.rb
  ui/sections/header.rb
Labels: deployed

#150 ER-269 Fix check email confirmation text
  app/views/user/check_email_confirmation.html.slim
  config/locales/en.yml
Labels: deployed

#158 ER-246 and ER-247
  app/models/question.rb
  config/initializers/devise.rb
  ui/pages/privacy_policy.rb
  ui/pages/terms_and_conditions.rb
  ui/sections/footer.rb
Labels: deployed

#157 ER-183 and ER-219
  .github/workflows/qa-docker-compose.yml
  .rubocop_todo.yml
  README.md
  app/assets/stylesheets/application.scss
  app/controllers/training_modules_controller.rb
  app/models/content_page.rb
  app/models/module_item.rb
  app/models/training_module.rb
  app/models/user.rb
  app/models/youtube_page.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  app/views/content_pages/_debug.html.slim
  app/views/content_pages/sub_module_intro.html.slim
  app/views/content_pages/text_page.html.slim
  app/views/content_pages/youtube_page.html.slim
  app/views/layouts/_footer.html.slim
  app/views/learning/_debug.html.slim
  app/views/learning/show.html.slim
  app/views/shared/_content_wrap.html.slim
  app/views/shared/_course_pages_footer.html.slim
  app/views/training_modules/_debug.html.slim
  app/views/training_modules/_wip.html.slim
  app/views/training_modules/show.html.slim
  config/locales/en.yml
  config/locales/modules/alpha.yml
  config/locales/modules/bravo.yml
  config/locales/modules/charlie.yml
  data/demo-modules.yml
  data/modules/alpha.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/bravo.yml
  data/modules/charlie.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/personal-social-and-emotional-development.yml
  data/modules/test.yml
  data/training-modules.yml
  data/yaml_file_readme.md
  spec/models/module_item_spec.rb
  spec/models/training_module_spec.rb
  spec/models/user_spec.rb
  spec/requests/content_pages_spec.rb
  spec/services/course_progress_spec.rb
  spec/services/module_progress_spec.rb
  spec/support/shared/with_progress.rb
  terraform/workspace-variables/app_config.yml
Labels: documentation, terraform, frontend, deployed, content

#156 ER-267 add google tag manager as partials
  app/views/layouts/_analytics_body.html.erb
  app/views/layouts/_analytics_header.html.erb
  app/views/layouts/application.html.slim
Labels: deployed

#164 Add privacy policy content
  app/views/static/privacy_policy.html.slim
  config/locales/static/privacy_policy.yml
Labels: deployed, content

#168 Er 245 course overview page design
  app/controllers/training_modules_controller.rb
  app/helpers/application_helper.rb
  app/views/home/index.html.slim
  app/views/training_modules/index.html.slim
  config/locales/en.yml
  config/routes.rb
  data/demo-modules.yml
  data/modules/brain-development-in-the-early-years.yml
  data/training-modules.yml
  spec/helpers/application_helper_spec.rb
  spec/models/training_module_spec.rb
  spec/requests/authentication_spec.rb
  spec/requests/training_modules_spec.rb
Labels: deployed, content

#167 Er 225 interruption page
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/interruption.scss
  app/helpers/application_helper.rb
  app/models/content_page.rb
  app/models/module_item.rb
  app/models/training_module.rb
  app/views/content_pages/interruption_page.html.slim
  app/views/formative_assessments/show.html.slim
  app/views/questionnaires/show.html.slim
  app/views/shared/_course_pages_footer.html.slim
  app/views/training_modules/index.html.slim
  config/locales/en.yml
  config/locales/modules/alpha.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/bravo.yml
  config/locales/modules/charlie.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  config/locales/modules/test.yml
  data/modules/alpha.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/bravo.yml
  data/modules/charlie.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/personal-social-and-emotional-development.yml
  data/modules/test.yml
  spec/helpers/application_helper_spec.rb
  spec/models/content_page_spec.rb
  spec/models/training_module_spec.rb
  spec/system/render_govspeak_spec.rb
Labels: frontend, deployed, content

#169 Er 270 module overview
  app/assets/stylesheets/application.scss
  app/models/module_item.rb
  app/models/training_module.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  app/views/training_modules/_debug.html.slim
  app/views/training_modules/_wip.html.slim
  app/views/training_modules/index.html.slim
  app/views/training_modules/show.html.slim
  config/locales/en.yml
  config/locales/modules/alpha.yml
Labels: frontend, deployed, content

#174 Removed blockquote styling, added feedback links
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
Labels: content

#172 Added thumbnail images
  app/assets/images/1-thumb-1355279156.jpg
  app/assets/images/2-thumb-1203132106.jpg
  app/assets/images/3-thumb-1159321535.jpg
  app/assets/images/thumb-1161068272-320x240.jpg
  app/views/home/index.html.slim
  data/training-modules.yml
Labels: frontend, content

#160 Er 181 not received confirmation email
  app/controllers/confirmations_controller.rb
  app/views/devise/confirmations/new.html.slim
  app/views/user/check_email_confirmation.html.slim
  config/locales/en.yml
  config/routes.rb
  spec/system/registration_journey_spec.rb
Labels: deployed

#159 Er 232 automated unlock account email notification
  app/views/devise/unlocks/new.html.slim
  spec/system/locked_account_spec.rb
Labels: deployed

#166 Domain: child-development-training.education.gov.uk
  .github/workflows/production.yml
  terraform/workspace-variables/app_config.yml
Labels: terraform

#175 Initial commit for training module certificate
  app/assets/images/department-for-education-certificate.png
  app/assets/images/icon-print@1x.png
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/print-link.scss
  app/controllers/training_modules_controller.rb
  app/helpers/application_helper.rb
  app/helpers/content_helper.rb
  app/models/user.rb
  app/views/layouts/application.html.slim
  app/views/training_modules/certificate.html.slim
  app/views/training_modules/index.html.slim
  config/locales/modules/alpha.yml
  config/routes.rb
  data/demo-modules.yml
  data/training-modules.yml
  spec/models/training_module_spec.rb
Labels: frontend, deployed, content

#178 ER-274 Accessibility statement content
  config/locales/static/accessibility_statement.yml
Labels: deployed, content

#180 ER-283 add cookie policy content
  app/views/settings/cookie_policy.html.slim
  config/locales/settings/cookie_policy.yml
Labels: deployed

#177 ER-164 add content for terms and conditions
  app/views/static/terms_and_conditions.html.slim
  config/locales/static/terms_and_conditions.yml
Labels: deployed, content

#179 Peter's snags
  .yardopts
  README.md
  app/assets/stylesheets/application.scss
  app/controllers/training_modules_controller.rb
  app/decorators/module_overview_decorator.rb
  app/helpers/application_helper.rb
  app/javascript/application.js
  app/mailers/notify_mailer.rb
  app/models/content_page.rb
  app/models/module_item.rb
  app/models/training_module.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  app/views/content_pages/interruption_page.html.slim
  app/views/devise/registrations/new.html.slim
  app/views/devise/sessions/new.html.slim
  app/views/layouts/application.html.slim
  app/views/learning/_card.html.slim
  app/views/learning/show.html.slim
  app/views/training_modules/_debug.html.slim
  app/views/training_modules/_wip.html.slim
  app/views/training_modules/index.html.slim
  app/views/training_modules/show.html.slim
  app/views/user/check_email_password_reset.html.slim
  config/locales/devise.en.yml
  config/locales/en.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/bravo.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/personal-social-and-emotional-development.yml
  spec/decorators/module_overview_decorator_spec.rb
  spec/requests/user_spec.rb
  spec/services/course_progress_spec.rb
  spec/services/module_progress_spec.rb
  spec/support/shared/with_progress.rb
  spec/system/confirmed_users_completing_registration_spec.rb
  spec/system/my_learning_spec.rb
  spec/system/registration_journey_spec.rb
  terraform/workspace-variables/app_config.yml
  ui/sections/header.rb
Labels: documentation, terraform, frontend, deployed, content

#154 Summarise KPI events
  adr/0000-template.md
  adr/0001-use-ruby-on-rails.md
  adr/0002-use-docker.md
  adr/0003-video-hosting-platform.md
  adr/0004-authentication-technology.md
  adr/0005-content-storage-strategy.md
  adr/0006-secrets-management.md
  adr/0007-deployment-environments.md
  adr/0008-linting.md
  adr/0009-trivy.md
  adr/0010-postcodes.md
  adr/0011-event-tracking.md
  app/controllers/application_controller.rb
  app/controllers/content_pages_controller.rb
  app/controllers/errors_controller.rb
  app/controllers/extra_registrations_controller.rb
  app/controllers/home_controller.rb
  app/controllers/learning_controller.rb
  app/controllers/static_controller.rb
  app/controllers/training_modules_controller.rb
  app/controllers/user_controller.rb
  app/views/ahoy/events/_event.html.slim
  data/kpi_readme.md
Labels: ADR

#189 Moved the feedback form link to after the confidence check
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
Labels: content

#191 Various snags
  app/controllers/training_modules_controller.rb
  app/controllers/user_controller.rb
  app/decorators/module_overview_decorator.rb
  app/services/course_progress.rb
  app/services/module_progress.rb
  app/views/static/accessibility_statement.html.slim
  app/views/static/contact.html.slim
  app/views/static/privacy_policy.html.slim
  app/views/static/terms_and_conditions.html.slim
  app/views/training_modules/certificate.html.slim
  app/views/user/check_email_confirmation.html.slim
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/locales/devise.en.yml
  config/locales/en.yml
  config/locales/static/privacy_policy.yml
  spec/system/registration_journey_spec.rb
  spec/system/sign_in_spec.rb
Labels: deployed, content

#184 Add setting type to registration journey
  app/controllers/extra_registrations_controller.rb
  app/controllers/user_controller.rb
  app/forms/users/setting_form.rb
  app/models/user.rb
  app/views/extra_registrations/_setting.html.slim
  config/locales/en.yml
  db/migrate/20220623134456_add_setting_type_to_users.rb
  db/schema.rb
  db/seeds/users.yml
  spec/factories/users.rb
  spec/requests/extra_registrations_spec.rb
  spec/system/confirmed_users_completing_registration_spec.rb
Labels: deployed

#195 Updates to training module description bullet points, so that they ma…
  data/training-modules.yml
Labels: content

#196 Helen snagging 27jun
  app/views/training_modules/certificate.html.slim
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  config/locales/settings/cookie_policy.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/personal-social-and-emotional-development.yml
  data/questionnaires/brain-development-and-how-children-learn.yml
  data/questionnaires/child-development-and-the-eyfs.yml
  data/questionnaires/personal-social-and-emotional-development.yml
Labels: content

#183 create account journey content changes
  app/views/devise/registrations/edit.html.slim
  app/views/devise/registrations/new.html.slim
  config/locales/en.yml
  spec/system/forgotten_password_spec.rb
  spec/system/registered_user/changing_password_spec.rb
  spec/system/sign_up_spec.rb
Labels: deployed

#188 add feedback link
  app/views/layouts/_footer.html.slim
  app/views/layouts/application.html.slim
  spec/system/feedback_form_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed

#197 contact us form links & other problems signing in
  app/views/devise/sessions/new.html.slim
  app/views/layouts/_footer.html.slim
  app/views/static/contact.html.slim
  app/views/static/other_problems_signing_in.html.slim
  app/views/static/privacy_policy.html.slim
  app/views/user/check_email_confirmation.html.slim
  app/views/user/check_email_password_reset.html.slim
  config/locales/static/contact.yml
  config/locales/static/other_problems_signing_in.yml
  spec/requests/static_spec.rb
  spec/system/forgotten_password_spec.rb
Labels: deployed, content

#190 add links with correct styling
  config/locales/static/accessibility_statement.yml
  config/locales/static/privacy_policy.yml
  config/locales/static/terms_and_conditions.yml
Labels: deployed, content

#185 Additional content changes
  app/controllers/user_controller.rb
  app/views/devise/passwords/edit.html.slim
  app/views/devise/passwords/new.html.slim
  app/views/extra_registrations/_setting.html.slim
  config/locales/devise.en.yml
  config/locales/en.yml
  spec/controllers/user_controller_spec.rb
  spec/system/forgotten_password_spec.rb
  spec/system/registered_user/changing_password_spec.rb
Labels: deployed

#199 Updated journey for course progress
  .github/workflows/production.yml
  .github/workflows/qa-docker-compose.yml
  app/assets/images/dfe-logo-220.jpg
  app/helpers/application_helper.rb
  app/views/confidence_checks/show.html.slim
  app/views/training_modules/certificate.html.slim
  app/views/training_modules/show.html.slim
  config/locales/en.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/modules/personal-social-and-emotional-development.yml
  data/questionnaires/brain-development-and-how-children-learn.yml
  data/summative-questionnaires/brain-development-and-how-children-learn.yml
Labels: frontend, content

#171 Er 193 interim data spike
  .github/workflows/production.yml
  .github/workflows/qa-docker-compose.yml
  Dockerfile
  app/models/confidence_questionnaire.rb
  app/models/summative_questionnaire.rb
  db/seeds/interim_data.yml
  lib/seed_interim_users.rb
  lib/tasks/interim_data.rake
  spec/lib/seed_interim_users_spec.rb
Labels: deployed

#181 Introduce the 'activation_instructions' email
  app/controllers/confirmations_controller.rb
  app/mailers/notify_mailer.rb
  app/models/user.rb
  app/views/user/check_email_confirmation.html.slim
  config/locales/devise.en.yml
  config/locales/en.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  spec/mailers/notify_mailer_spec.rb
  spec/system/registration_journey_spec.rb
Labels: deployed, content

#200 Er 305 create cookie banner
  Gemfile
  Gemfile.lock
  app/controllers/settings_controller.rb
  app/views/layouts/_cookie_banner.html.slim
  app/views/layouts/application.html.slim
  app/views/settings/cookie_policy.html.slim
  config/locales/en.yml
  config/locales/settings/cookie_policy.yml
  config/routes.rb
  spec/rails_helper.rb
  spec/system/cookies_spec.rb
  ui/pages/edit_name.rb
  ui/pages/sign_in.rb
Labels: deployed

#201 Fix interrupt page on mobile
  app/views/content_pages/interruption_page.html.slim
  app/views/layouts/_footer.html.slim
Labels: deployed
