Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2022-10, with the labels that each got.

#312 Reinstate new versions of 3 videos
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/module-4.yml
  data/modules/personal-social-and-emotional-development.yml
  data/video-transcripts/756356870.yml
  data/video-transcripts/756701208.yml
  data/video-transcripts/756702487.yml
  data/video-transcripts/756703837.yml
  data/video-transcripts/756705363.yml
Labels: deployed, content

#310 ER-454 Notify url in email_taken is wrong
  app/mailers/notify_mailer.rb
Labels: deployed

#314 ER-457 Data integrity and refactor
  app/controllers/content_pages_controller.rb
  app/models/assessment_results_page.rb
  app/models/certificate_page.rb
  app/models/common_page.rb
  app/models/content_page.rb
  app/models/module_item.rb
  app/models/training_module.rb
  app/models/video_page.rb
  app/views/assessment_results/show.html.slim
  app/views/content_pages/_embedded_video.html.slim
  app/views/content_pages/icons_page.html.slim
  app/views/content_pages/interruption_page.html.slim
  app/views/content_pages/intro_page.html.slim
  app/views/content_pages/text_page.html.slim
  app/views/govspeak/_embedded_video.html.slim
  app/views/govspeak/_video.html.slim
  config/initializers/govspeak.rb
  config/locales/en.yml
  config/locales/modules/alpha.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/bravo.yml
  config/locales/modules/charlie.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/modules/alpha.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/bravo.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/module-4.yml
  data/modules/personal-social-and-emotional-development.yml
  spec/data_sanity_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/models/common_page_spec.rb
  spec/models/content_page_spec.rb
  spec/models/video_page_spec.rb
  spec/support/matchers/be_publishable.rb
  spec/support/shared/with_content.rb
  spec/system/common_page_spec.rb
  spec/system/confidence_check_spec.rb
  spec/system/ending_intro_spec.rb
  spec/system/page_title_spec.rb
  spec/system/render_govspeak_spec.rb
Labels: deployed, content

#313 ER-460 Give formative questions new style
  app/assets/stylesheets/question.scss
  app/models/question.rb
  app/models/questionnaire.rb
  app/views/questionnaires/_confidence_questionnaire_radio_buttons.html.slim
  app/views/questionnaires/_formative_questionnaire_check_boxes.html.slim
  app/views/questionnaires/_formative_questionnaire_radio_buttons.html.slim
  app/views/questionnaires/_summative_questionnaire_check_boxes.html.slim
  app/views/questionnaires/_summative_questionnaire_radio_buttons.html.slim
  app/views/questionnaires/show.html.slim
  data/formative-questionnaires/brain-development-and-how-children-learn.yml
  data/formative-questionnaires/child-development-and-the-eyfs.yml
  data/formative-questionnaires/module-4.yml
  data/formative-questionnaires/personal-social-and-emotional-development.yml
Labels: frontend, deployed, content

#315 ER-382 failed assessment result links wrong colour
  app/assets/stylesheets/application.scss
  app/views/assessment_results/show.html.slim
  data/summative-questionnaires/alpha.yml
  spec/system/summative_questionnaire_spec.rb
Labels: frontend, deployed, content

#318 ER-469 cancel buttons on my account page not styled correctly
  app/views/user/edit_email.html.slim
  app/views/user/edit_name.html.slim
  app/views/user/edit_ofsted_number.html.slim
  app/views/user/edit_password.html.slim
  app/views/user/edit_postcode.html.slim
  app/views/user/edit_setting_type.html.slim
Labels: deployed

#321 Three new transcripts
  data/video-transcripts/756356870.yml
  data/video-transcripts/756703837.yml
  data/video-transcripts/756705363.yml
Labels: deployed, content

#316 Jenny non urgent pbmk2 amends
  config/locales/en.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/formative-questionnaires/child-development-and-the-eyfs.yml
  data/formative-questionnaires/module-4.yml
  data/formative-questionnaires/personal-social-and-emotional-development.yml
  data/summative-questionnaires/child-development-and-the-eyfs.yml
Labels: content

#323 ER-468 Future modules section in my modules page
  app/views/learning/_card.html.slim
  app/views/learning/show.html.slim
  spec/system/my_learning_spec.rb
Labels: deployed

#331 Er 484 accessible card component
  app/assets/stylesheets/card.scss
  app/helpers/link_helper.rb
  app/views/learning/_card.html.slim
Labels: frontend, deployed

#334 Architectural decision record for usage of Active Data Encryption to …
  adr/0013-sensitive-data-encryption.md
  adr/README.md
Labels: ADR
