Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-09, with the labels that each got.

#800 [ER-808] security incident
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
Labels: deployed

#805 ER-790: Azure Refinements
  .github/workflows/tf-azure-deploy.yml
  docker-entrypoint.sh
  terraform-azure/local.tf
  terraform-azure/main.tf
  terraform-azure/terraform-azure-web/appgateway.tf
  terraform-azure/terraform-azure-web/variables.tf
  terraform-azure/terraform-azure-web/webapp.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

#809 ER-790: Azure Refinements
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

#812 ER-790: Azure Refinements
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

#813 ER-790: Azure Refinements
  .github/workflows/tf-azure-deploy.yml
  terraform-azure/terraform.tf
Labels: terraform, pipeline

#814 ER-790: Terraform Authentication
  .github/workflows/tf-azure-deploy.yml
  terraform-azure/main.tf
  terraform-azure/terraform.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

#747 Er 661 new module email
  .rubocop_todo.yml
  app/controllers/application_controller.rb
  app/controllers/hook_controller.rb
  app/jobs/application_job.rb
  app/jobs/complete_registration_mail_job.rb
  app/jobs/content_check_job.rb
  app/jobs/continue_training_mail_job.rb
  app/jobs/dashboard_job.rb
  app/jobs/fill_page_views_job.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/jobs/start_training_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/ahoy/visit.rb
  app/models/data/user_overview.rb
  app/models/module_release.rb
  app/models/user.rb
  app/services/course_progress.rb
  app/views/user/show.html.slim
  config/application.rb
  config/initializers/que.rb
  db/migrate/20230823163600_create_module_releases.rb
  db/schema.rb
  spec/factories/module_releases.rb
  spec/factories/releases.rb
  spec/factories/training_module.rb
  spec/jobs/complete_registration_mail_job_spec.rb
  spec/jobs/continue_training_mail_job_spec.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
  spec/mailers/notify_mailer_spec.rb
  spec/models/data/user_overview_spec.rb
  spec/support/shared/email_prompt.rb
Labels: deployed

#815 ER-790: Azure Refinements
  .github/workflows/tf-azure-deploy.yml
  terraform-azure/main.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

#819 ER-790: Move OIDC auth to workflow
  .github/workflows/tf-azure-deploy.yml
  terraform-azure/main.tf
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-web/webapp.tf
Labels: terraform, pipeline

#827 ER-790: Environment startup commands
  .github/workflows/azure-deploy-review-teardown.yml
  .github/workflows/azure-deploy-review.yml
  docker-entrypoint.sh
Labels: pipeline

#839 ER-716: Production workflow
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/tf-azure-deploy.yml
  .github/workflows/tf-azure-unit-tests.yml
  terraform-azure/terraform-azure-remote-state/main.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

#838 fix email preference text on account page
  app/views/user/show.html.slim
Labels: deployed

#810 ER 743 control module structure
  app/controllers/training/responses_controller.rb
  app/decorators/module_overview_decorator.rb
  app/decorators/module_progress_bar_decorator.rb
  app/models/concerns/content_types.rb
  app/models/concerns/management.rb
  app/models/concerns/pagination.rb
  app/models/training/content.rb
  app/models/training/module.rb
  app/models/training/question.rb
  app/services/content_integrity.rb
  app/views/training/questions/_debug.html.slim
  cms/migrate/01-create-page.js
  cms/migrate/02-create-question.js
  cms/migrate/03-create-video.js
  config/initializers/contentful_rails.rb
  lib/content_test_schema.rb
  spec/controllers/training/responses_controller_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/decorators/module_progress_bar_decorator_spec.rb
  spec/factories/response.rb
  spec/helpers/link_helper_spec.rb
  spec/lib/content_test_schema_spec.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/concerns/pagination_spec.rb
  spec/models/training/module_spec.rb
  spec/models/training/page_spec.rb
  spec/models/training/question_spec.rb
  spec/models/training/response_spec.rb
  spec/models/training/video_spec.rb
  spec/requests/training_content_spec.rb
  spec/services/assessment_progress_spec.rb
  spec/services/content_integrity_spec.rb
  spec/support/ast/alpha-fail.yml
  spec/support/ast/alpha-pass.yml
  spec/support/ast/schema.rb
  spec/support/shared/with_progress.rb
  spec/system/assessment_results_spec.rb
  spec/system/common_page_spec.rb
  spec/system/event_log_spec.rb
  spec/system/formative_question_spec.rb
  spec/system/module_overview_content_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/page_title_spec.rb
  spec/system/progress_bar_spec.rb
  spec/system/summative_assessment_spec.rb
  spec/system/training_module_completion_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed, content

#852 Big quote markup using bespoke Govspeak tag
  app/assets/stylesheets/quote.scss
  app/views/govspeak/_quote.html.slim
  config/initializers/govspeak.rb
  spec/helpers/content_helper_spec.rb
Labels: frontend, deployed

#801 Migrate user answers to response
  Gemfile.lock
  app/controllers/training/responses_controller.rb
  app/models/data/confidence_check_scores.rb
  app/models/data/high_fail_questions.rb
  app/models/response.rb
  app/models/training/answer.rb
  app/models/training/question.rb
  app/services/dashboard.rb
  db/migrate/20230724160222_add_schema_to_responses.rb
  db/schema.rb
  lib/tasks/data.rake
  spec/factories/response.rb
  spec/models/data/confidence_check_scores_spec.rb
  spec/models/data/high_fail_questions_spec.rb
  spec/models/response_spec.rb
  spec/models/training/question_spec.rb
  spec/services/dashboard_spec.rb
Labels: deployed

#865 Remove Azure app gateway restriction for Contentful API content types
  terraform-azure/terraform-azure-web/appgateway.tf
Labels: terraform, deployed
