Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-01, with the labels that each got.

#447 Added 2 in your settings
  config/locales/modules/child-development-and-the-eyfs.yml
Labels: deployed, content

#460 ER-551 revert error 503
  app/views/errors/internal_server_error.html.slim
Labels: deployed

#487 Fix Docker deployment by pinning action version
  .github/workflows/content.yml
  .github/workflows/development.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  Gemfile.lock
  manifest.yml
  terraform/app/modules/paas/inputs.tf
  terraform/app/modules/paas/main.tf
  terraform/app/terraform.tf
Labels: terraform, deployed, pipeline

#473 ER-594 hotjar personal data redaction
  README.md
  adr/0014-hotjar.md
  adr/ADR.md
  app/helpers/content_helper.rb
  app/views/content_pages/certificate.html.slim
  app/views/notes/_note.html.slim
  app/views/registration/local_authorities/edit.html.slim
  app/views/registration/role_types/edit.html.slim
  app/views/registration/setting_types/edit.html.slim
  app/views/user/show.html.slim
  config/initializers/content_security_policy.rb
Labels: documentation, adr, deployed

#459 ER-544, ER-541, ER-532 module overview page changes
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/module-overview.scss
  app/controllers/content_pages_controller.rb
  app/decorators/module_overview_decorator.rb
  app/helpers/content_helper.rb
  app/helpers/date_helper.rb
  app/helpers/link_helper.rb
  app/models/training_module.rb
  app/views/content_pages/certificate.html.slim
  app/views/shared/_module_overview_section.html.slim
  app/views/shared/_module_overview_subsection.html.slim
  app/views/training_modules/show.html.slim
  config/locales/en.yml
  spec/helpers/date_helper_spec.rb
  spec/system/confidence_check_spec.rb
  spec/system/event_log_spec.rb
  spec/system/formative_questionnaire_spec.rb
  spec/system/module_overview_content_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/summative_questionnaire_spec.rb
Labels: frontend, deployed

#478 ER-519 Update my account page multiple local authorities
  app/assets/stylesheets/module-overview.scss
  app/models/user.rb
  app/views/training_modules/show.html.slim
  app/views/user/show.html.slim
Labels: frontend, deployed

#317 Er 346 account deletion
  .github/workflows/ci.yml
  app/controllers/close_accounts_controller.rb
  app/mailers/notify_mailer.rb
  app/models/user.rb
  app/views/close_accounts/confirm.html.slim
  app/views/close_accounts/edit_reason.html.slim
  app/views/close_accounts/new.html.slim
  app/views/close_accounts/show.html.slim
  app/views/user/show.html.slim
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  db/migrate/20230117091239_add_account_closed_fields_to_users.rb
  db/schema.rb
  spec/mailers/notify_mailer_spec.rb
  spec/models/user_spec.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: deployed, pipeline

#480 ER-518 email validation check
  config/initializers/devise.rb
  spec/system/sign_up_spec.rb
Labels: deployed

#485 Removed 2-1-2-3a
  config/locales/modules/brain-development-and-how-children-learn.yml
  data/modules/brain-development-and-how-children-learn.yml
Labels: deployed, content

#494 Account deletion hotfix
  app/controllers/application_controller.rb
  app/controllers/close_accounts_controller.rb
  app/mailers/notify_mailer.rb
  app/models/user.rb
  app/views/close_accounts/new.html.slim
  config/application.rb
  spec/mailers/notify_mailer_spec.rb
Labels: deployed
