Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-03, with the labels that each got.

#545 Add policy for auto-scaling
  .github/workflows/production.yml
  README.md
  policy.json
Labels: documentation, pipeline

#528 ER-412 wrong error component on assessments
  app/assets/stylesheets/prompt.scss
  app/controllers/questionnaires_controller.rb
  app/controllers/training/questionnaires_controller.rb
  app/helpers/link_helper.rb
  app/views/questionnaires/_formative_questionnaire_check_boxes.html.slim
  app/views/questionnaires/_formative_questionnaire_radio_buttons.html.slim
  app/views/questionnaires/show.html.slim
  app/views/training/questionnaires/_formative_questionnaire_check_boxes.html.slim
  app/views/training/questionnaires/_formative_questionnaire_radio_buttons.html.slim
  app/views/training/questionnaires/show.html.slim
  spec/system/formative_questionnaire_spec.rb
  spec/system/summative_questionnaire_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, frontend, deployed

#553 Fix alerts on asset pipeline
  config/puma.rb
  docker-compose.yml
  terraform/app/variables.tf
  terraform/workspace-variables/app_config.yml
  terraform/workspace-variables/content.tfvars
  terraform/workspace-variables/development.tfvars
  terraform/workspace-variables/production.tfvars
Labels: terraform, deployed

#547 Mimic CMS workflow using dev/staging
  terraform/workspace-variables/app_config.yml
Labels: terraform

#552 Background jobs for CSV files
  .env.example
  .github/workflows/ci.yml
  .rubocop_todo.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  adr/0014-user-tracking.md
  adr/0015-background-jobs.md
  adr/ADR.md
  app/jobs/dashboard_job.rb
  app/jobs/fill_page_views_job.rb
  app/models/ahoy/event.rb
  app/models/ahoy/visit.rb
  app/models/concerns/to_csv.rb
  app/models/user.rb
  app/models/user_answer.rb
  app/models/user_assessment.rb
  app/services/dashboard.rb
  bin/docker-jobs
  config/application.rb
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/environments/test.rb
  config/initializers/que.rb
  data/KPI.md
  db/migrate/20230223151527_create_que_schema.rb
  db/migrate/20230224151527_create_que_scheduler_schema.rb
  db/schema.rb
  db/structure.sql
  docker-compose.dev.yml
  lib/fill_page_views.rb
  lib/tasks/eyfs.rake
  spec/models/ahoy/event_spec.rb
  spec/models/user_spec.rb
  spec/services/dashboard_spec.rb
  terraform/app/modules/paas/inputs.tf
  terraform/app/modules/paas/locals.tf
  terraform/app/modules/paas/main.tf
  terraform/app/terraform.tf
  terraform/app/variables.tf
  terraform/workspace-variables/app_config.yml
  terraform/workspace-variables/production.tfvars
Labels: documentation, adr, terraform, deployed, pipeline

#559 Install plugin to set autoscale policy
  .github/workflows/production.yml
Labels: pipeline

#558 CMS testing on staging
  app/controllers/contentful/base_controller.rb
  app/models/training/content.rb
  app/models/training/module.rb
  config/application.rb
  config/initializers/contentful_rails.rb
  docker-compose.test.yml
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed

#564 Added new animated video at 2-1-1-2video
  config/locales/modules/brain-development-and-how-children-learn.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/video-transcripts/807903195.yml
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed, content

#560 ER-595 Contentful content integrity
  .env.example
  .github/workflows/ci.yml
  .rubocop_todo.yml
  app/controllers/contentful/base_controller.rb
  app/jobs/content_check_job.rb
  app/models/training/content.rb
  app/services/contentful_data_integrity.rb
  config/initializers/contentful_rails.rb
  lib/tasks/cms.rake
  lib/tasks/eyfs.rake
  spec/cms/services/contentful_data_integrity_spec.rb
  spec/contentful/config_spec.rb
  spec/data_sanity_spec.rb
Labels: pipeline

#571 Disable CMS
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed

#510 ER-609 Move static pages to contentful
  .rubocop_todo.yml
  app/controllers/contentful/static_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/settings_controller.rb
  app/controllers/static_controller.rb
  app/helpers/application_helper.rb
  app/helpers/link_helper.rb
  app/models/contentful/static.rb
  app/models/page.rb
  app/views/contentful/static/show.html.slim
  app/views/layouts/_footer.html.slim
  app/views/layouts/application.html.slim
  app/views/pages/_debug.html.slim
  app/views/pages/accessibility_statement.html.slim
  app/views/pages/new_registration.html.slim
  app/views/pages/other_problems_signing_in.html.slim
  app/views/pages/privacy_policy.html.slim
  app/views/pages/promotional_materials.html.slim
  app/views/pages/show.html.slim
  app/views/pages/sitemap.html.slim
  app/views/pages/terms_and_conditions.html.slim
  app/views/pages/whats_new.html.slim
  app/views/pages/wifi_and_data.html.slim
  app/views/settings/cookie_policy.html.slim
  app/views/static/other_problems_signing_in.html.slim
  cms/migrate/05-add-footer-checkbox-to-static.js
  config/initializers/contentful_rails.rb
  config/locales/en.yml
  config/locales/static/accessibility_statement.yml
  config/locales/static/new_registration.yml
  config/locales/static/other_problems_signing_in.yml
  config/locales/static/privacy_policy.yml
  config/locales/static/promotional_materials.yml
  config/locales/static/sitemap.yml
  config/locales/static/terms_and_conditions.yml
  config/locales/static/whats_new.yml
  config/locales/static/wifi_and_data.yml
  config/routes.rb
  config/sitemap.rb
  lib/seed_course_entries.rb
  lib/seed_static_page_entries.rb
  lib/tasks/cms.rake
  spec/requests/static_spec.rb
  spec/system/errors_spec.rb
  spec/system/page_title_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed, content

#582 Remove fix for hotwire/turbo and devise
  app/controllers/turbo_devise_controller.rb
  config/initializers/devise.rb
Labels: deployed
