Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-04, with the labels that each got.

#573 ER-627 Fix accessibility testing and support CMS content
  app/models/module_item.rb
  app/views/pages/show.html.slim
  cms/migrate/00-create-static.js
  cms/migrate/05-add-footer-checkbox-to-static.js
  config/locales/static/promotional_materials.yml
  config/locales/static/sitemap.yml
  config/sitemap.rb
Labels: deployed, content

#587 Fixes and tests
  .github/workflows/cms.yml
  app/helpers/content_helper.rb
  config/application.rb
  config/puma.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed, pipeline

#554 Health check timeouts
  terraform/app/modules/paas/main.tf
Labels: terraform, deployed

#589 Toggle CMS off in staging
  terraform/workspace-variables/app_config.yml
Labels: terraform

#590 Enable staging cms
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed

#591 A11y testing
  .pa11yci
  app/controllers/application_controller.rb
  app/views/content_pages/_debug.html.slim
  app/views/home/index.html.slim
  app/views/layouts/_timeout.html.slim
  app/views/learning/_cms_debug.html.slim
  app/views/learning/_debug.html.slim
  app/views/pages/_debug.html.slim
  app/views/questionnaires/_questionnaire_debug.html.slim
  app/views/shared/_progress_bar.html.slim
  app/views/training/modules/_debug.html.slim
  app/views/training/pages/_debug.html.slim
  app/views/training/questionnaires/_questionnaire_debug.html.slim
  app/views/training_modules/_debug.html.slim
  app/views/user/_debug.html.slim
  app/views/user/show.html.slim
  config/application.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed

#597 ER-633 Update time zone to accommodate BST
  Dockerfile
  Gemfile
  Gemfile.lock
  config/application.rb
  spec/cms/config_spec.rb
  spec/cms/services/contentful_module_progress_spec.rb
  spec/config_spec.rb
  spec/services/course_progress_spec.rb
  spec/services/module_progress_spec.rb
Labels: deployed

#611 Update user to_csv
  .github/workflows/ci.yml
  app/models/user.rb
  spec/models/user_spec.rb
Labels: pipeline
