Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-08, with the labels that each got.

#746 ER-706: Configuration for Azure Test Subscription
  .github/workflows/tf-azure-deploy.yml
  terraform-azure/terraform-azure-remote-state/README.md
  terraform-azure/terraform-azure-remote-state/main.tf
  terraform-azure/terraform.tf
Labels: terraform, pipeline

#744 ER-742 CMS microcopy resources
  app/controllers/settings_controller.rb
  app/controllers/snippets_controller.rb
  app/forms/users/base_form.rb
  app/helpers/content_helper.rb
  app/models/page/resource.rb
  app/views/home/index.html.slim
  app/views/layouts/application.html.slim
  app/views/notes/show.html.slim
  app/views/registration/local_authorities/edit.html.slim
  app/views/registration/setting_types/edit.html.slim
  app/views/settings/cookie_policy.html.slim
  app/views/training/modules/index.html.slim
  app/views/training/modules/show.html.slim
  app/views/user/check_email_confirmation.html.slim
  app/views/user/check_email_password_reset.html.slim
  cms/CONTENTFUL.md
  cms/migrate/05-create-resource.js
  config/initializers/contentful_rails.rb
  config/initializers/i18n.rb
  config/locales/en.yml
  config/locales/settings/cookie_policy.yml
  config/routes.rb
  lib/seed_snippets.rb
  lib/tasks/cms.rake
  spec/helpers/content_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/models/common_page_spec.rb
  spec/models/content_page_spec.rb
  spec/models/module_item_spec.rb
  spec/models/video_page_spec.rb
Labels: documentation, deployed, content

#760 ER-709: Azure - Stop overriding GitHub Action Permissions
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-review-teardown.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

#773 ER-697: Azure - Patch Workflows
  .github/workflows/azure-deploy-review.yml
  .github/workflows/tf-azure-deploy.yml
  terraform-azure/terraform-azure-database/main.tf
Labels: terraform, pipeline

#791 Restore content on experts used in /about-training accordion
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: deployed

#798 New credentials files
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
Labels: deployed
