Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-11, with the labels that each got.

#942 Mobile finessing
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/card.scss
  app/assets/stylesheets/dfe-header.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/section-intro.scss
  app/controllers/training/modules_controller.rb
Labels: frontend, review

#922 Refactor docker entrypoint
  .docker-profile
  Dockerfile
  docker-entrypoint.sh
Labels: review

#938 Use aria labels on change links instead of hiding text on account page
  app/views/user/show.html.slim
Labels: review

#936 Change label text for audit and move to locales
  app/helpers/link_helper.rb
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: review

#945 Comment out workflow triggers for old platform
  .github/workflows/content.yml
  .github/workflows/development.yml
  .github/workflows/staging.yml
Labels: deployed

#918 Additional password security
  Gemfile
  Gemfile.lock
  app/helpers/content_helper.rb
  app/models/user.rb
  config/initializers/devise_security.rb
  config/locales/devise.en.yml
  config/locales/devise.security_extension.en.yml
  config/locales/en.yml
  db/seeds/users.yml
  lib/tasks/eyfs.rake
  spec/controllers/user_controller_spec.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/system/forgotten_password_spec.rb
  spec/system/registered_user/changing_password_spec.rb
  spec/system/registered_user/closing_account_spec.rb
  spec/system/sign_in_spec.rb
  ui/pages/sign_in.rb
Labels: deployed, review

#941 ER-815 Service Unavailable Page
  .env.example
  app/controllers/application_controller.rb
  config/application.rb
  spec/system/maintenance_spec.rb
Labels: review

#939 ER-809 New home page with hero
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/assets-page.scss
  app/assets/stylesheets/dfe-header.scss
  app/assets/stylesheets/icons.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/question.scss
  app/controllers/home_controller.rb
  app/views/home/_debug.html.slim
  app/views/home/_hero.html.slim
  app/views/home/index.html.slim
  app/views/layouts/_footer.html.slim
  app/views/training/modules/index.html.slim
  config/application.rb
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend, review

#948 Change link text instead of adding labels on my account
  app/views/user/show.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: review

#951 ER-884 My account page
  app/views/user/show.html.slim
Labels: review

#949 ADR for password complexity
  adr/0016-devise-security-and-pwned-password-gems.md
  adr/ADR.md
  config/locales/en.yml
  db/seeds/users.yml
  lib/tasks/eyfs.rake
  spec/controllers/user_controller_spec.rb
  spec/factories/users.rb
  spec/lib/seed_snippets_spec.rb
  spec/system/registered_user/changing_password_spec.rb
  spec/system/sign_in_spec.rb
  ui/pages/sign_in.rb
Labels: adr, review

#954 Footer links to CMS resources
  app/views/layouts/_footer.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: review

#956 Trigger pa11y after Azure Dev not GPaaS
  .github/workflows/ci.yml
  .github/workflows/pa11y.yml
  README.md
Labels: documentation, pipeline

#963 Enable maintenance page
  terraform/workspace-variables/app_config.yml
Labels: terraform

#965 Revise maintenance page feature
  .env.example
  .github/workflows/content.yml
  .github/workflows/development.yml
  app/controllers/application_controller.rb
  app/services/content_integrity.rb
  config/application.rb
  spec/system/maintenance_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed, pipeline, review

#969 ER-864 Pin progress bar to bottom of card
  app/assets/stylesheets/card.scss
Labels: frontend, review
