Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-02, with the labels that each got.

#495 Er 478 assets page
  .env.example
  .github/workflows/ci.yml
  Gemfile
  Gemfile.lock
  README.md
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/assets-page.scss
  app/controllers/contentful/base_controller.rb
  app/controllers/contentful/static_controller.rb
  app/decorators/module_overview_decorator.rb
  app/helpers/link_helper.rb
  app/models/contentful/static.rb
  app/views/contentful/static/show.html.slim
  app/views/layouts/application.html.slim
  app/views/static/accessibility_statement.html.slim
  config/application.rb
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/initializers/content_security_policy.rb
  config/initializers/contentful_rails.rb
  config/routes.rb
  config/sitemap.rb
  scripts/migrate.sh
  scripts/migrations/01-create-static.js
  spec/contentful/config_spec.rb
  spec/requests/static_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: documentation, terraform, frontend, deployed, pipeline

#498 [ER-578] Remove unwanted pages and add content to course description
  app/controllers/content_pages_controller.rb
  app/decorators/module_overview_decorator.rb
  app/decorators/module_progress_bar_decorator.rb
  app/models/module_item.rb
  app/models/training_module.rb
  app/services/module_progress.rb
  app/views/content_pages/icons_page.html.slim
  app/views/content_pages/interruption_page.html.slim
  app/views/training_modules/show.html.slim
  config/locales/en.yml
  config/locales/modules/alpha.yml
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/bravo.yml
  config/locales/modules/charlie.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/modules/alpha.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/bravo.yml
  data/modules/charlie.yml
  data/modules/child-development-and-the-eyfs.yml
  data/modules/module-4.yml
  data/modules/personal-social-and-emotional-development.yml
  data/training-modules.yml
  spec/data_sanity_spec.rb
  spec/decorators/module_overview_decorator_spec.rb
  spec/decorators/module_progress_bar_decorator_spec.rb
  spec/lib/fill_page_views_spec.rb
  spec/models/training_module_spec.rb
  spec/services/module_progress_spec.rb
  spec/support/shared/with_content.rb
  spec/support/shared/with_progress.rb
  spec/system/content_page_spec.rb
  spec/system/event_log_spec.rb
  spec/system/learning_log_spec.rb
  spec/system/module_overview_content_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/my_learning_spec.rb
  spec/system/page_title_spec.rb
  spec/system/progress_bar_spec.rb
  spec/system/render_govspeak_spec.rb
Labels: deployed, content

#511 Remove deleted pages from sitemap
  app/decorators/module_progress_bar_decorator.rb
  config/sitemap.rb
Labels: deployed

#502 Policy amends to module 3
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/formative-questionnaires/personal-social-and-emotional-development.yml
  data/summative-questionnaires/personal-social-and-emotional-development.yml
Labels: deployed, content

#501 Policy critical amends for modules 1, 2 and 4
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/module-4.yml
  data/formative-questionnaires/module-4.yml
Labels: deployed, content

#512 Update local authority list
  data/local-authority.yml
Labels: content

#513 Amend to reflection point to remove 'consequences' wording
  config/locales/modules/personal-social-and-emotional-development.yml
Labels: deployed, content

#507 Videos for public beta hard launch
  config/locales/modules/brain-development-and-how-children-learn.yml
  config/locales/modules/module-4.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/modules/brain-development-and-how-children-learn.yml
  data/modules/module-4.yml
  data/modules/personal-social-and-emotional-development.yml
  data/video-transcripts/795566849.yml
  data/video-transcripts/795676593.yml
  data/video-transcripts/796281144.yml
  data/video-transcripts/796293701.yml
  data/video-transcripts/796316164.yml
  data/video-transcripts/796323329.yml
  data/video-transcripts/796655516.yml
Labels: deployed, content

#514 Change to consequences wording in reference to behaviour
  config/locales/modules/child-development-and-the-eyfs.yml
  config/locales/modules/personal-social-and-emotional-development.yml
  data/formative-questionnaires/personal-social-and-emotional-development.yml
Labels: deployed, content

#522 Production deployment changes
  .github/workflows/production.yml
Labels: deployed, pipeline

#527 Bump teardown workflow AWS action version
  .github/workflows/teardown.yml
Labels: pipeline

#536 ER-620 update content descriptions
  app/views/training/modules/index.html.slim
  app/views/training/modules/show.html.slim
  app/views/training_modules/index.html.slim
  app/views/training_modules/show.html.slim
  cms/migrate/05-prohibit-markdown-in-module-objective.js
  data/demo-modules.yml
  data/training-modules.yml
Labels: deployed, content
