Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-07, with the labels that each got.

#706 Remove early years email preferences
  app/controllers/registration/early_years_emails_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/models/user.rb
  app/views/layouts/application.html.slim
  app/views/user/show.html.slim
  config/application.rb
  config/locales/en.yml
  db/schema.rb
  lib/update_user.rb
  spec/controllers/registration/role_type_others_controller_spec.rb
  spec/controllers/registration/role_types_controller_spec.rb
  spec/controllers/registration/training_emails_controller_spec.rb
  spec/controllers/users/sessions_controller_spec.rb
  spec/factories/users.rb
  spec/forms/users/early_years_emails_form_spec.rb
  spec/lib/update_user_spec.rb
  spec/requests/registration/early_years_emails_spec.rb
  spec/requests/registration/role_type_others_spec.rb
  spec/requests/registration/role_types_spec.rb
  spec/requests/registration/training_emails_spec.rb
  spec/system/confirmed_user/completing_registration_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform

#696 ER-691: Host Web App in Azure
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/tf-azure-deploy-dev.yml
  docker-entrypoint.sh
  terraform-azure/main.tf
  terraform-azure/terraform-azure-database/main.tf
  terraform-azure/terraform-azure-network/main.tf
  terraform-azure/terraform-azure-network/outputs.tf
  terraform-azure/terraform-azure-web/LICENSE
  terraform-azure/terraform-azure-web/README.md
  terraform-azure/terraform-azure-web/main.tf
  terraform-azure/terraform-azure-web/variables.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

#713 [ER-757] Add language to my-modules page about non-linear flow
  app/views/learning/show.html.slim
Labels: deployed

#710 [ER-607] Skip email and password change notification when closing account
  app/models/user.rb
Labels: deployed

#724 ER-701: Azure - Logging
  terraform-azure/main.tf
  terraform-azure/terraform-azure-remote-state/main.tf
  terraform-azure/terraform-azure-web/main.tf
  terraform-azure/terraform-azure-web/variables.tf
Labels: terraform

#721 Switch on email prefs
  app/controllers/registration/early_years_emails_controller.rb
  app/controllers/registration/local_authorities_controller.rb
  app/controllers/registration/role_type_others_controller.rb
  app/controllers/registration/role_types_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/controllers/user_controller.rb
  app/models/user.rb
  app/views/registration/early_years_emails/edit.html.slim
  app/views/registration/training_emails/edit.html.slim
  app/views/user/edit_training_emails.html.slim
  app/views/user/show.html.slim
  config/application.rb
  config/locales/en.yml
  config/locales/static/email_preferences.yml
  config/routes.rb
  spec/controllers/registration/role_type_others_controller_spec.rb
  spec/controllers/registration/role_types_controller_spec.rb
  spec/controllers/users/sessions_controller_spec.rb
  spec/requests/registration/role_type_others_spec.rb
  spec/requests/registration/role_types_spec.rb
  spec/system/confirmed_user/completing_registration_spec.rb
Labels: content

#727 ER-698: Azure - Deploy Background Worker
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/tf-azure-deploy-dev.yml
  terraform-azure/local.tf
  terraform-azure/main.tf
  terraform-azure/terraform-azure-app/LICENSE
  terraform-azure/terraform-azure-app/README.md
  terraform-azure/terraform-azure-app/main.tf
  terraform-azure/terraform-azure-app/variables.tf
  terraform-azure/terraform-azure-database/variables.tf
  terraform-azure/terraform-azure-network/main.tf
  terraform-azure/terraform-azure-network/outputs.tf
  terraform-azure/terraform-azure-web/main.tf
  terraform-azure/terraform-azure-web/variables.tf
  terraform-azure/terraform.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

#740 ER-698: Script to deploy background worker
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/tf-azure-deploy-dev.yml
  terraform-azure/local.tf
  terraform-azure/main.tf
Labels: terraform, pipeline

#742 ER-697: Azure - Review Apps
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-review-teardown.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/tf-azure-deploy-dev.yml
  terraform-azure/local.tf
  terraform-azure/main.tf
  terraform-azure/terraform-azure-app/main.tf
  terraform-azure/terraform-azure-network/outputs.tf
  terraform-azure/terraform-azure-network/variables.tf
  terraform-azure/terraform-azure-review/LICENSE
  terraform-azure/terraform-azure-review/README.md
  terraform-azure/terraform-azure-review/main.tf
  terraform-azure/terraform-azure-review/variables.tf
  terraform-azure/terraform-azure-web/main.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline
