Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-12, with the labels that each got.

#986 ER-891 New module mailer update
  app/jobs/new_module_mail_job.rb
  app/models/user.rb
  lib/tasks/cms.rake
  spec/jobs/new_module_mail_job_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
Labels: review

#991 ER: Decomission GOV UK PaaS
  .github/workflows/content.yml
  .github/workflows/development.yml
  .github/workflows/production.yml
  .github/workflows/qa.yml
  .github/workflows/staging.yml
  .github/workflows/teardown.yml
  terraform/app/locals.tf
  terraform/app/modules/paas/data.tf
  terraform/app/modules/paas/inputs.tf
  terraform/app/modules/paas/locals.tf
  terraform/app/modules/paas/main.tf
  terraform/app/modules/paas/outputs.tf
  terraform/app/terraform.tf
  terraform/app/variables.tf
  terraform/workspace-variables/app_config.yml
  terraform/workspace-variables/content.tfvars
  terraform/workspace-variables/development.tfvars
  terraform/workspace-variables/production.tfvars
  terraform/workspace-variables/staging.tfvars
Labels: terraform, pipeline

#980 ER-876 gov one terms and conditions page
  app/controllers/application_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/sessions_controller.rb
  app/forms/registration/terms_and_conditions_form.rb
  app/helpers/gov_one_helper.rb
  app/views/registration/terms_and_conditions/edit.html.slim
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/authentication_spec.rb
  spec/system/confirmed_user/completing_registration_spec.rb
  spec/system/sign_in_spec.rb
Labels: review

#967 QA & A11y
  .github/workflows/pa11y.yml
  config/sitemap.rb
Labels: pipeline, review

#1009 ER-856 About Page
  app/assets/stylesheets/about.scss
  app/assets/stylesheets/application.scss
  app/controllers/about_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/training/modules_controller.rb
  app/views/about/_enrol.html.slim
  app/views/about/_hero.html.slim
  app/views/about/_sidebar.html.slim
  app/views/about/course.html.slim
  app/views/about/experts.html.slim
  app/views/about/show.html.slim
  app/views/home/_enrol_buttons.html.slim
  app/views/home/_hero.html.slim
  app/views/home/index.html.slim
  app/views/training/modules/index.html.slim
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  spec/controllers/about_controller_spec.rb
  spec/controllers/training/modules_controller_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/snippets_spec.rb
  spec/system/about_spec.rb
  spec/system/page_title_spec.rb
Labels: frontend, review

#1000 Update to users yml file
  config/application.rb
  db/seeds/users.yml
  lib/tasks/eyfs.rake
  spec/config_spec.rb
  spec/controllers/user_controller_spec.rb
  spec/factories/users.rb
  spec/system/registered_user/changing_password_spec.rb
  spec/system/sign_in_spec.rb
  ui/pages/sign_in.rb
Labels: bug

#917 ER-413 Gov one login Integration
  .yardopts
  Gemfile
  Gemfile.lock
  README.md
  adr/0017-gov-one-login.md
  adr/ADR.md
  app/assets/stylesheets/application.scss
  app/controllers/application_controller.rb
  app/controllers/gov_one_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/sessions_controller.rb
  app/forms/registration/terms_and_conditions_form.rb
  app/helpers/application_helper.rb
  app/helpers/gov_one_helper.rb
  app/models/user.rb
  app/services/gov_one_auth_service.rb
  app/views/gov_one/show.html.slim
  app/views/home/_chevron.html.slim
  app/views/home/_hero.html.slim
  app/views/home/index.html.slim
  app/views/registration/terms_and_conditions/edit.html.slim
  app/views/user/show.html.slim
  config/application.rb
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/initializers/devise.rb
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  db/migrate/20231031094611_add_id_token_to_users.rb
  db/migrate/20231031132907_rename_id_token_to_gov_one_id_in_users.rb
  db/schema.rb
  gov_one_login/GOV-ONE-LOGIN.md
  spec/controllers/users/omniauth_callbacks_controller_spec.rb
  spec/helpers/gov_one_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/models/user_spec.rb
  spec/requests/authentication_spec.rb
  spec/requests/bot_spec.rb
  spec/requests/registration/terms_and_conditions_spec.rb
  spec/services/gov_one_auth_service_spec.rb
  spec/system/account_page_spec.rb
  spec/system/confirmed_user/completing_registration_spec.rb
  spec/system/gov_one_info_spec.rb
  spec/system/registered_user/changing_password_spec.rb
  spec/system/sign_in_spec.rb
Labels: documentation, adr, frontend, deployed, review

#1019 ER-895 Local Authority User data discrepancy
  app/models/data_analysis/local_authority_user.rb
  spec/models/data_analysis/local_authority_user_spec.rb
Labels: bug
