Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-05, with the labels that each got.

#623 ER-628 CMS webhook security
  app/controllers/hook_controller.rb
  app/services/contentful_data_integrity.rb
  spec/cms/requests/webhooks_spec.rb
Labels: deployed

#616 ER-446 QA automation
  .env.example
  .github/workflows/ci.yml
  .github/workflows/qa.yml
  .github/workflows/staging.yml
  .gitignore
  .rubocop_todo.yml
  Gemfile.lock
  README.md
  app/models/training/answer.rb
  app/models/training/content.rb
  app/models/training/module.rb
  app/models/training/page.rb
  app/models/training/question.rb
  app/models/training/video.rb
  bin/docker-dev
  bin/docker-prod
  bin/docker-prod-reset
  bin/docker-qa
  bin/qa
  config/environments/development.rb
  config/environments/test.rb
  db/structure.sql
  docker-compose.test.yml
  docker-entrypoint.sh
  lib/content_seed.rb
  lib/content_test_schema.rb
  lib/tasks/cms.rake
  lib/tasks/eyfs.rake
  manifest.yml
  spec/cms/lib/content_test_schema_spec.rb
  spec/cms/system/training_module_completion_spec.rb
  spec/rails_helper.rb
  spec/support/ast/alpha-fail.yml
  spec/support/ast/alpha-pass.yml
  terraform/workspace-variables/development.tfvars
  ui/drivers/chrome.rb
  ui/drivers/firefox.rb
  ui/e2e_spec.rb
  ui/privacy_policy.spec.rb
  ui/support/ast/child-development-and-the-eyfs.yml
  ui/support/env.rb
  ui/terms_and_conditions_spec.rb
Labels: documentation, terraform, deployed, pipeline

#625 ER-668: Snags
  .github/workflows/qa.yml
  README.md
  app/controllers/training/modules_controller.rb
  app/models/training/content.rb
  app/models/training/module.rb
  app/services/contentful_data_integrity.rb
  app/views/training/questions/show.html.slim
  spec/cms/services/contentful_data_integrity_spec.rb
Labels: documentation, deployed, pipeline

#633 ER-619 Update favicon and opengraph image
  app/assets/images/dfe_favicon.ico
  app/assets/images/eycdt_opengraph.png
  app/views/layouts/application.html.slim
Labels: frontend, deployed

#635 Content team tweaks
  .github/labeler.yml
  app/models/training/module.rb
  app/services/contentful_data_integrity.rb
  app/views/training/modules/_editor_tools.html.slim
  app/views/training/modules/show.html.slim
  cms/CONTENTFUL.md
  cms/migrate/01-create-page.js
  cms/migrate/02-create-question.js
  cms/migrate/03-create-video.js
  cms/migrate/04-create-training-module.js
Labels: documentation, deployed, content, pipeline

#639 Content team tweaks (#2)
  app/models/training_module.rb
  app/models/user.rb
  cms/migrate/02-create-question.js
  cms/migrate/04-create-training-module.js
  config/initializers/grover.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed, content
