Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2023-06, with the labels that each got.

#647 CMS bugs
  app/controllers/training/assessments_controller.rb
  app/controllers/training/responses_controller.rb
  app/models/questionnaire.rb
  app/models/training_module.rb
  app/models/user.rb
  app/services/contentful_assessment_progress.rb
  app/services/contentful_course_progress.rb
  app/services/course_progress.rb
  lib/content_seed.rb
  lib/tasks/eyfs.rake
  spec/cms/system/summative_assessment_spec.rb
  spec/system/summative_questionnaire_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed

#656 ER-673-create-terraform-configuration-dev
  terraform-azure/LICENSE
  terraform-azure/README.md
  terraform-azure/main.tf
  terraform-azure/outputs.tf
  terraform-azure/terraform-azure-remote-state/LICENSE
  terraform-azure/terraform-azure-remote-state/README.md
  terraform-azure/terraform-azure-remote-state/main.tf
  terraform-azure/terraform-azure-remote-state/variables.tf
  terraform-azure/terraform.tf
  terraform-azure/variables.tf
Labels: terraform

#657 CMS snags
  app/helpers/link_helper.rb
  app/models/training/content.rb
  app/models/training/question.rb
  app/models/user.rb
  app/services/contentful_data_integrity.rb
  cms/migrate/01-create-page.js
  cms/migrate/02-create-question.js
  cms/migrate/03-create-video.js
  cms/migrate/04-create-training-module.js
  lib/seed_course_entries.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed, content

#658 ER-674-create-github-actions-workflow
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/tf-azure-deploy-dev.yml
  .github/workflows/tf-azure-unit-tests.yml
  terraform-azure/main.tf
  terraform-azure/terraform-azure-remote-state/main.tf
  terraform-azure/terraform.tf
  terraform-azure/variables.tf
Labels: terraform, pipeline

#666 CMS webhook update and pre-release checks
  .github/workflows/ci.yml
  app/controllers/hook_controller.rb
  app/models/concerns/caching.rb
  cms/CONTENTFUL.md
  cms/migrate/01-create-page.js
  cms/migrate/02-create-question.js
  cms/migrate/03-create-video.js
  cms/migrate/04-create-training-module.js
  config/application.rb
  config/locales/en.yml
  config/locales/static/promotional_materials.yml
  data/demo-modules.yml
  spec/cms/config_spec.rb
  spec/system/page_title_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: documentation, terraform, content, pipeline

#670 enable cms in staging
  terraform/workspace-variables/app_config.yml
Labels: terraform

#676 disable cms in staging
  terraform/workspace-variables/app_config.yml
Labels: terraform

#679 cms go live
  terraform/workspace-variables/app_config.yml
Labels: terraform

#697 [ER-750] append 'select one' to radio button legend
  app/models/training/question.rb
  data/formative-questionnaires/bravo.yml
  spec/cms/models/training/question_spec.rb
Labels: deployed

#638 ER-665 Non-linear flow
  app/views/training/modules/index.html.slim
  app/views/training_modules/index.html.slim
  data/demo-modules.yml
  data/training-modules.yml
  spec/services/course_progress_spec.rb
  spec/system/my_learning_spec.rb
  terraform/workspace-variables/app_config.yml
Labels: terraform, deployed, content

#695 Revert to Devise default, which uses :html and :turbo_stream
  config/initializers/devise.rb
Labels: deployed
