Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2024-07, with the labels that each got.

#1163 Tidy stylesheets
  app/assets/stylesheets/about.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/assets-page.scss
  app/assets/stylesheets/autocomplete.scss
  app/assets/stylesheets/card.scss
  app/assets/stylesheets/certificate.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/module-overview.scss
  app/assets/stylesheets/print.scss
  app/assets/stylesheets/progress-bar.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/quote.scss
  app/assets/stylesheets/section-bar.scss
  app/assets/stylesheets/section-intro.scss
  app/components/header_component.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  bin/docker-stylelint
  package.json
  yarn.lock
Labels: frontend, review, a11y

#1247 Post-migration tech-debt unifying question types
  app/controllers/training/responses_controller.rb
  app/models/concerns/content_types.rb
  app/models/training/question.rb
  app/models/user.rb
  lib/content_test_schema.rb
  spec/lib/migrate_training_spec.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/training/question_spec.rb
  spec/spec_helper.rb
  spec/support/shared/with_content.rb
  spec/system/confidence_check_spec.rb
  spec/system/formative_question_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/summative_assessment_spec.rb
Labels: review

#1248 ER-1157 DfE Header update
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
  config/initializers/govuk_components.rb
  config/sitemap.rb
  spec/system/registered_user/changing_name_spec.rb
Labels: frontend, review, a11y

#1250 ER-1299 remove close account button
  app/views/user/show.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: frontend

#1257 ER-807 Minor text fix
  app/views/registration/role_types/edit.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
Labels: frontend, review

#1266 Upgrade to the latest stable Ruby version 3.3.4
  .github/workflows/brakeman.yml
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  .github/workflows/qa.yml
  .github/workflows/trivy.yml
  .rubocop.yml
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  package.json
  spec/jobs/mail_job_spec.rb
  yarn.lock
Labels: pipeline, review

#1267 ER-1271 Delete old user_answers and user_assessments tables
  db/migrate/20240717072502_drop_user_answers_table.rb
  db/migrate/20240717072554_drop_user_assessments_table.rb
  db/schema.rb
Labels: review

#1280 Tweak previous link logic when skipping module feedback
  app/decorators/previous_page_decorator.rb
Labels: review

#1281 Retire old and unused site prism specs and related overhead
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/ci.yml
  .github/workflows/qa.yml
  .gitignore
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  bin/docker-build
  bin/docker-certs
  bin/docker-prod
  bin/docker-prod-reset
  bin/docker-qa
  bin/qa
  docker-compose.qa.yml
  ui/drivers/capybara_drivers.rb
  ui/drivers/chrome.rb
  ui/drivers/firefox.rb
  ui/e2e_spec.rb
  ui/home_page_spec.rb
  ui/pages/base.rb
  ui/pages/edit_name.rb
  ui/pages/home.rb
  ui/pages/my_account.rb
  ui/pages/privacy_policy.rb
  ui/pages/sign_in.rb
  ui/pages/terms_and_conditions.rb
  ui/privacy_policy.spec.rb
  ui/profile_management_spec.rb
  ui/sections/footer.rb
  ui/sections/header.rb
  ui/spec_helper.rb
  ui/support/ast/child-development-and-the-eyfs.yml
  ui/support/env.rb
  ui/support/shared/with_guest.rb
  ui/support/shared/with_user.rb
  ui/terms_and_conditions_spec.rb
  ui/ui.rb
Labels: documentation, pipeline

#1282 Add named event for feedback intro to ensure correct buttons
  app/controllers/feedback_controller.rb
  app/decorators/module_overview_decorator.rb
  app/views/training/modules/show.html.slim
  spec/decorators/module_overview_decorator_spec.rb
  spec/system/feedback_spec.rb
  spec/system/module_overview_progress_spec.rb
Labels: bug, frontend, review

#1285 Revert migration and content update
  app/controllers/application_controller.rb
  app/controllers/feedback_controller.rb
  app/helpers/application_helper.rb
  app/views/devise/shared/_form_wrap.html.slim
  app/views/devise/shared/_links.html.slim
  app/views/devise/unlocks/new.html.slim
  app/views/learning/show.html.slim
  app/views/training/assessments/show.html.slim
  app/views/training/pages/certificate.html.slim
  db/migrate/20240717072502_drop_user_answers_table.rb
  db/migrate/20240717072554_drop_user_assessments_table.rb
  db/schema.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/feedback_controller_spec.rb
  spec/system/feedback_spec.rb
Labels: frontend, review

#1288 Remove beta banner
  app/views/about/_hero.html.slim
  app/views/about/show.html.slim
  app/views/home/_hero.html.slim
  app/views/layouts/_banner.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  spec/system/feedback_spec.rb
Labels: frontend, review

#1273 ER-922 Review Summary Page Update
  app/assets/stylesheets/card.scss
  app/assets/stylesheets/module-overview.scss
  app/decorators/module_overview_decorator.rb
  app/views/training/modules/_subsection.html.slim
  config/locales/en.yml
  spec/decorators/module_overview_decorator_spec.rb
  spec/lib/seed_snippets_spec.rb
Labels: frontend, review

#1283 ER-886 Completed module styling update
  app/assets/stylesheets/module-overview.scss
  app/views/learning/show.html.slim
Labels: frontend, review

#1296 ER-886 Completed modules revert change
  app/views/learning/show.html.slim
Labels: frontend, review
