Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2024-02, with the labels that each got.

#1067 ER-924 LA list update
  data/local-authority.yml
Labels: content, review

#1070 ER-924 Update wording for updated LA list
  app/forms/registration/local_authority_form.rb
  data/local-authority.yml
Labels: content, review

#1076 Bump all dependencies to address dependabot and trivy alerts
  Gemfile
  Gemfile.lock
  app/models/user_answer.rb
  db/schema.rb
  docker-entrypoint.sh
  package.json
  yarn.lock
Labels: bug, dependencies, review

#1077 disable deployment of candidates and releases via push
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

#1079 General refactoring
  README.md
  adr/0004-authentication.md
  adr/0010-postcodes.md
  adr/0016-password-vulnerability.md
  adr/0017-external-authentication.md
  adr/ADR.md
  app/controllers/concerns/tracking.rb
  app/controllers/registration/terms_and_conditions_controller.rb
  app/controllers/training/assessments_controller.rb
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/forms/form_builder.rb
  app/forms/form_option.rb
  app/helpers/content_helper.rb
  app/models/data_analysis/module_overview.rb
  app/models/data_analysis/returning_users.rb
  app/models/data_analysis/user_module_order.rb
  app/models/data_analysis/user_overview.rb
  app/models/event.rb
  app/models/user.rb
  app/models/visit.rb
  app/services/content_changes.rb
  app/services/course_progress.rb
  app/services/dashboard.rb
  app/services/module_progress.rb
  app/views/ahoy/events/_event.html.slim
  app/views/ahoy/visits/_visit.html.slim
  app/views/registration/early_years_emails/edit.html.slim
  app/views/registration/training_emails/edit.html.slim
  app/views/user/edit_training_emails.html.slim
  bin/cf-task
  config/cable.yml
  config/initializers/ahoy.rb
  config/initializers/content_security_policy.rb
  data/KPI.md
  db/migrate/20240214175923_remove_ahoy_namespace.rb
  db/schema.rb
  lib/content_seed.rb
  package.json
  policy.json
  spec/factories/event.rb
  spec/factories/visit.rb
  spec/lib/fill_page_views_spec.rb
  spec/models/ahoy/event_spec.rb
  spec/models/ahoy/visit_spec.rb
  spec/models/concerns/to_csv_spec.rb
  spec/models/data_analysis/returning_users_spec.rb
  spec/models/user_spec.rb
  spec/support/shared/with_events.rb
  spec/system/training_module_completion_spec.rb
  yarn.lock
Labels: documentation, adr, frontend, review

#1089 End of module feedback form and main feedback form
  .github/workflows/ci.yml
  app/controllers/application_controller.rb
  app/controllers/concerns/learning.rb
  app/controllers/feedback_controller.rb
  app/controllers/training/pages_controller.rb
  app/controllers/training/questions_controller.rb
  app/controllers/training/responses_controller.rb
  app/decorators/module_overview_decorator.rb
  app/decorators/next_page_decorator.rb
  app/decorators/pagination_decorator.rb
  app/forms/form_builder.rb
  app/helpers/link_helper.rb
  app/models/concerns/content_types.rb
  app/models/concerns/pagination.rb
  app/models/guest.rb
  app/models/response.rb
  app/models/training/content.rb
  app/models/training/module.rb
  app/models/training/question.rb
  app/models/user.rb
  app/views/feedback/index.html.slim
  app/views/feedback/show.html.slim
  app/views/feedback/thank_you.html.slim
  app/views/training/modules/_section.html.slim
  app/views/training/modules/show.html.slim
  app/views/training/pages/_content.html.slim
  app/views/training/pages/section_intro.html.slim
  app/views/training/questions/_main_feedback_check_boxes.html.slim
  app/views/training/questions/_main_feedback_radio_buttons.html.slim
  app/views/training/questions/_opinion_radio_buttons.html.slim
  config/application.rb
  config/credentials/production.yml.enc
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240131135344_change_training_module_in_responses.rb
  db/migrate/20240207105459_add_text_input_to_responses.rb
  db/schema.rb
  lib/content_test_schema.rb
  spec/config_spec.rb
  spec/controllers/feedback_controller_spec.rb
  spec/controllers/training/responses_controller_spec.rb
  spec/decorators/pagination_decorator_spec.rb
  spec/helpers/link_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/models/concerns/content_types_spec.rb
  spec/models/course_spec.rb
  spec/models/data_analysis/confidence_check_scores_spec.rb
  spec/models/data_analysis/high_fail_questions_spec.rb
  spec/models/response_spec.rb
  spec/models/training/module_spec.rb
  spec/models/training/question_spec.rb
  spec/models/training/response_spec.rb
  spec/support/ast/alpha-pass.yml
  spec/support/shared/with_content.rb
  spec/support/shared/with_progress.rb
  spec/system/common_page_spec.rb
  spec/system/event_log_spec.rb
  spec/system/module_overview_content_spec.rb
  spec/system/module_overview_progress_spec.rb
  spec/system/opinion_spec.rb
Labels: documentation, frontend, content, pipeline
