Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2024-10, with the labels that each got.

#1344 EYCDTK-66 Contact us link removal in footer
  app/views/layouts/_footer.html.slim
Labels: frontend

#1367 Bump aquasecurity/trivy-action from 0.24.0 to 0.28.0
  .github/workflows/trivy.yml
Labels: pipeline

#1371 EYCDTK-52 Cookie banner update
  app/assets/stylesheets/application.scss
  app/views/settings/cookie_policy.html.slim
Labels: frontend, review

#1373 EYCDTK-51-Enhance back link
  app/assets/stylesheets/application.scss
Labels: frontend, a11y
