Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2024-01, with the labels that each got.

#1011 ER-892 Assessment Results Banner styling update
  app/assets/stylesheets/application.scss
  app/views/training/assessments/show.html.slim
Labels: frontend, review

#1020 GovOne authentication integration changes
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/pa11y.yml
  .github/workflows/qa.yml
  .yardopts
  GOV_ONE.md
  README.md
  RELEASE.md
  app/controllers/gov_one_controller.rb
  app/controllers/users/sessions_controller.rb
  app/helpers/application_helper.rb
  app/helpers/link_helper.rb
  app/models/data_analysis/user_overview.rb
  app/models/user.rb
  app/views/about/_enrol.html.slim
  app/views/devise/sessions/gov_one.html.slim
  app/views/home/_enrol_buttons.html.slim
  app/views/home/_prompt.html.slim
  app/views/home/index.html.slim
  app/views/learning/_cms_debug.html.slim
  bin/docker-pa11y
  bin/docker-qa
  cms/CONTENTFUL.md
  config/application.rb
  config/initializers/content_security_policy.rb
  config/routes.rb
  config/sitemap.rb
  docker-compose.dev.yml
  docker-compose.qa.yml
  docker-entrypoint.pa11y.sh
  docker-entrypoint.sh
  lib/seed_images.rb
  manifest.yml
  spec/factories/users.rb
  spec/helpers/content_helper_spec.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/rails_helper.rb
  spec/requests/authentication_spec.rb
  spec/support/shared/with_user.rb
  spec/system/account_page_spec.rb
  spec/system/confirmed_user/completing_registration_spec.rb
  spec/system/forgotten_password_spec.rb
  spec/system/front_page_spec.rb
  spec/system/gov_one_info_spec.rb
  spec/system/gov_one_spec.rb
  spec/system/sign_in_spec.rb
  spec/system/whats_new_page_spec.rb
  ui/pages/sign_in.rb
  uml/deployment.puml
Labels: documentation, frontend, pipeline, review, a11y

#1038 ER-872 GovOne Banner
  app/controllers/home_controller.rb
  app/views/layouts/_flash.html.slim
  config/locales/en.yml
  spec/lib/seed_snippets_spec.rb
  spec/system/front_page_spec.rb
Labels: frontend, review

#1044 CMS powered site-wide config
  .env.example
  .rubocop_todo.yml
  app/controllers/application_controller.rb
  app/controllers/close_accounts_controller.rb
  app/forms/form_builder.rb
  app/helpers/application_helper.rb
  app/helpers/content_helper.rb
  app/models/course.rb
  app/models/user.rb
  app/views/layouts/_footer.html.slim
  cms/migrate/00-create-static.js
  cms/migrate/01-create-page.js
  cms/migrate/02-create-question.js
  cms/migrate/03-create-video.js
  cms/migrate/04-create-training-module.js
  cms/migrate/05-create-resource.js
  cms/migrate/07-create-course.js
  config/application.rb
  config/initializers/contentful_rails.rb
  config/initializers/govuk_components.rb
  config/puma.rb
  spec/config_spec.rb
  spec/helpers/content_helper_spec.rb
  spec/models/course_spec.rb
Labels: frontend, content

#1052 Force confirmation when destroying containers
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

#1051 ER-893 Certificate design
  Dockerfile
  app/assets/images/certificate-sample.png
  app/assets/stylesheets/about.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/certificate.scss
  app/assets/stylesheets/print-link.scss
  app/assets/stylesheets/print.scss
  app/assets/stylesheets/prompt.scss
  app/assets/stylesheets/quote.scss
  app/assets/stylesheets/section-bar.scss
  app/assets/stylesheets/section-intro.scss
  app/controllers/training/pages_controller.rb
  app/helpers/content_helper.rb
  app/views/close_accounts/confirm.html.slim
  app/views/layouts/_flash.html.slim
  app/views/notes/show.html.slim
  app/views/training/pages/certificate.html.slim
  config/initializers/grover.rb
  spec/controllers/training/pages_controller_spec.rb
Labels: frontend, review, a11y

#1018 ER-898 CMS model evolution
  RELEASE.md
  app/models/training/module.rb
  app/services/assessment_progress.rb
  app/services/content_integrity.rb
  app/views/about/_sidebar.html.slim
  app/views/about/show.html.slim
  app/views/learning/_card.html.slim
  app/views/learning/show.html.slim
  app/views/training/modules/show.html.slim
  cms/CONTENTFUL.md
  cms/migrate/04-create-training-module.js
  config/locales/en.yml
  spec/models/training/module_spec.rb
  spec/requests/snippets_spec.rb
Labels: documentation, frontend, content, review
