Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2024-05, with the labels that each got.

#1161 Mailer jobs which use root_url helpers require DOMAIN to function
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline

#1178 Remove retired account management
  app/views/user/check_email_confirmation.html.slim
  app/views/user/check_email_password_reset.html.slim
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  spec/helpers/content_helper_spec.rb
  spec/lib/seed_snippets_spec.rb
Labels: frontend, review, a11y

#1181 ER-1147: guard against mail delivery errors
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-stage.yml
  .github/workflows/notify-callback.yml
  app/controllers/hook_controller.rb
  app/jobs/application_job.rb
  app/mailers/notify_mailer.rb
  config/initializers/govuk_notify_rails.rb
  config/routes.rb
  db/migrate/20240515094114_add_notify_callback_to_users.rb
  db/schema.rb
  spec/mailers/notify_mailer_spec.rb
  spec/requests/webhooks_spec.rb
Labels: bug, pipeline, review

#1183 Update Que-RB's scheduler to version 8
  .github/workflows/notify-callback.yml
  db/migrate/20230224151527_create_que_scheduler_schema.rb
  db/migrate/20240515120000_update_que_scheduler_schema.rb
  db/schema.rb
Labels: bug, dependencies, pipeline

#1180 Better sentry logging
  app/controllers/application_controller.rb
  app/controllers/concerns/logging.rb
  app/controllers/home_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/training/pages_controller.rb
  app/controllers/training/questions_controller.rb
  config/puma.rb
Labels: review

#1184 Job scopes and auto expiration
  app/jobs/application_job.rb
  app/jobs/content_check_job.rb
  app/jobs/fill_page_views_job.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/models/job.rb
  config/application.rb
  config/initializers/govuk_notify_rails.rb
  config/initializers/que.rb
Labels: review

#1151 ER-988: Remove timeout modal functionality
  .env.example
  README.md
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/modal.scss
  app/controllers/application_controller.rb
  app/controllers/timeout_controller.rb
  app/helpers/timeout_helper.rb
  app/javascript/application.js
  app/javascript/controllers/application.js
  app/javascript/controllers/autocomplete_controller.js
  app/javascript/controllers/index.js
  app/javascript/timeout-warning.js
  app/views/layouts/_flash.html.slim
  app/views/layouts/_timeout.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  app/views/timeout/timeout_user.html.slim
  config/application.rb
  config/initializers/devise.rb
  config/locales/en.yml
  config/routes.rb
  config/sitemap.rb
  docker-compose.qa.yml
  spec/config_spec.rb
  spec/controllers/training/modules_controller_spec.rb
  spec/lib/seed_snippets_spec.rb
  spec/requests/static_spec.rb
  spec/requests/timeout_warning_spec.rb
  spec/system/page_title_spec.rb
  spec/system/timeout_modal_spec.rb
Labels: documentation, frontend, review

#1199 Mail metrics
  .github/workflows/azure-deploy-dev.yml
  app/jobs/test_bulk_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/data_analysis/user_overview.rb
  app/models/user.rb
  spec/models/data_analysis/user_overview_spec.rb
  spec/models/user_spec.rb
Labels: pipeline

#1176 Form Refactor
  app/forms/form_builder.rb
  app/forms/registration/early_years_experiences_form.rb
  app/views/registration/early_years_experiences/edit.html.slim
Labels: frontend, review

#1209 Notification banner spacing update
  app/assets/stylesheets/application.scss
Labels: frontend, review
