Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2024-06, with the labels that each got.

#1208 Mail event log, metrics and scopes
  .env.example
  .rubocop_todo.yml
  app/controllers/close_accounts_controller.rb
  app/controllers/notify_controller.rb
  app/controllers/user_controller.rb
  app/jobs/application_job.rb
  app/jobs/complete_registration_mail_job.rb
  app/jobs/continue_training_mail_job.rb
  app/jobs/mail_job.rb
  app/jobs/new_module_mail_job.rb
  app/jobs/start_training_mail_job.rb
  app/jobs/test_bulk_mail_job.rb
  app/mailers/notify_mailer.rb
  app/models/job.rb
  app/models/mail_event.rb
  app/models/training/module.rb
  app/models/user.rb
  config/initializers/contentful_rails.rb
  config/initializers/govuk_notify_rails.rb
  db/migrate/20240525053022_create_mail_event.rb
  db/schema.rb
  spec/factories/job.rb
  spec/factories/mail_events.rb
  spec/factories/users.rb
  spec/jobs/application_job_spec.rb
  spec/jobs/complete_registration_mail_job_spec.rb
  spec/jobs/continue_training_mail_job_spec.rb
  spec/jobs/mail_job_spec.rb
  spec/jobs/new_module_mail_job_spec.rb
  spec/jobs/start_training_mail_job_spec.rb
  spec/jobs/test_bulk_mail_job_spec.rb
  spec/models/event_spec.rb
  spec/models/job_spec.rb
  spec/models/mail_event_spec.rb
  spec/models/user_spec.rb
  spec/models/visit_spec.rb
  spec/requests/webhooks_spec.rb
  spec/support/shared/email_prompt.rb
  spec/system/registered_user/closing_account_spec.rb
Labels: review

#1219 ER-1218 closing GovOne accounts
  app/controllers/registration/early_years_emails_controller.rb
  app/controllers/registration/early_years_experiences_controller.rb
  app/controllers/registration/names_controller.rb
  app/controllers/registration/setting_types_controller.rb
  app/controllers/registration/terms_and_conditions_controller.rb
  app/controllers/registration/training_emails_controller.rb
  app/javascript/application.js
  app/models/user.rb
  spec/models/user_spec.rb
Labels: frontend

#1215 ER-1187 Aria landmark update
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend, review

#1223 Update to ensure govuk_skip_link links to main content
  .github/workflows/pa11y.yml
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
Labels: frontend, pipeline, review, a11y

#1230 Assessment auto migration
  app/jobs/data_migration_job.rb
  config/initializers/que.rb
  db/migrate/20240616092250_add_state_to_user_answer.rb
  db/schema.rb
  lib/migrate_training.rb
  lib/tasks/eyfs.rake
  spec/lib/migrate_training_spec.rb
Labels: bug, ruby
