Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2025-04, with the labels that each got.

#1475 Revert option changes
  data/role-type.yml
Labels: content

#1476 EYCDTK-343 Update terraform config
  .github/workflows/tf-azure-deploy.yml
Labels: pipeline

#1480 Update focus to false in notes _form
  app/views/notes/_form.html.slim
Labels: a11y
