Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2025-08, with the labels that each got.

#1531 EYCDTK-470 - Resize Text fix
  app/assets/stylesheets/prompt.scss
Labels: frontend

#1559 EYCDTK-605 Contentful updates
  app/controllers/release_controller.rb
  spec/controllers/release_controller_spec.rb
  spec/requests/webhooks_spec.rb
Labels: bug

#1550 DTK-461 - GOV.UK Rebrand
  .trivyignore
  app/assets/images/dfe-logo-alt.png
  app/assets/images/dfe-logo.png
  app/assets/images/dfe_favicon.ico
  app/assets/stylesheets/header.scss
  app/components/header_component.html.slim
  app/components/header_component.rb
  app/helpers/application_helper.rb
  app/views/layouts/_analytics_body.html.slim
  app/views/layouts/_analytics_header.html.slim
  app/views/layouts/application.html.slim
  app/views/layouts/hero.html.slim
  package.json
  yarn.lock
Labels: frontend

#1496 BV-sentry-config
  .github/workflows/ci.yml
  .github/workflows/cms-search.yml
  .github/workflows/cms-validate.yml
  Dockerfile
  config/application.rb
  config/initializers/sentry.rb
Labels: pipeline
