Repository DFE-Digital/early-years-foundation-recovery, pull requests merged in 2025-06, with the labels that each got.

#1518 Azure deploy teardown repairs
  .github/workflows/azure-deploy-dev.yml
  .github/workflows/azure-deploy-prod.yml
  .github/workflows/azure-deploy-review.yml
  .github/workflows/azure-deploy-stage.yml
Labels: pipeline, review

#1519 EYCDTK-463 Review teardown version update
  .github/workflows/azure-deploy-review-teardown.yml
Labels: review

#1521 Update role model so it accepts an optional hint text
  app/models/trainee/role.rb
  app/views/registration/role_types/edit.html.slim
  data/role-type.yml
Labels: frontend, content
